In [1]:
import json
import pandas as pd
from tqdm import tqdm_notebook
from IPython.display import HTML, display
import tabulate
import sqlite3
from sqlite3 import Error
import random
import copy
import math


human_labels = ('woman', 'men', 'boy', 'kid', 'child', 'guy', 'man', 'person', 'girl', 'lady', 'people')

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [3]:
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()


cur.execute("SELECT object_1,relation,object_2, count(*) FROM relations WHERE dataset_name=? and object1_score > 0.15 and object2_score > 0.15 and relation_score > 0.20 GROUP BY object_1,relation,object_2  ORDER BY count(*) DESC", ('Eurocity',))

rows = cur.fetchall()

head = ["Object_1", "Relation", "Object_2", "Count"]
table = []

for row in rows:
    table.append(row)

r_eurocity_df = pd.DataFrame(table, columns =head) 
r_eurocity_df

     Object_1    Relation  Object_2  Count
0    building      behind       man  13315
1    building      behind    person  11261
2      person  walking on    street   8611
3      person  walking on  sidewalk   7407
4         man  walking on    street   6689
..        ...         ...       ...    ...
677     woman    watching       boy      1
678     woman    watching       dog      1
679     woman    watching     light      1
680     woman    watching  umbrella      1
681     woman     wearing     glass      1

[682 rows x 4 columns]

In [4]:
r_eurocity_df

     Object_1    Relation  Object_2  Count
0    building      behind       man  13315
1    building      behind    person  11261
2      person  walking on    street   8611
3      person  walking on  sidewalk   7407
4         man  walking on    street   6689
..        ...         ...       ...    ...
677     woman    watching       boy      1
678     woman    watching       dog      1
679     woman    watching     light      1
680     woman    watching  umbrella      1
681     woman     wearing     glass      1

[682 rows x 4 columns]

In [6]:
r_eurocity_df['images'] = ""
# import json
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()

# rel_dict = dict()

for index, row in r_eurocity_df.iterrows():
# for index, row in tqdm_notebook(r_eurocity_df.iterrows()):
#     print(f"{r_eurocity_df.at[index, 'Object_1']}, {r_eurocity_df.at[index, 'Relation']}, {r_eurocity_df.at[index, 'Object_2']}")
    q_in = ('Eurocity' ,row['Object_1'], row['Relation'], row['Object_2'])
    cur.execute("SELECT image_name FROM relations WHERE dataset_name=? and object_1=? and relation=? and object_2=? and object1_score > 0.15 and object2_score > 0.15 and relation_score > 0.20", q_in)
    rows = cur.fetchall()
    t_st = set()
    for r in rows:
        t_st.add(r[0])
#         im_set.add(r)
    r_eurocity_df.at[index, 'images'] = list(t_st)

r_eurocity_df

,Object_1,Relation,Object_2,Count,images
0,building,behind,man,13315,"[pisa_00073, prague_00988, dresden_00372, mars..."
1,building,behind,person,11261,"[marseille_00950, toulouse_00264, budapest_006..."
2,person,walking on,street,8611,"[marseille_00950, toulouse_00264, budapest_006..."
3,person,walking on,sidewalk,7407,"[bologna_00250, roma_00936, marseille_00950, b..."
4,man,walking on,street,6689,"[prague_00264, pisa_00073, amsterdam_01004, mi..."
...,...,...,...,...,...
677,woman,watching,boy,1,[firenze_00429]
678,woman,watching,dog,1,[milano_00406]
679,woman,watching,light,1,[budapest_00267]
680,woman,watching,umbrella,1,[nuernberg_00039]
681,woman,wearing,glass,1,[hamburg_00571]

In [7]:
im_list = r_eurocity_df.images.to_list()

In [8]:
len(set(im_list[677]))

1

In [9]:
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()


cur.execute("SELECT object_1,relation,object_2, count(*) FROM relations WHERE dataset_name=? GROUP BY object_1,relation,object_2  ORDER BY count(*) DESC", ('Caltech',))

rows = cur.fetchall()

head = ["Object_1", "Relation", "Object_2", "Count"]
table = []

for row in rows:
    table.append(row)

r_caltech_df = pd.DataFrame(table, columns =head)

In [10]:
r_caltech_df['images'] = ""
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()

rel_dict = dict()
for index, row in r_caltech_df.iterrows():
    q_in = ('Caltech' ,row['Object_1'], row['Relation'], row['Object_2'])
    cur.execute("SELECT image_name FROM relations WHERE dataset_name=? and object_1=? and relation=? and object_2=?", q_in)
    rows = cur.fetchall()
    t_st = set()
    for r in rows:
        t_st.add(r[0])
    r_caltech_df.at[index, 'images'] = list(t_st)

r_caltech_df

,Object_1,Relation,Object_2,Count,images
0,person,walking on,street,2734,"[set04_V002_1717, set01_V004_1374, set00_V014_..."
1,person,walking on,sidewalk,2277,"[set04_V002_1717, set03_V008_599, set01_V004_1..."
2,building,behind,person,1629,"[set04_V002_1717, set00_V002_361, set01_V004_2..."
3,man,walking on,street,1456,"[set04_V002_1717, set01_V004_1374, set00_V014_..."
4,tree,behind,person,1329,"[set04_V002_1717, set04_V008_1119, set01_V004_..."
...,...,...,...,...,...
551,woman,walking on,fence,1,[set04_V005_1638]
552,woman,watching,boy,1,[set00_V013_19]
553,woman,watching,car,1,[set00_V008_1476]
554,woman,watching,light,1,[set02_V010_494]
555,woman,watching,vehicle,1,[set00_V008_1476]

In [11]:
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()


cur.execute("SELECT object_1,relation,object_2, count(*) FROM relations WHERE dataset_name=? and object1_score > 0.15 and object2_score > 0.15 and relation_score > 0.20 GROUP BY object_1,relation,object_2  ORDER BY count(*) DESC", ('CityPerson',))

rows = cur.fetchall()

head = ["Object_1", "Relation", "Object_2", "Count"]
table = []

for row in rows:
    table.append(row)

r_cityperson_df = pd.DataFrame(table, columns =head) 
r_cityperson_df

     Object_1    Relation    Object_2  Count
0    building      behind         man   1746
1    building      behind      person   1239
2      person  walking on    sidewalk   1071
3      person  walking on      street    909
4        tree      behind         man    889
..        ...         ...         ...    ...
259     woman  looking at        tree      1
260     woman      riding  motorcycle      1
261     woman  sitting on       bench      1
262     woman  sitting on       chair      1
263     woman     wearing         hat      1

[264 rows x 4 columns]

In [12]:

r_cityperson_df['images'] = ""
database = r"person.db"
im_set = set()
# create a database connection
conn = create_connection(database)
cur = conn.cursor()
for index, row in r_cityperson_df.iterrows():
    q_in = ('CityPerson' ,row['Object_1'], row['Relation'], row['Object_2'])
    cur.execute("SELECT image_name FROM relations WHERE dataset_name=? and object_1=? and relation=? and object_2=? and object1_score > 0.15 and object2_score > 0.15 and relation_score > 0.20", q_in)
    rows = cur.fetchall()
    t_st = set()
    for r in rows:
        t_st.add(r[0])
        im_set.add(r[0])
#         for el in r:
#             im_set.add(el)
    r_cityperson_df.at[index, 'images'] = list(t_st)

r_cityperson_df
# len(im_set)

,Object_1,Relation,Object_2,Count,images
0,building,behind,man,1746,"[aachen_000140_000019_leftImg8bit, strasbourg_..."
1,building,behind,person,1239,"[aachen_000140_000019_leftImg8bit, monchenglad..."
2,person,walking on,sidewalk,1071,"[zurich_000077_000019_leftImg8bit, cologne_000..."
3,person,walking on,street,909,"[strasbourg_000000_029915_leftImg8bit, zurich_..."
4,tree,behind,man,889,"[aachen_000140_000019_leftImg8bit, weimar_0001..."
...,...,...,...,...,...
259,woman,looking at,tree,1,[bochum_000000_009554_leftImg8bit]
260,woman,riding,motorcycle,1,[dusseldorf_000165_000019_leftImg8bit]
261,woman,sitting on,bench,1,[hamburg_000000_098061_leftImg8bit]
262,woman,sitting on,chair,1,[hamburg_000000_052122_leftImg8bit]
263,woman,wearing,hat,1,[stuttgart_000055_000019_leftImg8bit]

In [13]:
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()


cur.execute("SELECT object_1,relation,object_2, count(*) FROM relations WHERE dataset_name=? GROUP BY object_1,relation,object_2  ORDER BY count(*) DESC", ('CrowdHuman',))

rows = cur.fetchall()

head = ["Object_1", "Relation", "Object_2", "Count"]
table = []

for row in rows:
    table.append(row)

r_crowdhuman_df = pd.DataFrame(table, columns =head) 
# crowdhuman_df

In [14]:
r_crowdhuman_df['images'] = ""
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()
for index, row in r_crowdhuman_df.iterrows():
    q_in = ('CrowdHuman' ,row['Object_1'], row['Relation'], row['Object_2'])
    cur.execute("SELECT image_name FROM relations WHERE dataset_name=? and object_1=? and relation=? and object_2=?", q_in)
    rows = cur.fetchall()
    t_st = set()
    for r in rows:
        t_st.add(r[0])
    r_crowdhuman_df.at[index, 'images'] = list(t_st)

r_crowdhuman_df

,Object_1,Relation,Object_2,Count,images
0,man,watching,man,14390,"[283554,2d29e0002a1f82bc, 273278,18a02000baf60..."
1,person,watching,man,12557,"[282555,e931a000e28f6736, 273278,18a02000baf60..."
2,building,behind,man,10467,"[283991,1e6db0005787f070, 273275,13523000e293f..."
3,man,wearing,shirt,8989,"[273278,97d7f00040d24761, 273278,18a02000baf60..."
4,building,behind,woman,8893,"[273278,d55e80001820386b, 283554,190fa0000ed91..."
...,...,...,...,...,...
1215,woman,watching,kid,1,"[284193,1b30f00097a44d6f]"
1216,woman,watching,letter,1,"[273275,13d0a00096a29505]"
1217,woman,watching,skier,1,"[282555,2324f000246e605b]"
1218,woman,watching,tail,1,"[273278,34dfc00090520457]"
1219,woman,wearing,logo,1,"[273271,69a80006c4e599f]"

In [15]:
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()


cur.execute("SELECT object_1,relation,object_2, count(*) FROM relations WHERE dataset_name=? GROUP BY object_1,relation,object_2  ORDER BY count(*) DESC", ('WiderPerson',))

rows = cur.fetchall()

head = ["Object_1", "Relation", "Object_2", "Count"]
table = []

for row in rows:
    table.append(row)

r_widerperson_df = pd.DataFrame(table, columns=head) 
r_widerperson_df

     Object_1  Relation  Object_2  Count
0      person  watching       man  11914
1         man  watching       man   9635
2      person  watching     woman   7488
3    building    behind       man   5864
4      person   wearing     shirt   4921
..        ...       ...       ...    ...
593     woman   holding    bottle      1
594     woman   holding      kite      1
595     woman     under  umbrella      1
596     woman  watching       cow      1
597     woman  watching       kid      1

[598 rows x 4 columns]

In [16]:
r_widerperson_df['images'] = ""
database = r"person.db"

# create a database connection
conn = create_connection(database)
cur = conn.cursor()
for index, row in r_widerperson_df.iterrows():
    q_in = ('WiderPerson' ,row['Object_1'], row['Relation'], row['Object_2'])
    cur.execute("SELECT image_name FROM relations WHERE dataset_name=? and object_1=? and relation=? and object_2=?", q_in)
    rows = cur.fetchall()
    t_st = set()
    for r in rows:
        t_st.add(r[0])
    r_widerperson_df.at[index, 'images'] = list(t_st)

r_widerperson_df

,Object_1,Relation,Object_2,Count,images
0,person,watching,man,11914,"[014779, 008002, 015392, 010801, 009860, 01796..."
1,man,watching,man,9635,"[000417, 010151, 010801, 009860, 017967, 02053..."
2,person,watching,woman,7488,"[012916, 013018, 006539, 010801, 000372, 00524..."
3,building,behind,man,5864,"[014779, 012916, 013018, 010151, 008002, 00037..."
4,person,wearing,shirt,4921,"[001886, 007904, 003440, 006032, 014160, 00440..."
...,...,...,...,...,...
593,woman,holding,bottle,1,[009185]
594,woman,holding,kite,1,[018589]
595,woman,under,umbrella,1,[010318]
596,woman,watching,cow,1,[013810]
597,woman,watching,kid,1,[012026]

In [18]:
def setA_setB(A, B):
    """
    set A - set B
    """
    common_list = []
    diff_set = []
    comm_set = []
    for idx, row in A.iterrows():
        index_list = B[(B['Object_1'] == row['Object_1'])&(B['Relation'] == row['Relation'])&(B['Object_2'] == row['Object_2'])].index.tolist()
        if not index_list:
           diff_set.append(idx) 
        else:
           comm_set.append(idx)
    diff_cp = A.iloc[diff_set]
    com_cp = A.iloc[comm_set]
    return diff_cp, com_cp

def find_quantile(diff_set,q=0.95, max_im=20):
    quantile_95 = diff_set[diff_set.Count > diff_set.Count.quantile(q)]
    quantile_95 = quantile_95.sort_values('Count', ascending=False)
    quantile_95.reset_index(drop=True, inplace=True)
    quantile_95['count_down'] = max_im
#     im_to_add = []
    for index, row in quantile_95.iterrows():
        if len(quantile_95.at[index, 'images']) > quantile_95.at[index, 'count_down']:
            s_images = random.sample(quantile_95.at[index, 'images'], quantile_95.at[index, 'count_down'])
            quantile_95.at[index, 'images'] = s_images
        else:
            s_images = quantile_95.at[index, 'images']
        quantile_95.at[index, 'count_down'] = quantile_95.at[index, 'count_down'] - len(s_images)
#         im_to_add.extend(s_images)

#     im_to_add = list(set(im_to_add))
#     return im_to_add, quantile_95
    return quantile_95

def splite_data(data_df, train_size=0.55, val_size=0.1, test_size=0.35):
    data_df = copy.deepcopy(data_df)
    all_images = list(set([item for sublist in data_df['images'].tolist() for item in sublist]))
    train_images = random.sample(all_images, int(len(all_images) * train_size))
    rem_images = list(set(all_images).difference(set(train_images)))
    val_images = random.sample(rem_images, int(math.ceil(len(all_images) * val_size)))
    test_images = list(set(all_images).difference(set(train_images).union(set(val_images))))
    
#     print(set(train_images).intersection(set(val_images)))

    assert len(all_images) == len(train_images) + len(val_images) + len(test_images)
    assert len(set(train_images).intersection(set(val_images))) == 0
    assert len(set(train_images).intersection(set(test_images))) == 0
    assert len(set(val_images).intersection(set(test_images))) == 0
    return train_images, val_images, test_images

def concat_df(df_list):
    bigdata = copy.deepcopy(df_list[0])
    for el in df_list[1:]:
        bigdata = bigdata.append(el, ignore_index=True)
    return bigdata

def find_index_of_images(img_df, image_name_list=None):
    index_id_list = []
    for el in image_name_list:
        index_ids = img_df.index[img_df['file_name'].str.contains(el)].tolist()
        image_id = [img_df.at[idx, 'id'] for idx in index_ids]
        if len(image_id) != 1:
            print(el, image_id)
        assert len(image_id) == 1
        index_id_list.append(index_ids[0])
    return index_id_list

def create_ann_df(ann_df, index_list):
    selected_ann_df = ann_df[ann_df['image_id'].isin([index_list[0] + 1])]
    for el in index_list[1:]:
        selected_ann_df = pd.concat([selected_ann_df,ann_df[ann_df['image_id'].isin([el + 1])]])
    return selected_ann_df

def create_img_df(img_df, index_list):
    selected_img_df = img_df.loc[[index_list[0]]]
    for el in index_list[1:]:
        selected_img_df = pd.concat([selected_img_df,img_df.loc[[el]]])
    return selected_img_df

def update_img_ids(aug_img_df, row=None, dataset='other'):
    last_id = aug_img_df.at[aug_img_df.index[-1], 'id']
    concat_df = pd.concat([aug_img_df, row])
    concat_df.reset_index(drop=True, inplace=True)
    concat_df.at[concat_df.index[-1], 'id'] = last_id + 1
    return last_id + 1, concat_df

def uodate_id_in_image_ann(selected_img_df, aug_img_df, selected_ann_df, dt='other'):
    selected_img_df = selected_img_df.sort_values('id')
    if dt == 'ch':
        selected_ann_df['height'] = ""
        selected_ann_df['width'] = ""
        for idx, row in selected_img_df.iterrows():
            new_image_id, aug_img_df = update_img_ids(aug_img_df, row=selected_img_df.loc[[idx]], dataset='ch')
            
            selected_ann_df.loc[selected_ann_df['image_id'] == idx + 1, 'height'] = aug_img_df.at[new_image_id -1, 'height']
            selected_ann_df.loc[selected_ann_df['image_id'] == idx + 1, 'width'] = aug_img_df.at[new_image_id -1, 'width']
            
            selected_ann_df.loc[selected_ann_df['image_id'] == idx + 1, 'image_id'] = new_image_id

    else:
        for idx, row in selected_img_df.iterrows():
            new_image_id, aug_img_df = update_img_ids(aug_img_df, row=selected_img_df.loc[[idx]])
            selected_ann_df.loc[selected_ann_df['image_id'] == idx + 1, 'image_id'] = new_image_id
    
    return aug_img_df, selected_ann_df

def concat_ann_df(orig_df, add_df):
    ann_df_c = pd.concat([orig_df, add_df])
    ann_df_c.reset_index(drop=True, inplace=True)
    for idx, row in ann_df_c.iterrows():
        if idx + 1 != row['id']:
            ann_df_c.at[idx, 'id'] = idx + 1
    return ann_df_c

## Find diff between the relation datasets

In [19]:
clt_cp, _ = setA_setB(r_caltech_df, r_cityperson_df)
clt_cp

,Object_1,Relation,Object_2,Count,images
31,people,watching,letter,101,"[set00_V012_1620, set00_V006_1795, set00_V013_..."
32,person,watching,vehicle,100,"[set05_V005_709, set00_V009_1453, set00_V011_4..."
33,person,watching,letter,91,"[set00_V008_846, set00_V007_1275, set00_V006_1..."
37,people,watching,vehicle,83,"[set00_V012_1620, set00_V009_1453, set00_V012_..."
38,person,riding,car,79,"[set02_V010_614, set02_V008_1446, set02_V008_1..."
...,...,...,...,...,...
551,woman,walking on,fence,1,[set04_V005_1638]
552,woman,watching,boy,1,[set00_V013_19]
553,woman,watching,car,1,[set00_V008_1476]
554,woman,watching,light,1,[set02_V010_494]
555,woman,watching,vehicle,1,[set00_V008_1476]

In [20]:
all_images = list(set([item for sublist in clt_cp['images'].tolist() for item in sublist]))
len(all_images)

565

In [21]:
clt_quantile_95 = find_quantile(clt_cp,q=0.95, max_im=20)
clt_quantile_95

,Object_1,Relation,Object_2,Count,images,count_down
0,people,watching,letter,101,"[set00_V014_458, set00_V009_643, set00_V013_43...",0
1,person,watching,vehicle,100,"[set00_V008_756, set01_V001_1379, set02_V010_3...",0
2,person,watching,letter,91,"[set00_V013_559, set00_V008_756, set00_V007_12...",0
3,people,watching,vehicle,83,"[set00_V011_179, set00_V006_1705, set01_V002_7...",0
4,person,riding,car,79,"[set02_V010_614, set02_V008_1446, set02_V008_1...",3
5,light,above,person,63,"[set00_V012_1680, set00_V008_246, set00_V013_1...",0
6,vehicle,behind,person,59,"[set03_V006_1042, set00_V011_299, set00_V008_1...",0
7,person,watching,truck,49,"[set00_V001_45, set01_V001_1199, set02_V009_14...",0
8,roof,above,person,44,"[set00_V009_1093, set00_V007_345, set02_V009_1...",0
9,light,above,people,33,"[set00_V012_1110, set00_V012_1620, set00_V012_...",0
10,light,above,man,30,"[set00_V009_613, set00_V008_1356, set00_V010_2...",0
11,pole,behind,person,28,"[set02_V004_352, set02_V003_27, set00_V011_899...",0
12,mountain,behind,person,27,"[set03_V010_95, set03_V003_445, set03_V003_505...",3
13,window,behind,people,26,"[set00_V007_255, set00_V014_158, set00_V009_43...",0
14,people,watching,light,25,"[set02_V010_674, set04_V007_1671, set00_V001_1...",3
15,person,has,leg,24,"[set05_V012_1003, set03_V009_737, set00_V008_9...",3
16,person,watching,light,22,"[set00_V006_955, set05_V005_709, set03_V009_16...",0

In [17]:
all_images = list(set([item for sublist in clt_quantile_95['images'].tolist() for item in sublist]))
len(all_images)

121

In [23]:
ecp_cp, _ = setA_setB(r_eurocity_df, r_cityperson_df)
ecp_cp

,Object_1,Relation,Object_2,Count,images
84,people,riding,motorcycle,60,"[roma_00959, pisa_00274, roma_00778, roma_0011..."
85,person,watching,motorcycle,60,"[firenze_00543, roma_00113, dresden_00178, bol..."
87,person,wearing,helmet,55,"[roma_00113, marseille_00789, firenze_00331, f..."
94,sign,above,man,47,"[hamburg_00584, nuernberg_00469, hamburg_00376..."
103,person,in,window,41,"[potsdam_00333, amsterdam_00324, stuttgart_002..."
...,...,...,...,...,...
677,woman,watching,boy,1,[firenze_00429]
678,woman,watching,dog,1,[milano_00406]
679,woman,watching,light,1,[budapest_00267]
680,woman,watching,umbrella,1,[nuernberg_00039]
681,woman,wearing,glass,1,[hamburg_00571]

In [24]:
all_images = list(set([item for sublist in ecp_cp['images'].tolist() for item in sublist]))
len(all_images)

1194

In [25]:
ecp_quantile_95 = find_quantile(ecp_cp,q=0.95, max_im=40)
ecp_quantile_95

,Object_1,Relation,Object_2,Count,images,count_down
0,people,riding,motorcycle,60,"[barcelona_00752, budapest_00435, roma_00220, ...",0
1,person,watching,motorcycle,60,"[amsterdam_00286, marseille_00816, toulouse_00...",0
2,person,wearing,helmet,55,"[milano_00270, roma_00582, firenze_00459, bolo...",0
3,sign,above,man,47,"[hamburg_00584, nuernberg_00469, hamburg_00376...",0
4,person,in,window,41,"[potsdam_00333, amsterdam_00324, stuttgart_002...",22
5,window,above,man,38,"[prague_01342, bologna_00371, montpellier_0022...",9
6,car,near,man,36,"[firenze_00484, firenze_00813, bologna_00098, ...",8
7,window,above,person,35,"[leipzig_00018, zagreb_00149, roma_00891, dres...",13
8,person,wearing,hat,33,"[amsterdam_00424, firenze_00834, budapest_0020...",15
9,person,watching,truck,32,"[budapest_00442, zagreb_00026, milano_00393, b...",10
10,person,in front of,door,31,"[ljubljana_00381, pisa_00280, bologna_00961, l...",10
11,people,watching,bus,31,"[ljubljana_00711, budapest_00726, amsterdam_01...",13
12,person,riding,car,30,"[firenze_00255, barcelona_01256, lyon_00172, f...",14
13,man,wearing,helmet,29,"[milano_00523, marseille_00789, firenze_00524,...",11
14,people,wearing,jacket,27,"[ulm_00276, wuerzburg_00469, amsterdam_00133, ...",15
15,wire,above,person,25,"[budapest_00351, brno_00500, brno_00936, potsd...",16
16,man,standing on,sign,24,"[bratislava_00794, ulm_00155, bratislava_00369...",23
17,sign,above,people,23,"[prague_00534, bratislava_00534, budapest_0007...",19
18,man,wearing,hat,21,"[ulm_00369, pisa_00585, barcelona_01208, bolog...",21
19,people,watching,light,20,"[amsterdam_00811, ljubljana_00499, montpellier...",24
20,light,above,man,16,"[prague_00783, prague_00463, firenze_00037, ro...",27
21,light,above,person,16,"[leipzig_00285, leipzig_00194, firenze_00037, ...",26

In [26]:
all_images = list(set([item for sublist in ecp_quantile_95['images'].tolist() for item in sublist]))
len(all_images)

521

In [27]:
ch_cp, _ = setA_setB(r_crowdhuman_df, r_cityperson_df)
ch_cp

,Object_1,Relation,Object_2,Count,images
33,man,wearing,hat,2005,"[282555,43fe0000c2d63da8, 282555,1247c500014eb..."
55,person,watching,girl,1165,"[283647,1df20005baf8961, 273278,58c3c000f2e589..."
62,woman,watching,girl,1015,"[284193,15f68000865294d7, 273278,8fdd70007246e..."
63,man,wearing,sock,978,"[283647,1ab5000066a030c4, 273275,eb64200013294..."
67,person,wearing,hat,911,"[282555,1247c500014eb68f0, 273275,79ccb0009873..."
...,...,...,...,...,...
1215,woman,watching,kid,1,"[284193,1b30f00097a44d6f]"
1216,woman,watching,letter,1,"[273275,13d0a00096a29505]"
1217,woman,watching,skier,1,"[282555,2324f000246e605b]"
1218,woman,watching,tail,1,"[273278,34dfc00090520457]"
1219,woman,wearing,logo,1,"[273271,69a80006c4e599f]"

In [28]:
all_images = list(set([item for sublist in ch_cp['images'].tolist() for item in sublist]))
len(all_images)

8265

In [29]:
ch_quantile_95 = find_quantile(ch_cp,q=0.95, max_im=20)
ch_quantile_95

,Object_1,Relation,Object_2,Count,images,count_down
0,man,wearing,hat,2005,"[283991,10f4400024b3988e, 273278,b9daf00030bad...",0
1,person,watching,girl,1165,"[273275,6849f0002fb6a1ef, 283554,217c70001c605...",0
2,woman,watching,girl,1015,"[282555,4510f0009bcd43e5, 273278,8404f000e741c...",0
3,man,wearing,sock,978,"[283554,28c10000ce705a1a, 273275,40c3c000afe5f...",0
4,person,wearing,hat,911,"[273275,e2066000a0e134ad, 282555,1247c500014eb...",0
5,woman,watching,boy,878,"[273275,c09240000e89435e, 273278,b1eab00025b0d...",0
6,woman,has,leg,854,"[273275,90636000312920f0, 284193,1f88600039349...",0
7,woman,wearing,boot,815,"[273278,13c1c9000ab30f879, 282555,112aab00010b...",0
8,girl,wearing,shoe,771,"[282555,1042900065b87987, 283554,1278e0005258a...",0
9,man,has,face,761,"[273278,97d650006993bbbb, 282555,dfa0b0005e184...",0
10,woman,wearing,glass,743,"[273275,126ef80004c3b1107, 273275,10966a0006f9...",0
11,girl,wearing,shirt,722,"[282555,2182f00036cd510e, 273278,da79f0005913d...",0
12,woman,has,face,671,"[284193,a79f0005472aa60, 283554,984000a2f0dd7b...",0
13,people,wearing,short,652,"[273278,2f266000d55c9ea3, 273271,106f1000376a0...",0
14,man,wearing,glass,646,"[273271,1a02900084ed5ae8, 273275,d1866000adbcb...",0
15,mountain,behind,man,598,"[273275,6d074000c8d71029, 273275,101eb50007b1f...",0
16,person,has,head,568,"[283992,71ef0009e2e8d91, 283554,3144d00025ae00...",0
17,woman,wearing,sock,565,"[283081,3c90000abd555e6, 273275,1132fd000d396f...",0
18,man,sitting on,chair,553,"[273278,f5b240003a56f564, 273275,ff53a000ef1a4...",0
19,girl,wearing,pant,502,"[273275,6aeaa0005bd1ebea, 283554,35b4300000f4e...",0
20,girl,wearing,short,485,"[282555,1a254000a1e0166b, 273271,721b000e40a15...",0
21,mountain,behind,person,464,"[273275,11e9e60003dafd1f6, 273275,a2d5100094b6...",0
22,man,has,ear,462,"[284193,15f8300055558bd7, 273275,e3ef60005b0a0...",0
23,mountain,behind,woman,461,"[273275,f7465000c8e5b15f, 273278,ae3640006332b...",0
24,woman,has,arm,455,"[283081,3810000574a92a4, 273278,72d89000049681...",0
25,man,has,nose,428,"[284193,3c13000a4b232bc, 273275,ff53a000ef1a40...",0
26,person,wearing,boot,421,"[273275,2a5600025aa3e5d, 273278,f59020009174f9...",0
27,man,has,arm,382,"[282555,1e45600078ad17b1, 284193,15eef000c58dc...",0
28,woman,has,nose,380,"[273275,fe0b5000fa41d1b4, 273275,121b90000a825...",0
29,people,wearing,shoe,376,"[273271,2339f00002d86df7, 283992,fe8d000260b2e...",0
30,boy,wearing,shoe,373,"[273275,a0255000b0e7b009, 283081,b5890002aa41f...",0
31,woman,has,hand,371,"[273275,5f1360006ed65077, 273275,d2fe500060c22...",0
32,man,wearing,tie,367,"[273275,f8757000392062b5, 273275,85ff2000dc6be...",0
33,boy,wearing,pant,313,"[273275,114d9600017c140fb, 282555,baf4e0005de6...",0
34,girl,watching,man,304,"[273275,b2600000069496ca, 273278,cc87e000fca71...",0
35,girl,wearing,sock,302,"[273278,b0048000f6bb0518, 283554,12efc000270ba...",0
36,man,has,hand,297,"[273278,8313e0001c23c7a4, 273275,6d562000d6130...",0
37,girl,watching,woman,293,"[273278,a3fd0000eb4fec7a, 284193,18f5b00013a21...",0
38,girl,has,leg,293,"[273278,cb0060005f01849c, 282555,10b76000df094...",0
39,boy,wearing,shirt,283,"[273275,fc18c000108074fb, 284193,21c3a0008c971...",0
40,woman,has,ear,275,"[273275,12f0f50004739b609, 273275,91ac1000c787...",0
41,girl,carrying,bag,254,"[273278,d78630008cafb808, 273278,3940b000a49ec...",0
42,boy,watching,man,253,"[273278,1551e000d2947c77, 273278,12cd010002074...",0
43,man,wearing,cap,218,"[283991,170f20009dde54b5, 273278,3e17d000e28fd...",0
44,person,has,leg,212,"[283081,37a1000384306b0, 273278,3e93a000aabd40...",0
45,girl,wearing,boot,210,"[273271,5620000ecb8243b, 273275,120d0f000e4246...",0
46,girl,wearing,jean,210,"[273275,78679000a27761ca, 284193,15cb8000db1b3...",0
47,people,watching,girl,209,"[273278,ecb0d0008f5d2081, 282555,e489b000c1990...",0
48,people,wearing,boot,203,"[283992,8740006d271082, 273278,4d242000bb48f0e...",0
49,girl,walking on,sidewalk,201,"[273275,1225d300080b5d5e0, 273278,5c89d000512d...",0

In [30]:
all_images = list(set([item for sublist in ch_quantile_95['images'].tolist() for item in sublist]))
len(all_images)

926

In [31]:
wp_cp, _ = setA_setB(r_widerperson_df, r_cityperson_df)
wp_cp

,Object_1,Relation,Object_2,Count,images
17,person,watching,girl,2478,"[015444, 001014, 007669, 000790, 006539, 01787..."
31,woman,watching,girl,1361,"[015444, 008680, 017949, 000790, 014464, 00052..."
39,woman,watching,boy,1059,"[000790, 017035, 014616, 014977, 000493, 01413..."
50,mountain,behind,person,684,"[006184, 003256, 006081, 005783, 013435, 00914..."
52,mountain,behind,man,641,"[006184, 003256, 006081, 005783, 013435, 00914..."
...,...,...,...,...,...
593,woman,holding,bottle,1,[009185]
594,woman,holding,kite,1,[018589]
595,woman,under,umbrella,1,[010318]
596,woman,watching,cow,1,[013810]
597,woman,watching,kid,1,[012026]

In [32]:
all_images = list(set([item for sublist in wp_cp['images'].tolist() for item in sublist]))
len(all_images)

4303

In [33]:
wp_quantile_95 = find_quantile(wp_cp,q=0.95, max_im=30)
wp_quantile_95

,Object_1,Relation,Object_2,Count,images,count_down
0,person,watching,girl,2478,"[008970, 001043, 016047, 005218, 003140, 02016...",0
1,woman,watching,girl,1361,"[005721, 006660, 004128, 013205, 017464, 00090...",0
2,woman,watching,boy,1059,"[004627, 010579, 012607, 015279, 003026, 00900...",0
3,mountain,behind,person,684,"[004173, 017865, 013363, 009144, 019309, 00521...",0
4,mountain,behind,man,641,"[006569, 019312, 003958, 009514, 007144, 00701...",0
5,people,wearing,short,632,"[004810, 014033, 017390, 003401, 018165, 00887...",0
6,boy,watching,man,517,"[019052, 001738, 019629, 000434, 019480, 00193...",0
7,man,wearing,hat,457,"[005280, 006815, 017139, 005622, 014991, 00308...",0
8,boy,watching,boy,435,"[008097, 003034, 011129, 001738, 016505, 01738...",0
9,boy,wearing,pant,409,"[001037, 007527, 004044, 008245, 006653, 02041...",0
10,girl,watching,woman,405,"[013343, 006825, 007477, 017379, 004424, 00454...",0
11,people,watching,girl,382,"[004080, 015131, 012849, 012618, 006121, 00052...",0
12,person,wearing,hat,379,"[005731, 014300, 012918, 015506, 017497, 01937...",0
13,mountain,behind,woman,305,"[009376, 018987, 011652, 011990, 007288, 00634...",0
14,girl,watching,girl,279,"[005283, 004823, 005680, 012035, 019291, 00156...",0
15,girl,wearing,pant,249,"[007051, 014507, 008944, 009388, 014570, 00058...",0
16,person,watching,player,247,"[014891, 001715, 010483, 005715, 012868, 01437...",0
17,people,wearing,shoe,241,"[008889, 006238, 008550, 014164, 014494, 00305...",0
18,girl,watching,man,240,"[009695, 017445, 001189, 005174, 009350, 01373...",0
19,boy,wearing,shirt,236,"[015049, 005628, 017024, 013203, 007535, 00070...",0
20,girl,wearing,shirt,231,"[009439, 008654, 014216, 019827, 020037, 02042...",0
21,girl,watching,boy,205,"[014116, 016505, 007008, 006163, 007395, 00617...",0
22,girl,wearing,shoe,201,"[015324, 004755, 010884, 003389, 012892, 00136...",0

In [34]:
all_images = list(set([item for sublist in wp_quantile_95['images'].tolist() for item in sublist]))
len(all_images)

633

In [35]:
df_list = []
df_list.append(ecp_quantile_95)

In [36]:
ch_q_ecp_q, _ = setA_setB(ch_quantile_95, ecp_quantile_95)
# ch_seclected_df = splite_data(ch_q_ecp_q, train_size=0.55, val_size=0.1, test_size=0.35)
# ch_seclected_df

In [37]:
df_list.append(ch_q_ecp_q)

In [38]:
concat_data = concat_df(df_list)
# concat_data

In [34]:
wp_q_con, _ = setA_setB(wp_quantile_95, concat_data)
# wp_seclected_df = splite_data(wp_q_con, train_size=0.55, val_size=0.1, test_size=0.35)
# wp_seclected_df

In [35]:
df_list.append(wp_q_con)

In [36]:
concat_data = concat_df(df_list)
# concat_data

In [37]:
# clt_quantile_95
clt_q_con, _ = setA_setB(clt_quantile_95, concat_data)
# clt_seclected_df = splite_data(clt_q_con, train_size=0.55, val_size=0.1, test_size=0.35)
# clt_seclected_df

In [38]:
df_list.append(clt_q_con)

In [39]:
concat_data = concat_df(df_list)
concat_data

,Object_1,Relation,Object_2,Count,images,count_down
0,window,above,person,195,"[dresden_00473, leipzig_00188, amsterdam_00916...",0
1,wire,above,man,153,"[budapest_00322, potsdam_00075, brno_00672, br...",0
2,light,above,person,118,"[bologna_00606, prague_00231, toulouse_00517, ...",0
3,person,watching,light,94,"[leipzig_00416, barcelona_01095, potsdam_00337...",0
4,person,wearing,helmet,85,"[barcelona_00145, roma_00978, berlin_00096, fi...",0
...,...,...,...,...,...,...
85,man,watching,letter,16,"[set00_V014_458, set00_V007_465, set00_V009_61...",6
86,windshield,of,person,12,"[set02_V009_1256, set03_V009_17, set02_V009_56...",8
87,people,sitting on,table,10,"[set00_V012_1200, set00_V007_1275, set00_V014_...",15
88,people,under,light,10,"[set00_V013_1189, set00_V008_396, set00_V010_1...",15
89,person,sitting on,table,8,"[set00_V014_218, set00_V014_248, set00_V007_15...",16

In [40]:
ecp_seclected_tupel = splite_data(df_list[0], train_size=0.55, val_size=0.1, test_size=0.35)
len(ecp_seclected_tupel[0])

311

In [41]:
orig_human_im_list = list(set([item for sublist in r_cityperson_df['images'].tolist() for item in sublist]))
len(set(orig_human_im_list))

1926

In [22]:
def add_area(df):
    df = copy.deepcopy(df)
    df['area'] = ""
    for idx, row in df.iterrows():
        bb = df.loc[df['id'] == idx + 1, 'bbox']
        bb = bb.tolist()[0]
        df.loc[df['id'] == idx + 1, 'area'] = bb[2]*bb[3]
    return df

In [23]:
def splite_dataset(data_df, train_size=50, test_size=10, dt=None):
    if not dt:
        all_images = [el.rsplit('/', 1)[1] for el in data_df['file_name'].to_list()]
    else:
        all_images = data_df['file_name'].to_list()
    train_images = random.sample(all_images, train_size)
    rem_images = list(set(all_images).difference(set(train_images)))
    test_images = random.sample(rem_images, test_size)
    assert len(set(train_images).intersection(set(test_images))) == 0
    return train_images, test_images

# create annotatuion file
#### selected data frames are:
ecp_quantile_95

ch_q_ecp_q

wp_q_con

clt_q_con

concat_data

### select %15 from each validation and train set for testing

In [584]:
cp_file = 'json_files/CityPersons/train.json'
f = open(cp_file)
cp_data = json.load(f)
cp_licenses = cp_data['licenses']
cp_categories = cp_data['categories']
cp_images = cp_data['images']
cp_annotations = cp_data['annotations']
cp_img_df = pd.DataFrame(cp_images)
cp_ann_df = pd.DataFrame(cp_annotations)
cp_ann_df = add_area(cp_ann_df)
cp_ann_df

,id,image_id,category_id,iscrowd,bbox,width,height,area
0,1,1,1,True,"[1034.0, 366.0, 31.0, 75.0]",2048,1024,2325
1,2,1,1,True,"[1911.0, 359.0, 10.0, 54.0]",2048,1024,540
2,3,1,1,True,"[1137.0, 307.0, 8.0, 9.0]",2048,1024,72
3,4,2,1,False,"[602.0, 413.0, 60.0, 146.0]",2048,1024,8760
4,5,2,1,False,"[491.0, 396.0, 65.0, 158.0]",2048,1024,10270
...,...,...,...,...,...,...,...,...
27765,27766,2975,1,True,"[1558.0, 380.0, 18.0, 43.0]",2048,1024,774
27766,27767,2975,1,True,"[1679.0, 361.0, 27.0, 59.0]",2048,1024,1593
27767,27768,2975,1,True,"[416.0, 300.0, 15.0, 58.0]",2048,1024,870
27768,27769,2975,1,True,"[446.0, 351.0, 8.0, 65.0]",2048,1024,520
27769,27770,2975,1,True,"[492.0, 315.0, 8.0, 95.0]",2048,1024,760

In [585]:
cp_img_df.shape[0]

2975

In [586]:
print(cp_data['categories'])

[{'id': 1, 'name': 'pedestrain', 'supercategory': 'pedestrain'}]

In [587]:
for idx, row in cp_img_df.iterrows():
    cp_img_df.at[cp_img_df.index[idx], 'file_name'] = 'CityPersons/' + cp_img_df.at[cp_img_df.index[idx], 'file_name']

In [450]:
# test:  0.15 * 2975 = 446, train: 2975 - 446 = 2529
# test:  0.15 * 500 = 75,   val: 500 - 75 = 425

In [451]:
train_img_cp, test_img_cp_from_train = splite_dataset(cp_img_df, train_size=2529, test_size=446)
index_id_list = find_index_of_images(cp_img_df, image_name_list=train_img_cp)
train_cp_img_df = create_img_df(cp_img_df, index_id_list)
train_cp_ann_df = create_ann_df(cp_ann_df, index_id_list)
train_cp_ann_df

,id,image_id,category_id,iscrowd,bbox,width,height,area
7777,7778,991,1,False,"[285.0, 403.0, 28.0, 67.0]",2048,1024,1876
7778,7779,991,1,True,"[964.0, 419.0, 11.0, 27.0]",2048,1024,297
7779,7780,991,1,True,"[1092.0, 408.0, 15.0, 37.0]",2048,1024,555
7780,7781,991,1,True,"[260.0, 354.0, 13.0, 19.0]",2048,1024,247
7781,7782,991,1,True,"[327.0, 442.0, 18.0, 18.0]",2048,1024,324
...,...,...,...,...,...,...,...,...
3860,3861,483,1,True,"[1031.0, 381.0, 9.0, 20.0]",2048,1024,180
3861,3862,483,1,True,"[1044.0, 382.0, 7.0, 19.0]",2048,1024,133
3862,3863,483,1,True,"[766.0, 351.0, 6.0, 8.0]",2048,1024,48
3863,3864,483,1,True,"[1074.0, 348.0, 6.0, 9.0]",2048,1024,54
3864,3865,483,1,True,"[1180.0, 350.0, 7.0, 7.0]",2048,1024,49

In [559]:
def create_test_dfs(in_img_df, in_ann_df, image_name_list):
    index_id_list = find_index_of_images(in_img_df, image_name_list=image_name_list)
    _img_df = create_img_df(in_img_df, index_id_list)
    _ann_df = create_ann_df(in_ann_df, index_id_list)
    _img_df = _img_df.sort_values('id')
    _img_df.reset_index(drop=True, inplace=True)
    
    for idx, row in _img_df.iterrows():
        img_id = _img_df.at[_img_df.index[idx], 'id']
        _img_df.at[_img_df.index[idx], 'id'] = idx + 1
        print(f"try replace {img_id} to {idx + 1} in anno")
        if 'image_id' in _ann_df.columns:
            _ann_df.loc[_ann_df['image_id'] == img_id, 'image_id'] = idx + 1
    
    _ann_df = _ann_df.sort_values('image_id')
    _ann_df.reset_index(drop=True, inplace=True)
    for idx, row in _ann_df.iterrows():
        _ann_df.at[_ann_df.index[idx], 'id'] = idx + 1
    return _img_df, _ann_df

In [583]:
im_df = copy.deepcopy(train_cp_img_df)
ann_df = copy.deepcopy(train_cp_ann_df)

In [453]:
train_cp_ann_df.loc[train_cp_ann_df['image_id'] == 2116]

Empty DataFrame
Columns: [id, image_id, category_id, iscrowd, bbox, width, height, area]
Index: []

In [454]:
im_df = im_df.sort_values('id')
im_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
1,2,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2,3,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
4,5,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
5,6,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
...,...,...,...,...,...,...,...,...
2970,2971,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2971,2972,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2972,2973,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2973,2974,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2974,2975,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,

In [455]:
im_df.reset_index(drop=True, inplace=True)
im_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
1,2,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2,3,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
3,5,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
4,6,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
...,...,...,...,...,...,...,...,...
2524,2971,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2525,2972,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2526,2973,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2527,2974,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2528,2975,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,

In [456]:
for idx, row in im_df.iterrows():
    img_id = im_df.at[im_df.index[idx], 'id']
    im_df.at[im_df.index[idx], 'id'] = idx + 1
    print(f"try replace {img_id} to {idx + 1} in anno")
    if 'image_id' in ann_df.columns:
        ann_df.loc[ann_df['image_id'] == img_id, 'image_id'] = idx + 1

im_df

try replace 1 to 1 in anno
try replace 2 to 2 in anno
try replace 3 to 3 in anno
try replace 5 to 4 in anno
try replace 6 to 5 in anno
try replace 7 to 6 in anno
try replace 8 to 7 in anno
try replace 10 to 8 in anno
try replace 11 to 9 in anno
try replace 13 to 10 in anno
try replace 14 to 11 in anno
try replace 15 to 12 in anno
try replace 16 to 13 in anno
try replace 17 to 14 in anno
try replace 18 to 15 in anno
try replace 19 to 16 in anno
try replace 20 to 17 in anno
try replace 22 to 18 in anno
try replace 24 to 19 in anno
try replace 25 to 20 in anno
try replace 26 to 21 in anno
try replace 27 to 22 in anno
try replace 28 to 23 in anno
try replace 29 to 24 in anno
try replace 30 to 25 in anno
try replace 31 to 26 in anno
try replace 32 to 27 in anno
try replace 33 to 28 in anno
try replace 35 to 29 in anno
try replace 36 to 30 in anno
try replace 37 to 31 in anno
try replace 40 to 32 in anno
try replace 41 to 33 in anno
try replace 42 to 34 in anno
try replace 44 to 35 in anno
try replace 46 to 36 in anno
try replace 47 to 37 in anno
try replace 48 to 38 in anno
try replace 49 to 39 in anno
try replace 50 to 40 in anno
try replace 51 to 41 in anno
try replace 52 to 42 in anno
try replace 53 to 43 in anno
try replace 55 to 44 in anno
try replace 56 to 45 in anno
try replace 57 to 46 in anno
try replace 58 to 47 in anno
try replace 59 to 48 in anno
try replace 60 to 49 in anno
try replace 61 to 50 in anno
try replace 62 to 51 in anno
try replace 63 to 52 in anno
try replace 64 to 53 in anno
try replace 65 to 54 in anno
try replace 66 to 55 in anno
try replace 67 to 56 in anno
try replace 68 to 57 in anno
try replace 69 to 58 in anno
try replace 70 to 59 in anno
try replace 71 to 60 in anno
try replace 72 to 61 in anno
try replace 73 to 62 in anno
try replace 74 to 63 in anno
try replace 75 to 64 in anno
try replace 76 to 65 in anno
try replace 77 to 66 in anno
try replace 78 to 67 in anno
try replace 79 to 68 in anno
try replace 80 to 69 in anno
try replace 81 to 70 in anno
try replace 82 to 71 in anno
try replace 83 to 72 in anno
try replace 84 to 73 in anno
try replace 85 to 74 in anno
try replace 86 to 75 in anno
try replace 87 to 76 in anno
try replace 88 to 77 in anno
try replace 89 to 78 in anno
try replace 90 to 79 in anno
try replace 91 to 80 in anno
try replace 92 to 81 in anno
try replace 95 to 82 in anno
try replace 97 to 83 in anno
try replace 98 to 84 in anno
try replace 99 to 85 in anno
try replace 100 to 86 in anno
try replace 101 to 87 in anno
try replace 102 to 88 in anno
try replace 103 to 89 in anno
try replace 104 to 90 in anno
try replace 105 to 91 in anno
try replace 106 to 92 in anno
try replace 107 to 93 in anno
try replace 108 to 94 in anno
try replace 109 to 95 in anno
try replace 110 to 96 in anno
try replace 111 to 97 in anno
try replace 112 to 98 in anno
try replace 113 to 99 in anno
try replace 115 to 100 in anno
try replace 116 to 101 in anno
try replace 117 to 102 in anno
try replace 118 to 103 in anno
try replace 119 to 104 in anno
try replace 120 to 105 in anno
try replace 121 to 106 in anno
try replace 123 to 107 in anno
try replace 124 to 108 in anno
try replace 125 to 109 in anno
try replace 126 to 110 in anno
try replace 127 to 111 in anno
try replace 128 to 112 in anno
try replace 129 to 113 in anno
try replace 130 to 114 in anno
try replace 131 to 115 in anno
try replace 132 to 116 in anno
try replace 133 to 117 in anno
try replace 134 to 118 in anno
try replace 135 to 119 in anno
try replace 136 to 120 in anno
try replace 137 to 121 in anno
try replace 140 to 122 in anno
try replace 141 to 123 in anno
try replace 142 to 124 in anno
try replace 143 to 125 in anno
try replace 145 to 126 in anno
try replace 146 to 127 in anno
try replace 147 to 128 in anno
try replace 148 to 129 in anno
try replace 149 to 130 in anno
try replace 150 to 131 in anno
try replace 152 to 132 in anno
try replace 153 to 133 in anno
try replace 154 to 134 in anno
try replace 155 to 135 in anno
try replace 156 to 136 in anno
try replace 157 to 137 in anno
try replace 158 to 138 in anno
try replace 159 to 139 in anno
try replace 160 to 140 in anno
try replace 161 to 141 in anno
try replace 162 to 142 in anno
try replace 163 to 143 in anno
try replace 164 to 144 in anno
try replace 166 to 145 in anno
try replace 169 to 146 in anno
try replace 170 to 147 in anno
try replace 171 to 148 in anno
try replace 172 to 149 in anno
try replace 173 to 150 in anno
try replace 174 to 151 in anno
try replace 176 to 152 in anno
try replace 177 to 153 in anno
try replace 179 to 154 in anno
try replace 180 to 155 in anno
try replace 181 to 156 in anno
try replace 182 to 157 in anno
try replace 183 to 158 in anno
try replace 184 to 159 in anno
try replace 185 to 160 in anno
try replace 186 to 161 in anno
try replace 188 to 162 in anno
try replace 190 to 163 in anno
try replace 191 to 164 in anno
try replace 193 to 165 in anno
try replace 194 to 166 in anno
try replace 195 to 167 in anno
try replace 196 to 168 in anno
try replace 197 to 169 in anno
try replace 198 to 170 in anno
try replace 199 to 171 in anno
try replace 201 to 172 in anno
try replace 202 to 173 in anno
try replace 203 to 174 in anno
try replace 204 to 175 in anno
try replace 206 to 176 in anno
try replace 207 to 177 in anno
try replace 208 to 178 in anno
try replace 209 to 179 in anno
try replace 210 to 180 in anno
try replace 211 to 181 in anno
try replace 212 to 182 in anno
try replace 213 to 183 in anno
try replace 214 to 184 in anno
try replace 215 to 185 in anno
try replace 216 to 186 in anno
try replace 217 to 187 in anno
try replace 218 to 188 in anno
try replace 219 to 189 in anno
try replace 221 to 190 in anno
try replace 222 to 191 in anno
try replace 223 to 192 in anno
try replace 224 to 193 in anno
try replace 226 to 194 in anno
try replace 227 to 195 in anno
try replace 229 to 196 in anno
try replace 230 to 197 in anno
try replace 231 to 198 in anno
try replace 232 to 199 in anno
try replace 234 to 200 in anno
try replace 235 to 201 in anno
try replace 236 to 202 in anno
try replace 237 to 203 in anno
try replace 238 to 204 in anno
try replace 239 to 205 in anno
try replace 240 to 206 in anno
try replace 241 to 207 in anno
try replace 245 to 208 in anno
try replace 246 to 209 in anno
try replace 247 to 210 in anno
try replace 248 to 211 in anno
try replace 249 to 212 in anno
try replace 250 to 213 in anno
try replace 251 to 214 in anno
try replace 252 to 215 in anno
try replace 253 to 216 in anno
try replace 254 to 217 in anno
try replace 255 to 218 in anno
try replace 256 to 219 in anno
try replace 258 to 220 in anno
try replace 259 to 221 in anno
try replace 260 to 222 in anno
try replace 261 to 223 in anno
try replace 262 to 224 in anno
try replace 263 to 225 in anno
try replace 264 to 226 in anno
try replace 265 to 227 in anno
try replace 266 to 228 in anno
try replace 267 to 229 in anno
try replace 268 to 230 in anno
try replace 269 to 231 in anno
try replace 270 to 232 in anno
try replace 271 to 233 in anno
try replace 272 to 234 in anno
try replace 273 to 235 in anno
try replace 274 to 236 in anno
try replace 275 to 237 in anno
try replace 276 to 238 in anno
try replace 277 to 239 in anno
try replace 278 to 240 in anno
try replace 279 to 241 in anno
try replace 281 to 242 in anno
try replace 283 to 243 in anno
try replace 284 to 244 in anno
try replace 285 to 245 in anno
try replace 287 to 246 in anno
try replace 289 to 247 in anno
try replace 290 to 248 in anno
try replace 291 to 249 in anno
try replace 292 to 250 in anno
try replace 293 to 251 in anno
try replace 294 to 252 in anno
try replace 295 to 253 in anno
try replace 296 to 254 in anno
try replace 297 to 255 in anno
try replace 298 to 256 in anno
try replace 299 to 257 in anno
try replace 300 to 258 in anno
try replace 301 to 259 in anno
try replace 302 to 260 in anno
try replace 303 to 261 in anno
try replace 304 to 262 in anno
try replace 306 to 263 in anno
try replace 307 to 264 in anno
try replace 308 to 265 in anno
try replace 309 to 266 in anno
try replace 310 to 267 in anno
try replace 311 to 268 in anno
try replace 313 to 269 in anno
try replace 314 to 270 in anno
try replace 316 to 271 in anno
try replace 317 to 272 in anno
try replace 318 to 273 in anno
try replace 319 to 274 in anno
try replace 320 to 275 in anno
try replace 321 to 276 in anno
try replace 322 to 277 in anno
try replace 324 to 278 in anno
try replace 325 to 279 in anno
try replace 326 to 280 in anno
try replace 327 to 281 in anno
try replace 328 to 282 in anno
try replace 329 to 283 in anno
try replace 330 to 284 in anno
try replace 331 to 285 in anno
try replace 332 to 286 in anno
try replace 334 to 287 in anno
try replace 335 to 288 in anno
try replace 336 to 289 in anno
try replace 337 to 290 in anno
try replace 339 to 291 in anno
try replace 340 to 292 in anno
try replace 341 to 293 in anno
try replace 342 to 294 in anno
try replace 343 to 295 in anno
try replace 344 to 296 in anno
try replace 345 to 297 in anno
try replace 346 to 298 in anno
try replace 348 to 299 in anno
try replace 350 to 300 in anno
try replace 351 to 301 in anno
try replace 352 to 302 in anno
try replace 353 to 303 in anno
try replace 354 to 304 in anno
try replace 355 to 305 in anno
try replace 356 to 306 in anno
try replace 357 to 307 in anno
try replace 358 to 308 in anno
try replace 359 to 309 in anno
try replace 360 to 310 in anno
try replace 361 to 311 in anno
try replace 362 to 312 in anno
try replace 364 to 313 in anno
try replace 365 to 314 in anno
try replace 366 to 315 in anno
try replace 367 to 316 in anno
try replace 368 to 317 in anno
try replace 369 to 318 in anno
try replace 370 to 319 in anno
try replace 371 to 320 in anno
try replace 372 to 321 in anno
try replace 373 to 322 in anno
try replace 374 to 323 in anno
try replace 375 to 324 in anno
try replace 376 to 325 in anno
try replace 377 to 326 in anno
try replace 380 to 327 in anno
try replace 382 to 328 in anno
try replace 383 to 329 in anno
try replace 384 to 330 in anno
try replace 385 to 331 in anno
try replace 386 to 332 in anno
try replace 387 to 333 in anno
try replace 388 to 334 in anno
try replace 389 to 335 in anno
try replace 390 to 336 in anno
try replace 391 to 337 in anno
try replace 392 to 338 in anno
try replace 394 to 339 in anno
try replace 395 to 340 in anno
try replace 396 to 341 in anno
try replace 397 to 342 in anno
try replace 398 to 343 in anno
try replace 399 to 344 in anno
try replace 401 to 345 in anno
try replace 402 to 346 in anno
try replace 403 to 347 in anno
try replace 404 to 348 in anno
try replace 405 to 349 in anno
try replace 406 to 350 in anno
try replace 407 to 351 in anno
try replace 409 to 352 in anno
try replace 410 to 353 in anno
try replace 411 to 354 in anno
try replace 412 to 355 in anno
try replace 413 to 356 in anno
try replace 414 to 357 in anno
try replace 415 to 358 in anno
try replace 416 to 359 in anno
try replace 417 to 360 in anno
try replace 419 to 361 in anno
try replace 422 to 362 in anno
try replace 423 to 363 in anno
try replace 424 to 364 in anno
try replace 425 to 365 in anno
try replace 426 to 366 in anno
try replace 427 to 367 in anno
try replace 429 to 368 in anno
try replace 430 to 369 in anno
try replace 431 to 370 in anno
try replace 432 to 371 in anno
try replace 433 to 372 in anno
try replace 434 to 373 in anno
try replace 435 to 374 in anno
try replace 436 to 375 in anno
try replace 437 to 376 in anno
try replace 438 to 377 in anno
try replace 439 to 378 in anno
try replace 440 to 379 in anno
try replace 441 to 380 in anno
try replace 442 to 381 in anno
try replace 443 to 382 in anno
try replace 444 to 383 in anno
try replace 445 to 384 in anno
try replace 446 to 385 in anno
try replace 447 to 386 in anno
try replace 448 to 387 in anno
try replace 449 to 388 in anno
try replace 450 to 389 in anno
try replace 451 to 390 in anno
try replace 452 to 391 in anno
try replace 453 to 392 in anno
try replace 454 to 393 in anno
try replace 455 to 394 in anno
try replace 458 to 395 in anno
try replace 461 to 396 in anno
try replace 462 to 397 in anno
try replace 463 to 398 in anno
try replace 464 to 399 in anno
try replace 465 to 400 in anno
try replace 466 to 401 in anno
try replace 467 to 402 in anno
try replace 468 to 403 in anno
try replace 469 to 404 in anno
try replace 470 to 405 in anno
try replace 471 to 406 in anno
try replace 472 to 407 in anno
try replace 473 to 408 in anno
try replace 474 to 409 in anno
try replace 475 to 410 in anno
try replace 476 to 411 in anno
try replace 477 to 412 in anno
try replace 478 to 413 in anno
try replace 479 to 414 in anno
try replace 480 to 415 in anno
try replace 481 to 416 in anno

try replace 482 to 417 in anno
try replace 483 to 418 in anno
try replace 484 to 419 in anno
try replace 485 to 420 in anno
try replace 486 to 421 in anno
try replace 487 to 422 in anno
try replace 489 to 423 in anno
try replace 490 to 424 in anno
try replace 491 to 425 in anno
try replace 492 to 426 in anno
try replace 493 to 427 in anno
try replace 494 to 428 in anno
try replace 495 to 429 in anno
try replace 496 to 430 in anno
try replace 498 to 431 in anno
try replace 499 to 432 in anno
try replace 500 to 433 in anno
try replace 501 to 434 in anno
try replace 502 to 435 in anno
try replace 503 to 436 in anno
try replace 504 to 437 in anno
try replace 505 to 438 in anno
try replace 506 to 439 in anno
try replace 507 to 440 in anno
try replace 508 to 441 in anno
try replace 509 to 442 in anno
try replace 510 to 443 in anno
try replace 511 to 444 in anno
try replace 512 to 445 in anno
try replace 513 to 446 in anno
try replace 514 to 447 in anno
try replace 515 to 448 in anno
try replace 516 to 449 in anno
try replace 517 to 450 in anno
try replace 518 to 451 in anno
try replace 521 to 452 in anno
try replace 522 to 453 in anno
try replace 523 to 454 in anno
try replace 524 to 455 in anno
try replace 525 to 456 in anno
try replace 526 to 457 in anno
try replace 527 to 458 in anno
try replace 528 to 459 in anno
try replace 530 to 460 in anno
try replace 531 to 461 in anno
try replace 532 to 462 in anno
try replace 533 to 463 in anno
try replace 535 to 464 in anno
try replace 536 to 465 in anno
try replace 537 to 466 in anno
try replace 538 to 467 in anno
try replace 539 to 468 in anno
try replace 540 to 469 in anno
try replace 541 to 470 in anno
try replace 542 to 471 in anno
try replace 543 to 472 in anno
try replace 544 to 473 in anno
try replace 545 to 474 in anno
try replace 546 to 475 in anno
try replace 547 to 476 in anno
try replace 548 to 477 in anno
try replace 549 to 478 in anno
try replace 550 to 479 in anno
try replace 551 to 480 in anno
try replace 554 to 481 in anno
try replace 555 to 482 in anno
try replace 556 to 483 in anno
try replace 557 to 484 in anno
try replace 558 to 485 in anno
try replace 560 to 486 in anno
try replace 561 to 487 in anno
try replace 563 to 488 in anno
try replace 564 to 489 in anno
try replace 565 to 490 in anno
try replace 566 to 491 in anno
try replace 567 to 492 in anno
try replace 568 to 493 in anno
try replace 570 to 494 in anno
try replace 571 to 495 in anno
try replace 573 to 496 in anno
try replace 574 to 497 in anno
try replace 575 to 498 in anno
try replace 576 to 499 in anno
try replace 577 to 500 in anno
try replace 578 to 501 in anno
try replace 580 to 502 in anno
try replace 581 to 503 in anno
try replace 583 to 504 in anno
try replace 584 to 505 in anno
try replace 585 to 506 in anno
try replace 587 to 507 in anno
try replace 588 to 508 in anno
try replace 589 to 509 in anno
try replace 590 to 510 in anno
try replace 591 to 511 in anno
try replace 592 to 512 in anno
try replace 593 to 513 in anno
try replace 596 to 514 in anno
try replace 597 to 515 in anno
try replace 599 to 516 in anno
try replace 602 to 517 in anno
try replace 603 to 518 in anno
try replace 604 to 519 in anno
try replace 605 to 520 in anno
try replace 606 to 521 in anno
try replace 607 to 522 in anno
try replace 608 to 523 in anno
try replace 609 to 524 in anno
try replace 610 to 525 in anno
try replace 611 to 526 in anno
try replace 612 to 527 in anno
try replace 614 to 528 in anno
try replace 615 to 529 in anno
try replace 616 to 530 in anno
try replace 617 to 531 in anno
try replace 618 to 532 in anno
try replace 620 to 533 in anno
try replace 621 to 534 in anno
try replace 622 to 535 in anno
try replace 623 to 536 in anno
try replace 624 to 537 in anno
try replace 626 to 538 in anno
try replace 627 to 539 in anno
try replace 628 to 540 in anno
try replace 629 to 541 in anno
try replace 630 to 542 in anno
try replace 631 to 543 in anno
try replace 632 to 544 in anno
try replace 633 to 545 in anno
try replace 634 to 546 in anno
try replace 635 to 547 in anno
try replace 639 to 548 in anno
try replace 640 to 549 in anno
try replace 641 to 550 in anno
try replace 642 to 551 in anno
try replace 643 to 552 in anno
try replace 646 to 553 in anno
try replace 647 to 554 in anno
try replace 648 to 555 in anno
try replace 649 to 556 in anno
try replace 650 to 557 in anno
try replace 651 to 558 in anno
try replace 652 to 559 in anno
try replace 653 to 560 in anno
try replace 654 to 561 in anno
try replace 655 to 562 in anno
try replace 656 to 563 in anno
try replace 657 to 564 in anno
try replace 658 to 565 in anno
try replace 659 to 566 in anno
try replace 660 to 567 in anno
try replace 661 to 568 in anno
try replace 662 to 569 in anno
try replace 664 to 570 in anno
try replace 665 to 571 in anno
try replace 666 to 572 in anno
try replace 667 to 573 in anno
try replace 668 to 574 in anno
try replace 669 to 575 in anno
try replace 671 to 576 in anno
try replace 672 to 577 in anno
try replace 673 to 578 in anno
try replace 675 to 579 in anno
try replace 676 to 580 in anno
try replace 678 to 581 in anno
try replace 679 to 582 in anno
try replace 680 to 583 in anno
try replace 682 to 584 in anno
try replace 683 to 585 in anno
try replace 684 to 586 in anno
try replace 686 to 587 in anno
try replace 688 to 588 in anno
try replace 689 to 589 in anno
try replace 690 to 590 in anno
try replace 691 to 591 in anno
try replace 692 to 592 in anno
try replace 693 to 593 in anno
try replace 694 to 594 in anno
try replace 695 to 595 in anno
try replace 696 to 596 in anno
try replace 697 to 597 in anno
try replace 699 to 598 in anno
try replace 700 to 599 in anno
try replace 701 to 600 in anno
try replace 702 to 601 in anno
try replace 703 to 602 in anno
try replace 705 to 603 in anno
try replace 706 to 604 in anno
try replace 707 to 605 in anno
try replace 708 to 606 in anno
try replace 709 to 607 in anno
try replace 711 to 608 in anno
try replace 712 to 609 in anno
try replace 713 to 610 in anno
try replace 714 to 611 in anno
try replace 715 to 612 in anno
try replace 716 to 613 in anno
try replace 718 to 614 in anno
try replace 720 to 615 in anno
try replace 721 to 616 in anno
try replace 722 to 617 in anno
try replace 723 to 618 in anno
try replace 724 to 619 in anno
try replace 725 to 620 in anno
try replace 726 to 621 in anno
try replace 727 to 622 in anno
try replace 728 to 623 in anno
try replace 729 to 624 in anno
try replace 730 to 625 in anno
try replace 731 to 626 in anno
try replace 732 to 627 in anno
try replace 733 to 628 in anno
try replace 734 to 629 in anno
try replace 735 to 630 in anno
try replace 736 to 631 in anno
try replace 737 to 632 in anno
try replace 738 to 633 in anno
try replace 739 to 634 in anno
try replace 740 to 635 in anno
try replace 742 to 636 in anno
try replace 743 to 637 in anno
try replace 745 to 638 in anno
try replace 748 to 639 in anno
try replace 749 to 640 in anno
try replace 750 to 641 in anno
try replace 752 to 642 in anno
try replace 753 to 643 in anno
try replace 754 to 644 in anno
try replace 755 to 645 in anno
try replace 756 to 646 in anno
try replace 757 to 647 in anno
try replace 759 to 648 in anno
try replace 760 to 649 in anno
try replace 761 to 650 in anno
try replace 762 to 651 in anno
try replace 763 to 652 in anno
try replace 764 to 653 in anno
try replace 765 to 654 in anno
try replace 766 to 655 in anno
try replace 768 to 656 in anno
try replace 771 to 657 in anno
try replace 772 to 658 in anno
try replace 773 to 659 in anno
try replace 774 to 660 in anno
try replace 775 to 661 in anno
try replace 776 to 662 in anno
try replace 777 to 663 in anno
try replace 778 to 664 in anno
try replace 780 to 665 in anno
try replace 782 to 666 in anno
try replace 784 to 667 in anno
try replace 785 to 668 in anno
try replace 786 to 669 in anno
try replace 787 to 670 in anno
try replace 788 to 671 in anno
try replace 789 to 672 in anno
try replace 791 to 673 in anno
try replace 792 to 674 in anno
try replace 793 to 675 in anno
try replace 794 to 676 in anno
try replace 795 to 677 in anno
try replace 796 to 678 in anno
try replace 797 to 679 in anno
try replace 799 to 680 in anno
try replace 800 to 681 in anno
try replace 801 to 682 in anno
try replace 802 to 683 in anno
try replace 803 to 684 in anno
try replace 804 to 685 in anno
try replace 805 to 686 in anno
try replace 806 to 687 in anno
try replace 807 to 688 in anno
try replace 808 to 689 in anno
try replace 809 to 690 in anno
try replace 810 to 691 in anno
try replace 812 to 692 in anno
try replace 813 to 693 in anno
try replace 814 to 694 in anno
try replace 815 to 695 in anno
try replace 816 to 696 in anno
try replace 817 to 697 in anno
try replace 818 to 698 in anno
try replace 819 to 699 in anno
try replace 821 to 700 in anno
try replace 822 to 701 in anno
try replace 823 to 702 in anno
try replace 824 to 703 in anno
try replace 825 to 704 in anno
try replace 826 to 705 in anno
try replace 827 to 706 in anno
try replace 829 to 707 in anno
try replace 830 to 708 in anno
try replace 831 to 709 in anno
try replace 832 to 710 in anno
try replace 833 to 711 in anno
try replace 835 to 712 in anno
try replace 836 to 713 in anno
try replace 837 to 714 in anno
try replace 838 to 715 in anno
try replace 839 to 716 in anno
try replace 840 to 717 in anno
try replace 841 to 718 in anno
try replace 842 to 719 in anno
try replace 843 to 720 in anno
try replace 844 to 721 in anno
try replace 845 to 722 in anno
try replace 846 to 723 in anno
try replace 847 to 724 in anno
try replace 848 to 725 in anno
try replace 849 to 726 in anno
try replace 850 to 727 in anno
try replace 852 to 728 in anno
try replace 853 to 729 in anno
try replace 854 to 730 in anno
try replace 855 to 731 in anno
try replace 857 to 732 in anno
try replace 858 to 733 in anno
try replace 859 to 734 in anno
try replace 860 to 735 in anno
try replace 861 to 736 in anno
try replace 862 to 737 in anno
try replace 863 to 738 in anno
try replace 864 to 739 in anno
try replace 865 to 740 in anno
try replace 866 to 741 in anno
try replace 867 to 742 in anno
try replace 868 to 743 in anno
try replace 870 to 744 in anno
try replace 871 to 745 in anno
try replace 872 to 746 in anno
try replace 873 to 747 in anno
try replace 874 to 748 in anno
try replace 875 to 749 in anno
try replace 876 to 750 in anno
try replace 877 to 751 in anno
try replace 878 to 752 in anno
try replace 879 to 753 in anno
try replace 880 to 754 in anno
try replace 883 to 755 in anno
try replace 884 to 756 in anno
try replace 885 to 757 in anno
try replace 886 to 758 in anno
try replace 887 to 759 in anno
try replace 889 to 760 in anno
try replace 890 to 761 in anno
try replace 891 to 762 in anno
try replace 892 to 763 in anno
try replace 893 to 764 in anno
try replace 896 to 765 in anno
try replace 897 to 766 in anno
try replace 898 to 767 in anno
try replace 899 to 768 in anno
try replace 900 to 769 in anno
try replace 901 to 770 in anno
try replace 902 to 771 in anno
try replace 904 to 772 in anno
try replace 905 to 773 in anno
try replace 906 to 774 in anno
try replace 907 to 775 in anno
try replace 908 to 776 in anno
try replace 909 to 777 in anno
try replace 910 to 778 in anno
try replace 911 to 779 in anno
try replace 912 to 780 in anno
try replace 913 to 781 in anno
try replace 914 to 782 in anno
try replace 915 to 783 in anno
try replace 916 to 784 in anno
try replace 917 to 785 in anno
try replace 918 to 786 in anno
try replace 919 to 787 in anno
try replace 920 to 788 in anno
try replace 921 to 789 in anno
try replace 922 to 790 in anno
try replace 923 to 791 in anno
try replace 924 to 792 in anno
try replace 925 to 793 in anno
try replace 926 to 794 in anno
try replace 927 to 795 in anno
try replace 928 to 796 in anno
try replace 929 to 797 in anno
try replace 930 to 798 in anno
try replace 931 to 799 in anno
try replace 933 to 800 in anno
try replace 934 to 801 in anno
try replace 935 to 802 in anno
try replace 936 to 803 in anno
try replace 938 to 804 in anno
try replace 939 to 805 in anno
try replace 940 to 806 in anno
try replace 942 to 807 in anno
try replace 943 to 808 in anno
try replace 944 to 809 in anno
try replace 945 to 810 in anno
try replace 946 to 811 in anno
try replace 948 to 812 in anno
try replace 949 to 813 in anno
try replace 951 to 814 in anno
try replace 952 to 815 in anno
try replace 953 to 816 in anno
try replace 954 to 817 in anno
try replace 955 to 818 in anno
try replace 956 to 819 in anno
try replace 957 to 820 in anno
try replace 958 to 821 in anno
try replace 959 to 822 in anno
try replace 960 to 823 in anno
try replace 961 to 824 in anno
try replace 962 to 825 in anno
try replace 963 to 826 in anno
try replace 964 to 827 in anno
try replace 965 to 828 in anno
try replace 966 to 829 in anno
try replace 967 to 830 in anno
try replace 968 to 831 in anno
try replace 970 to 832 in anno
try replace 971 to 833 in anno
try replace 972 to 834 in anno
try replace 973 to 835 in anno
try replace 974 to 836 in anno
try replace 975 to 837 in anno
try replace 976 to 838 in anno
try replace 977 to 839 in anno
try replace 978 to 840 in anno
try replace 979 to 841 in anno
try replace 981 to 842 in anno

try replace 982 to 843 in anno
try replace 983 to 844 in anno
try replace 984 to 845 in anno
try replace 985 to 846 in anno
try replace 986 to 847 in anno
try replace 987 to 848 in anno
try replace 988 to 849 in anno
try replace 989 to 850 in anno
try replace 991 to 851 in anno
try replace 992 to 852 in anno
try replace 993 to 853 in anno
try replace 995 to 854 in anno
try replace 996 to 855 in anno
try replace 997 to 856 in anno
try replace 998 to 857 in anno
try replace 999 to 858 in anno
try replace 1002 to 859 in anno
try replace 1003 to 860 in anno
try replace 1005 to 861 in anno
try replace 1006 to 862 in anno
try replace 1008 to 863 in anno
try replace 1009 to 864 in anno
try replace 1011 to 865 in anno
try replace 1012 to 866 in anno
try replace 1013 to 867 in anno
try replace 1014 to 868 in anno
try replace 1015 to 869 in anno
try replace 1016 to 870 in anno
try replace 1017 to 871 in anno
try replace 1018 to 872 in anno
try replace 1019 to 873 in anno
try replace 1021 to 874 in anno
try replace 1022 to 875 in anno
try replace 1023 to 876 in anno
try replace 1024 to 877 in anno
try replace 1025 to 878 in anno
try replace 1026 to 879 in anno
try replace 1027 to 880 in anno
try replace 1028 to 881 in anno
try replace 1029 to 882 in anno
try replace 1031 to 883 in anno
try replace 1032 to 884 in anno
try replace 1033 to 885 in anno
try replace 1034 to 886 in anno
try replace 1036 to 887 in anno
try replace 1037 to 888 in anno
try replace 1038 to 889 in anno
try replace 1039 to 890 in anno
try replace 1040 to 891 in anno
try replace 1041 to 892 in anno
try replace 1042 to 893 in anno
try replace 1043 to 894 in anno
try replace 1044 to 895 in anno
try replace 1046 to 896 in anno
try replace 1047 to 897 in anno
try replace 1048 to 898 in anno
try replace 1049 to 899 in anno
try replace 1050 to 900 in anno
try replace 1051 to 901 in anno
try replace 1052 to 902 in anno
try replace 1053 to 903 in anno
try replace 1054 to 904 in anno
try replace 1055 to 905 in anno
try replace 1056 to 906 in anno
try replace 1057 to 907 in anno
try replace 1058 to 908 in anno
try replace 1059 to 909 in anno
try replace 1060 to 910 in anno
try replace 1061 to 911 in anno
try replace 1063 to 912 in anno
try replace 1065 to 913 in anno
try replace 1066 to 914 in anno
try replace 1067 to 915 in anno
try replace 1068 to 916 in anno
try replace 1070 to 917 in anno
try replace 1071 to 918 in anno
try replace 1072 to 919 in anno
try replace 1073 to 920 in anno
try replace 1074 to 921 in anno
try replace 1075 to 922 in anno
try replace 1077 to 923 in anno
try replace 1078 to 924 in anno
try replace 1079 to 925 in anno
try replace 1080 to 926 in anno
try replace 1081 to 927 in anno
try replace 1082 to 928 in anno
try replace 1083 to 929 in anno
try replace 1084 to 930 in anno
try replace 1085 to 931 in anno
try replace 1086 to 932 in anno
try replace 1087 to 933 in anno
try replace 1088 to 934 in anno
try replace 1089 to 935 in anno
try replace 1090 to 936 in anno
try replace 1092 to 937 in anno
try replace 1093 to 938 in anno
try replace 1094 to 939 in anno
try replace 1095 to 940 in anno
try replace 1096 to 941 in anno
try replace 1097 to 942 in anno
try replace 1099 to 943 in anno
try replace 1100 to 944 in anno
try replace 1101 to 945 in anno
try replace 1102 to 946 in anno
try replace 1103 to 947 in anno
try replace 1104 to 948 in anno
try replace 1106 to 949 in anno
try replace 1107 to 950 in anno
try replace 1108 to 951 in anno
try replace 1109 to 952 in anno
try replace 1110 to 953 in anno
try replace 1111 to 954 in anno
try replace 1112 to 955 in anno
try replace 1113 to 956 in anno
try replace 1114 to 957 in anno
try replace 1115 to 958 in anno
try replace 1116 to 959 in anno
try replace 1117 to 960 in anno
try replace 1118 to 961 in anno
try replace 1119 to 962 in anno
try replace 1120 to 963 in anno
try replace 1121 to 964 in anno
try replace 1122 to 965 in anno
try replace 1123 to 966 in anno
try replace 1124 to 967 in anno
try replace 1125 to 968 in anno
try replace 1126 to 969 in anno
try replace 1127 to 970 in anno
try replace 1128 to 971 in anno
try replace 1129 to 972 in anno
try replace 1130 to 973 in anno
try replace 1131 to 974 in anno
try replace 1132 to 975 in anno
try replace 1133 to 976 in anno
try replace 1134 to 977 in anno
try replace 1135 to 978 in anno
try replace 1136 to 979 in anno
try replace 1137 to 980 in anno
try replace 1138 to 981 in anno
try replace 1140 to 982 in anno
try replace 1141 to 983 in anno
try replace 1142 to 984 in anno
try replace 1144 to 985 in anno
try replace 1145 to 986 in anno
try replace 1146 to 987 in anno
try replace 1147 to 988 in anno
try replace 1148 to 989 in anno
try replace 1149 to 990 in anno
try replace 1150 to 991 in anno
try replace 1152 to 992 in anno
try replace 1153 to 993 in anno
try replace 1154 to 994 in anno
try replace 1155 to 995 in anno
try replace 1156 to 996 in anno
try replace 1157 to 997 in anno
try replace 1158 to 998 in anno
try replace 1159 to 999 in anno
try replace 1161 to 1000 in anno
try replace 1162 to 1001 in anno
try replace 1163 to 1002 in anno
try replace 1164 to 1003 in anno
try replace 1165 to 1004 in anno
try replace 1167 to 1005 in anno
try replace 1169 to 1006 in anno
try replace 1170 to 1007 in anno
try replace 1172 to 1008 in anno
try replace 1175 to 1009 in anno
try replace 1176 to 1010 in anno
try replace 1177 to 1011 in anno
try replace 1178 to 1012 in anno
try replace 1180 to 1013 in anno
try replace 1181 to 1014 in anno
try replace 1182 to 1015 in anno
try replace 1183 to 1016 in anno
try replace 1184 to 1017 in anno
try replace 1186 to 1018 in anno
try replace 1187 to 1019 in anno
try replace 1188 to 1020 in anno
try replace 1189 to 1021 in anno
try replace 1191 to 1022 in anno
try replace 1192 to 1023 in anno
try replace 1194 to 1024 in anno
try replace 1195 to 1025 in anno
try replace 1196 to 1026 in anno
try replace 1197 to 1027 in anno
try replace 1199 to 1028 in anno
try replace 1200 to 1029 in anno
try replace 1201 to 1030 in anno
try replace 1202 to 1031 in anno
try replace 1203 to 1032 in anno
try replace 1204 to 1033 in anno
try replace 1205 to 1034 in anno
try replace 1206 to 1035 in anno
try replace 1207 to 1036 in anno
try replace 1209 to 1037 in anno
try replace 1210 to 1038 in anno
try replace 1211 to 1039 in anno
try replace 1212 to 1040 in anno
try replace 1213 to 1041 in anno
try replace 1214 to 1042 in anno
try replace 1215 to 1043 in anno
try replace 1216 to 1044 in anno
try replace 1217 to 1045 in anno
try replace 1218 to 1046 in anno
try replace 1219 to 1047 in anno
try replace 1220 to 1048 in anno
try replace 1221 to 1049 in anno
try replace 1222 to 1050 in anno
try replace 1223 to 1051 in anno
try replace 1224 to 1052 in anno
try replace 1225 to 1053 in anno
try replace 1226 to 1054 in anno
try replace 1227 to 1055 in anno
try replace 1228 to 1056 in anno
try replace 1229 to 1057 in anno
try replace 1230 to 1058 in anno
try replace 1231 to 1059 in anno
try replace 1234 to 1060 in anno
try replace 1235 to 1061 in anno
try replace 1236 to 1062 in anno
try replace 1237 to 1063 in anno
try replace 1238 to 1064 in anno
try replace 1239 to 1065 in anno
try replace 1240 to 1066 in anno
try replace 1242 to 1067 in anno
try replace 1244 to 1068 in anno
try replace 1245 to 1069 in anno
try replace 1246 to 1070 in anno
try replace 1247 to 1071 in anno
try replace 1248 to 1072 in anno
try replace 1249 to 1073 in anno
try replace 1251 to 1074 in anno
try replace 1252 to 1075 in anno
try replace 1253 to 1076 in anno
try replace 1254 to 1077 in anno
try replace 1255 to 1078 in anno
try replace 1256 to 1079 in anno
try replace 1258 to 1080 in anno
try replace 1259 to 1081 in anno
try replace 1260 to 1082 in anno
try replace 1261 to 1083 in anno
try replace 1262 to 1084 in anno
try replace 1263 to 1085 in anno
try replace 1264 to 1086 in anno
try replace 1267 to 1087 in anno
try replace 1269 to 1088 in anno
try replace 1270 to 1089 in anno
try replace 1271 to 1090 in anno
try replace 1274 to 1091 in anno
try replace 1275 to 1092 in anno
try replace 1276 to 1093 in anno
try replace 1277 to 1094 in anno
try replace 1278 to 1095 in anno
try replace 1279 to 1096 in anno
try replace 1280 to 1097 in anno
try replace 1281 to 1098 in anno
try replace 1282 to 1099 in anno
try replace 1283 to 1100 in anno
try replace 1284 to 1101 in anno
try replace 1285 to 1102 in anno
try replace 1286 to 1103 in anno
try replace 1288 to 1104 in anno
try replace 1289 to 1105 in anno
try replace 1290 to 1106 in anno
try replace 1291 to 1107 in anno
try replace 1292 to 1108 in anno
try replace 1293 to 1109 in anno
try replace 1294 to 1110 in anno
try replace 1295 to 1111 in anno
try replace 1296 to 1112 in anno
try replace 1297 to 1113 in anno
try replace 1299 to 1114 in anno
try replace 1301 to 1115 in anno
try replace 1302 to 1116 in anno
try replace 1303 to 1117 in anno
try replace 1305 to 1118 in anno
try replace 1306 to 1119 in anno
try replace 1307 to 1120 in anno
try replace 1308 to 1121 in anno
try replace 1309 to 1122 in anno
try replace 1310 to 1123 in anno
try replace 1311 to 1124 in anno
try replace 1314 to 1125 in anno
try replace 1315 to 1126 in anno
try replace 1316 to 1127 in anno
try replace 1317 to 1128 in anno
try replace 1318 to 1129 in anno
try replace 1319 to 1130 in anno
try replace 1320 to 1131 in anno
try replace 1321 to 1132 in anno
try replace 1323 to 1133 in anno
try replace 1325 to 1134 in anno
try replace 1326 to 1135 in anno
try replace 1327 to 1136 in anno
try replace 1328 to 1137 in anno
try replace 1329 to 1138 in anno
try replace 1330 to 1139 in anno
try replace 1331 to 1140 in anno
try replace 1332 to 1141 in anno
try replace 1333 to 1142 in anno
try replace 1334 to 1143 in anno
try replace 1335 to 1144 in anno
try replace 1336 to 1145 in anno
try replace 1337 to 1146 in anno
try replace 1338 to 1147 in anno
try replace 1339 to 1148 in anno
try replace 1340 to 1149 in anno
try replace 1341 to 1150 in anno
try replace 1342 to 1151 in anno
try replace 1343 to 1152 in anno
try replace 1344 to 1153 in anno
try replace 1345 to 1154 in anno
try replace 1346 to 1155 in anno
try replace 1347 to 1156 in anno
try replace 1348 to 1157 in anno
try replace 1350 to 1158 in anno
try replace 1351 to 1159 in anno
try replace 1353 to 1160 in anno
try replace 1354 to 1161 in anno
try replace 1356 to 1162 in anno
try replace 1357 to 1163 in anno
try replace 1358 to 1164 in anno
try replace 1359 to 1165 in anno
try replace 1361 to 1166 in anno
try replace 1362 to 1167 in anno
try replace 1363 to 1168 in anno
try replace 1364 to 1169 in anno
try replace 1365 to 1170 in anno
try replace 1366 to 1171 in anno
try replace 1367 to 1172 in anno
try replace 1368 to 1173 in anno
try replace 1369 to 1174 in anno
try replace 1370 to 1175 in anno
try replace 1372 to 1176 in anno
try replace 1373 to 1177 in anno
try replace 1374 to 1178 in anno
try replace 1375 to 1179 in anno
try replace 1376 to 1180 in anno
try replace 1379 to 1181 in anno
try replace 1381 to 1182 in anno
try replace 1382 to 1183 in anno
try replace 1383 to 1184 in anno
try replace 1384 to 1185 in anno
try replace 1385 to 1186 in anno
try replace 1386 to 1187 in anno
try replace 1387 to 1188 in anno
try replace 1388 to 1189 in anno
try replace 1389 to 1190 in anno
try replace 1390 to 1191 in anno
try replace 1391 to 1192 in anno
try replace 1392 to 1193 in anno
try replace 1393 to 1194 in anno
try replace 1394 to 1195 in anno
try replace 1396 to 1196 in anno
try replace 1397 to 1197 in anno
try replace 1398 to 1198 in anno
try replace 1399 to 1199 in anno
try replace 1400 to 1200 in anno
try replace 1401 to 1201 in anno
try replace 1402 to 1202 in anno
try replace 1403 to 1203 in anno
try replace 1406 to 1204 in anno
try replace 1407 to 1205 in anno
try replace 1408 to 1206 in anno
try replace 1409 to 1207 in anno
try replace 1410 to 1208 in anno
try replace 1411 to 1209 in anno
try replace 1412 to 1210 in anno
try replace 1414 to 1211 in anno
try replace 1415 to 1212 in anno
try replace 1417 to 1213 in anno
try replace 1418 to 1214 in anno
try replace 1419 to 1215 in anno
try replace 1420 to 1216 in anno
try replace 1421 to 1217 in anno
try replace 1422 to 1218 in anno
try replace 1423 to 1219 in anno
try replace 1424 to 1220 in anno
try replace 1425 to 1221 in anno
try replace 1426 to 1222 in anno
try replace 1427 to 1223 in anno
try replace 1428 to 1224 in anno
try replace 1429 to 1225 in anno
try replace 1431 to 1226 in anno
try replace 1432 to 1227 in anno
try replace 1433 to 1228 in anno
try replace 1434 to 1229 in anno
try replace 1435 to 1230 in anno
try replace 1436 to 1231 in anno
try replace 1437 to 1232 in anno
try replace 1438 to 1233 in anno
try replace 1439 to 1234 in anno
try replace 1440 to 1235 in anno
try replace 1442 to 1236 in anno
try replace 1443 to 1237 in anno
try replace 1444 to 1238 in anno
try replace 1445 to 1239 in anno
try replace 1447 to 1240 in anno
try replace 1448 to 1241 in anno
try replace 1449 to 1242 in anno
try replace 1453 to 1243 in anno
try replace 1454 to 1244 in anno
try replace 1457 to 1245 in anno
try replace 1458 to 1246 in anno
try replace 1459 to 1247 in anno
try replace 1462 to 1248 in anno
try replace 1463 to 1249 in anno
try replace 1464 to 1250 in anno
try replace 1465 to 1251 in anno
try replace 1466 to 1252 in anno
try replace 1467 to 1253 in anno
try replace 1468 to 1254 in anno
try replace 1469 to 1255 in anno
try replace 1470 to 1256 in anno
try replace 1472 to 1257 in anno
try replace 1474 to 1258 in anno
try replace 1475 to 1259 in anno
try replace 1476 to 1260 in anno
try replace 1477 to 1261 in anno
try replace 1478 to 1262 in anno
try replace 1479 to 1263 in anno
try replace 1480 to 1264 in anno
try replace 1481 to 1265 in anno
try replace 1482 to 1266 in anno
try replace 1483 to 1267 in anno
try replace 1484 to 1268 in anno

try replace 1485 to 1269 in anno
try replace 1486 to 1270 in anno
try replace 1488 to 1271 in anno
try replace 1489 to 1272 in anno
try replace 1490 to 1273 in anno
try replace 1491 to 1274 in anno
try replace 1493 to 1275 in anno
try replace 1494 to 1276 in anno
try replace 1496 to 1277 in anno
try replace 1497 to 1278 in anno
try replace 1498 to 1279 in anno
try replace 1499 to 1280 in anno
try replace 1500 to 1281 in anno
try replace 1501 to 1282 in anno
try replace 1502 to 1283 in anno
try replace 1503 to 1284 in anno
try replace 1504 to 1285 in anno
try replace 1505 to 1286 in anno
try replace 1506 to 1287 in anno
try replace 1507 to 1288 in anno
try replace 1508 to 1289 in anno
try replace 1509 to 1290 in anno
try replace 1510 to 1291 in anno
try replace 1511 to 1292 in anno
try replace 1512 to 1293 in anno
try replace 1513 to 1294 in anno
try replace 1514 to 1295 in anno
try replace 1515 to 1296 in anno
try replace 1516 to 1297 in anno
try replace 1518 to 1298 in anno
try replace 1519 to 1299 in anno
try replace 1520 to 1300 in anno
try replace 1521 to 1301 in anno
try replace 1522 to 1302 in anno
try replace 1523 to 1303 in anno
try replace 1524 to 1304 in anno
try replace 1525 to 1305 in anno
try replace 1526 to 1306 in anno
try replace 1527 to 1307 in anno
try replace 1529 to 1308 in anno
try replace 1530 to 1309 in anno
try replace 1531 to 1310 in anno
try replace 1532 to 1311 in anno
try replace 1533 to 1312 in anno
try replace 1534 to 1313 in anno
try replace 1535 to 1314 in anno
try replace 1536 to 1315 in anno
try replace 1537 to 1316 in anno
try replace 1538 to 1317 in anno
try replace 1539 to 1318 in anno
try replace 1540 to 1319 in anno
try replace 1541 to 1320 in anno
try replace 1542 to 1321 in anno
try replace 1543 to 1322 in anno
try replace 1547 to 1323 in anno
try replace 1548 to 1324 in anno
try replace 1549 to 1325 in anno
try replace 1550 to 1326 in anno
try replace 1552 to 1327 in anno
try replace 1555 to 1328 in anno
try replace 1556 to 1329 in anno
try replace 1557 to 1330 in anno
try replace 1559 to 1331 in anno
try replace 1560 to 1332 in anno
try replace 1561 to 1333 in anno
try replace 1562 to 1334 in anno
try replace 1563 to 1335 in anno
try replace 1564 to 1336 in anno
try replace 1565 to 1337 in anno
try replace 1566 to 1338 in anno
try replace 1567 to 1339 in anno
try replace 1568 to 1340 in anno
try replace 1569 to 1341 in anno
try replace 1570 to 1342 in anno
try replace 1571 to 1343 in anno
try replace 1572 to 1344 in anno
try replace 1573 to 1345 in anno
try replace 1574 to 1346 in anno
try replace 1575 to 1347 in anno
try replace 1576 to 1348 in anno
try replace 1577 to 1349 in anno
try replace 1578 to 1350 in anno
try replace 1579 to 1351 in anno
try replace 1580 to 1352 in anno
try replace 1582 to 1353 in anno
try replace 1583 to 1354 in anno
try replace 1585 to 1355 in anno
try replace 1586 to 1356 in anno
try replace 1587 to 1357 in anno
try replace 1588 to 1358 in anno
try replace 1589 to 1359 in anno
try replace 1590 to 1360 in anno
try replace 1591 to 1361 in anno
try replace 1592 to 1362 in anno
try replace 1593 to 1363 in anno
try replace 1594 to 1364 in anno
try replace 1595 to 1365 in anno
try replace 1596 to 1366 in anno
try replace 1597 to 1367 in anno
try replace 1598 to 1368 in anno
try replace 1599 to 1369 in anno
try replace 1600 to 1370 in anno
try replace 1601 to 1371 in anno
try replace 1602 to 1372 in anno
try replace 1603 to 1373 in anno
try replace 1604 to 1374 in anno
try replace 1605 to 1375 in anno
try replace 1606 to 1376 in anno
try replace 1608 to 1377 in anno
try replace 1609 to 1378 in anno
try replace 1610 to 1379 in anno
try replace 1611 to 1380 in anno
try replace 1612 to 1381 in anno
try replace 1613 to 1382 in anno
try replace 1614 to 1383 in anno
try replace 1615 to 1384 in anno
try replace 1616 to 1385 in anno
try replace 1617 to 1386 in anno
try replace 1618 to 1387 in anno
try replace 1619 to 1388 in anno
try replace 1620 to 1389 in anno
try replace 1621 to 1390 in anno
try replace 1622 to 1391 in anno
try replace 1625 to 1392 in anno
try replace 1626 to 1393 in anno
try replace 1627 to 1394 in anno
try replace 1629 to 1395 in anno
try replace 1630 to 1396 in anno
try replace 1631 to 1397 in anno
try replace 1632 to 1398 in anno
try replace 1633 to 1399 in anno
try replace 1634 to 1400 in anno
try replace 1635 to 1401 in anno
try replace 1636 to 1402 in anno
try replace 1637 to 1403 in anno
try replace 1639 to 1404 in anno
try replace 1640 to 1405 in anno
try replace 1641 to 1406 in anno
try replace 1642 to 1407 in anno
try replace 1645 to 1408 in anno
try replace 1646 to 1409 in anno
try replace 1647 to 1410 in anno
try replace 1648 to 1411 in anno
try replace 1649 to 1412 in anno
try replace 1650 to 1413 in anno
try replace 1652 to 1414 in anno
try replace 1653 to 1415 in anno
try replace 1655 to 1416 in anno
try replace 1656 to 1417 in anno
try replace 1657 to 1418 in anno
try replace 1658 to 1419 in anno
try replace 1659 to 1420 in anno
try replace 1660 to 1421 in anno
try replace 1661 to 1422 in anno
try replace 1662 to 1423 in anno
try replace 1663 to 1424 in anno
try replace 1664 to 1425 in anno
try replace 1665 to 1426 in anno
try replace 1667 to 1427 in anno
try replace 1668 to 1428 in anno
try replace 1670 to 1429 in anno
try replace 1671 to 1430 in anno
try replace 1672 to 1431 in anno
try replace 1673 to 1432 in anno
try replace 1674 to 1433 in anno
try replace 1675 to 1434 in anno
try replace 1676 to 1435 in anno
try replace 1677 to 1436 in anno
try replace 1678 to 1437 in anno
try replace 1679 to 1438 in anno
try replace 1680 to 1439 in anno
try replace 1681 to 1440 in anno
try replace 1682 to 1441 in anno
try replace 1683 to 1442 in anno
try replace 1684 to 1443 in anno
try replace 1685 to 1444 in anno
try replace 1686 to 1445 in anno
try replace 1687 to 1446 in anno
try replace 1688 to 1447 in anno
try replace 1689 to 1448 in anno
try replace 1690 to 1449 in anno
try replace 1691 to 1450 in anno
try replace 1692 to 1451 in anno
try replace 1695 to 1452 in anno
try replace 1696 to 1453 in anno
try replace 1697 to 1454 in anno
try replace 1699 to 1455 in anno
try replace 1700 to 1456 in anno
try replace 1701 to 1457 in anno
try replace 1703 to 1458 in anno
try replace 1705 to 1459 in anno
try replace 1706 to 1460 in anno
try replace 1708 to 1461 in anno
try replace 1709 to 1462 in anno
try replace 1711 to 1463 in anno
try replace 1712 to 1464 in anno
try replace 1713 to 1465 in anno
try replace 1714 to 1466 in anno
try replace 1715 to 1467 in anno
try replace 1716 to 1468 in anno
try replace 1717 to 1469 in anno
try replace 1718 to 1470 in anno
try replace 1719 to 1471 in anno
try replace 1721 to 1472 in anno
try replace 1722 to 1473 in anno
try replace 1723 to 1474 in anno
try replace 1724 to 1475 in anno
try replace 1725 to 1476 in anno
try replace 1726 to 1477 in anno
try replace 1728 to 1478 in anno
try replace 1729 to 1479 in anno
try replace 1732 to 1480 in anno
try replace 1733 to 1481 in anno
try replace 1734 to 1482 in anno
try replace 1735 to 1483 in anno
try replace 1736 to 1484 in anno
try replace 1737 to 1485 in anno
try replace 1738 to 1486 in anno
try replace 1740 to 1487 in anno
try replace 1742 to 1488 in anno
try replace 1744 to 1489 in anno
try replace 1745 to 1490 in anno
try replace 1746 to 1491 in anno
try replace 1748 to 1492 in anno
try replace 1749 to 1493 in anno
try replace 1750 to 1494 in anno
try replace 1751 to 1495 in anno
try replace 1754 to 1496 in anno
try replace 1755 to 1497 in anno
try replace 1756 to 1498 in anno
try replace 1757 to 1499 in anno
try replace 1758 to 1500 in anno
try replace 1759 to 1501 in anno
try replace 1761 to 1502 in anno
try replace 1764 to 1503 in anno
try replace 1765 to 1504 in anno
try replace 1766 to 1505 in anno
try replace 1767 to 1506 in anno
try replace 1768 to 1507 in anno
try replace 1769 to 1508 in anno
try replace 1770 to 1509 in anno
try replace 1771 to 1510 in anno
try replace 1772 to 1511 in anno
try replace 1773 to 1512 in anno
try replace 1774 to 1513 in anno
try replace 1775 to 1514 in anno
try replace 1776 to 1515 in anno
try replace 1777 to 1516 in anno
try replace 1780 to 1517 in anno
try replace 1781 to 1518 in anno
try replace 1782 to 1519 in anno
try replace 1783 to 1520 in anno
try replace 1784 to 1521 in anno
try replace 1785 to 1522 in anno
try replace 1786 to 1523 in anno
try replace 1787 to 1524 in anno
try replace 1788 to 1525 in anno
try replace 1789 to 1526 in anno
try replace 1790 to 1527 in anno
try replace 1791 to 1528 in anno
try replace 1792 to 1529 in anno
try replace 1795 to 1530 in anno
try replace 1797 to 1531 in anno
try replace 1798 to 1532 in anno
try replace 1800 to 1533 in anno
try replace 1801 to 1534 in anno
try replace 1802 to 1535 in anno
try replace 1803 to 1536 in anno
try replace 1804 to 1537 in anno
try replace 1805 to 1538 in anno
try replace 1806 to 1539 in anno
try replace 1807 to 1540 in anno
try replace 1808 to 1541 in anno
try replace 1809 to 1542 in anno
try replace 1811 to 1543 in anno
try replace 1812 to 1544 in anno
try replace 1813 to 1545 in anno
try replace 1814 to 1546 in anno
try replace 1816 to 1547 in anno
try replace 1817 to 1548 in anno
try replace 1818 to 1549 in anno
try replace 1819 to 1550 in anno
try replace 1820 to 1551 in anno
try replace 1823 to 1552 in anno
try replace 1824 to 1553 in anno
try replace 1825 to 1554 in anno
try replace 1827 to 1555 in anno
try replace 1828 to 1556 in anno
try replace 1829 to 1557 in anno
try replace 1830 to 1558 in anno
try replace 1831 to 1559 in anno
try replace 1832 to 1560 in anno
try replace 1833 to 1561 in anno
try replace 1834 to 1562 in anno
try replace 1835 to 1563 in anno
try replace 1837 to 1564 in anno
try replace 1838 to 1565 in anno
try replace 1840 to 1566 in anno
try replace 1841 to 1567 in anno
try replace 1842 to 1568 in anno
try replace 1844 to 1569 in anno
try replace 1845 to 1570 in anno
try replace 1846 to 1571 in anno
try replace 1847 to 1572 in anno
try replace 1848 to 1573 in anno
try replace 1849 to 1574 in anno
try replace 1850 to 1575 in anno
try replace 1851 to 1576 in anno
try replace 1852 to 1577 in anno
try replace 1854 to 1578 in anno
try replace 1855 to 1579 in anno
try replace 1856 to 1580 in anno
try replace 1857 to 1581 in anno
try replace 1858 to 1582 in anno
try replace 1859 to 1583 in anno
try replace 1861 to 1584 in anno
try replace 1862 to 1585 in anno
try replace 1863 to 1586 in anno
try replace 1864 to 1587 in anno
try replace 1865 to 1588 in anno
try replace 1866 to 1589 in anno
try replace 1867 to 1590 in anno
try replace 1868 to 1591 in anno
try replace 1869 to 1592 in anno
try replace 1870 to 1593 in anno
try replace 1871 to 1594 in anno
try replace 1872 to 1595 in anno
try replace 1873 to 1596 in anno
try replace 1875 to 1597 in anno
try replace 1876 to 1598 in anno
try replace 1877 to 1599 in anno
try replace 1878 to 1600 in anno
try replace 1880 to 1601 in anno
try replace 1881 to 1602 in anno
try replace 1882 to 1603 in anno
try replace 1884 to 1604 in anno
try replace 1885 to 1605 in anno
try replace 1886 to 1606 in anno
try replace 1887 to 1607 in anno
try replace 1888 to 1608 in anno
try replace 1889 to 1609 in anno
try replace 1890 to 1610 in anno
try replace 1892 to 1611 in anno
try replace 1893 to 1612 in anno
try replace 1894 to 1613 in anno
try replace 1895 to 1614 in anno
try replace 1897 to 1615 in anno
try replace 1898 to 1616 in anno
try replace 1901 to 1617 in anno
try replace 1903 to 1618 in anno
try replace 1904 to 1619 in anno
try replace 1905 to 1620 in anno
try replace 1908 to 1621 in anno
try replace 1911 to 1622 in anno
try replace 1912 to 1623 in anno
try replace 1913 to 1624 in anno
try replace 1914 to 1625 in anno
try replace 1915 to 1626 in anno
try replace 1916 to 1627 in anno
try replace 1918 to 1628 in anno
try replace 1919 to 1629 in anno
try replace 1920 to 1630 in anno
try replace 1921 to 1631 in anno
try replace 1922 to 1632 in anno
try replace 1923 to 1633 in anno
try replace 1924 to 1634 in anno
try replace 1925 to 1635 in anno
try replace 1926 to 1636 in anno
try replace 1927 to 1637 in anno
try replace 1928 to 1638 in anno
try replace 1929 to 1639 in anno
try replace 1930 to 1640 in anno
try replace 1931 to 1641 in anno
try replace 1932 to 1642 in anno
try replace 1933 to 1643 in anno
try replace 1935 to 1644 in anno
try replace 1936 to 1645 in anno
try replace 1937 to 1646 in anno
try replace 1939 to 1647 in anno
try replace 1940 to 1648 in anno
try replace 1941 to 1649 in anno
try replace 1942 to 1650 in anno
try replace 1943 to 1651 in anno
try replace 1946 to 1652 in anno
try replace 1947 to 1653 in anno
try replace 1948 to 1654 in anno
try replace 1949 to 1655 in anno
try replace 1950 to 1656 in anno
try replace 1951 to 1657 in anno
try replace 1952 to 1658 in anno
try replace 1953 to 1659 in anno
try replace 1954 to 1660 in anno
try replace 1955 to 1661 in anno
try replace 1956 to 1662 in anno
try replace 1957 to 1663 in anno
try replace 1958 to 1664 in anno
try replace 1959 to 1665 in anno
try replace 1960 to 1666 in anno
try replace 1961 to 1667 in anno
try replace 1962 to 1668 in anno
try replace 1963 to 1669 in anno
try replace 1964 to 1670 in anno
try replace 1965 to 1671 in anno
try replace 1967 to 1672 in anno
try replace 1968 to 1673 in anno
try replace 1969 to 1674 in anno
try replace 1970 to 1675 in anno
try replace 1971 to 1676 in anno
try replace 1973 to 1677 in anno
try replace 1974 to 1678 in anno
try replace 1975 to 1679 in anno
try replace 1976 to 1680 in anno
try replace 1977 to 1681 in anno
try replace 1978 to 1682 in anno
try replace 1980 to 1683 in anno
try replace 1981 to 1684 in anno
try replace 1982 to 1685 in anno

try replace 1983 to 1686 in anno
try replace 1984 to 1687 in anno
try replace 1985 to 1688 in anno
try replace 1986 to 1689 in anno
try replace 1987 to 1690 in anno
try replace 1988 to 1691 in anno
try replace 1989 to 1692 in anno
try replace 1991 to 1693 in anno
try replace 1993 to 1694 in anno
try replace 1995 to 1695 in anno
try replace 1996 to 1696 in anno
try replace 1997 to 1697 in anno
try replace 1998 to 1698 in anno
try replace 1999 to 1699 in anno
try replace 2000 to 1700 in anno
try replace 2001 to 1701 in anno
try replace 2003 to 1702 in anno
try replace 2004 to 1703 in anno
try replace 2005 to 1704 in anno
try replace 2006 to 1705 in anno
try replace 2007 to 1706 in anno
try replace 2008 to 1707 in anno
try replace 2009 to 1708 in anno
try replace 2010 to 1709 in anno
try replace 2011 to 1710 in anno
try replace 2012 to 1711 in anno
try replace 2013 to 1712 in anno
try replace 2014 to 1713 in anno
try replace 2015 to 1714 in anno
try replace 2017 to 1715 in anno
try replace 2018 to 1716 in anno
try replace 2019 to 1717 in anno
try replace 2020 to 1718 in anno
try replace 2021 to 1719 in anno
try replace 2022 to 1720 in anno
try replace 2023 to 1721 in anno
try replace 2024 to 1722 in anno
try replace 2025 to 1723 in anno
try replace 2026 to 1724 in anno
try replace 2027 to 1725 in anno
try replace 2028 to 1726 in anno
try replace 2029 to 1727 in anno
try replace 2030 to 1728 in anno
try replace 2031 to 1729 in anno
try replace 2032 to 1730 in anno
try replace 2034 to 1731 in anno
try replace 2035 to 1732 in anno
try replace 2036 to 1733 in anno
try replace 2037 to 1734 in anno
try replace 2038 to 1735 in anno
try replace 2039 to 1736 in anno
try replace 2040 to 1737 in anno
try replace 2042 to 1738 in anno
try replace 2043 to 1739 in anno
try replace 2044 to 1740 in anno
try replace 2045 to 1741 in anno
try replace 2046 to 1742 in anno
try replace 2047 to 1743 in anno
try replace 2050 to 1744 in anno
try replace 2052 to 1745 in anno
try replace 2053 to 1746 in anno
try replace 2055 to 1747 in anno
try replace 2056 to 1748 in anno
try replace 2057 to 1749 in anno
try replace 2058 to 1750 in anno
try replace 2059 to 1751 in anno
try replace 2060 to 1752 in anno
try replace 2061 to 1753 in anno
try replace 2062 to 1754 in anno
try replace 2063 to 1755 in anno
try replace 2064 to 1756 in anno
try replace 2065 to 1757 in anno
try replace 2066 to 1758 in anno
try replace 2067 to 1759 in anno
try replace 2068 to 1760 in anno
try replace 2070 to 1761 in anno
try replace 2071 to 1762 in anno
try replace 2072 to 1763 in anno
try replace 2073 to 1764 in anno
try replace 2074 to 1765 in anno
try replace 2075 to 1766 in anno
try replace 2076 to 1767 in anno
try replace 2077 to 1768 in anno
try replace 2078 to 1769 in anno
try replace 2079 to 1770 in anno
try replace 2081 to 1771 in anno
try replace 2082 to 1772 in anno
try replace 2083 to 1773 in anno
try replace 2084 to 1774 in anno
try replace 2086 to 1775 in anno
try replace 2087 to 1776 in anno
try replace 2088 to 1777 in anno
try replace 2089 to 1778 in anno
try replace 2094 to 1779 in anno
try replace 2095 to 1780 in anno
try replace 2096 to 1781 in anno
try replace 2097 to 1782 in anno
try replace 2098 to 1783 in anno
try replace 2100 to 1784 in anno
try replace 2102 to 1785 in anno
try replace 2103 to 1786 in anno
try replace 2104 to 1787 in anno
try replace 2105 to 1788 in anno
try replace 2106 to 1789 in anno
try replace 2107 to 1790 in anno
try replace 2108 to 1791 in anno
try replace 2109 to 1792 in anno
try replace 2111 to 1793 in anno
try replace 2112 to 1794 in anno
try replace 2113 to 1795 in anno
try replace 2114 to 1796 in anno
try replace 2115 to 1797 in anno
try replace 2116 to 1798 in anno
try replace 2117 to 1799 in anno
try replace 2118 to 1800 in anno
try replace 2119 to 1801 in anno
try replace 2120 to 1802 in anno
try replace 2121 to 1803 in anno
try replace 2122 to 1804 in anno
try replace 2123 to 1805 in anno
try replace 2125 to 1806 in anno
try replace 2126 to 1807 in anno
try replace 2127 to 1808 in anno
try replace 2128 to 1809 in anno
try replace 2130 to 1810 in anno
try replace 2131 to 1811 in anno
try replace 2132 to 1812 in anno
try replace 2133 to 1813 in anno
try replace 2134 to 1814 in anno
try replace 2135 to 1815 in anno
try replace 2136 to 1816 in anno
try replace 2137 to 1817 in anno
try replace 2138 to 1818 in anno
try replace 2139 to 1819 in anno
try replace 2140 to 1820 in anno
try replace 2141 to 1821 in anno
try replace 2142 to 1822 in anno
try replace 2143 to 1823 in anno
try replace 2144 to 1824 in anno
try replace 2145 to 1825 in anno
try replace 2146 to 1826 in anno
try replace 2147 to 1827 in anno
try replace 2148 to 1828 in anno
try replace 2149 to 1829 in anno
try replace 2150 to 1830 in anno
try replace 2152 to 1831 in anno
try replace 2153 to 1832 in anno
try replace 2154 to 1833 in anno
try replace 2155 to 1834 in anno
try replace 2157 to 1835 in anno
try replace 2158 to 1836 in anno
try replace 2159 to 1837 in anno
try replace 2161 to 1838 in anno
try replace 2162 to 1839 in anno
try replace 2163 to 1840 in anno
try replace 2164 to 1841 in anno
try replace 2165 to 1842 in anno
try replace 2166 to 1843 in anno
try replace 2167 to 1844 in anno
try replace 2168 to 1845 in anno
try replace 2169 to 1846 in anno
try replace 2171 to 1847 in anno
try replace 2172 to 1848 in anno
try replace 2173 to 1849 in anno
try replace 2174 to 1850 in anno
try replace 2175 to 1851 in anno
try replace 2176 to 1852 in anno
try replace 2177 to 1853 in anno
try replace 2178 to 1854 in anno
try replace 2180 to 1855 in anno
try replace 2181 to 1856 in anno
try replace 2183 to 1857 in anno
try replace 2184 to 1858 in anno
try replace 2185 to 1859 in anno
try replace 2186 to 1860 in anno
try replace 2188 to 1861 in anno
try replace 2189 to 1862 in anno
try replace 2190 to 1863 in anno
try replace 2191 to 1864 in anno
try replace 2192 to 1865 in anno
try replace 2193 to 1866 in anno
try replace 2194 to 1867 in anno
try replace 2195 to 1868 in anno
try replace 2196 to 1869 in anno
try replace 2197 to 1870 in anno
try replace 2198 to 1871 in anno
try replace 2199 to 1872 in anno
try replace 2200 to 1873 in anno
try replace 2201 to 1874 in anno
try replace 2202 to 1875 in anno
try replace 2204 to 1876 in anno
try replace 2205 to 1877 in anno
try replace 2206 to 1878 in anno
try replace 2207 to 1879 in anno
try replace 2208 to 1880 in anno
try replace 2209 to 1881 in anno
try replace 2211 to 1882 in anno
try replace 2212 to 1883 in anno
try replace 2213 to 1884 in anno
try replace 2215 to 1885 in anno
try replace 2216 to 1886 in anno
try replace 2217 to 1887 in anno
try replace 2218 to 1888 in anno
try replace 2219 to 1889 in anno
try replace 2220 to 1890 in anno
try replace 2221 to 1891 in anno
try replace 2222 to 1892 in anno
try replace 2224 to 1893 in anno
try replace 2225 to 1894 in anno
try replace 2226 to 1895 in anno
try replace 2227 to 1896 in anno
try replace 2228 to 1897 in anno
try replace 2230 to 1898 in anno
try replace 2231 to 1899 in anno
try replace 2232 to 1900 in anno
try replace 2233 to 1901 in anno
try replace 2234 to 1902 in anno
try replace 2235 to 1903 in anno
try replace 2237 to 1904 in anno
try replace 2238 to 1905 in anno
try replace 2239 to 1906 in anno
try replace 2240 to 1907 in anno
try replace 2241 to 1908 in anno
try replace 2242 to 1909 in anno
try replace 2243 to 1910 in anno
try replace 2244 to 1911 in anno
try replace 2245 to 1912 in anno
try replace 2246 to 1913 in anno
try replace 2247 to 1914 in anno
try replace 2248 to 1915 in anno
try replace 2250 to 1916 in anno
try replace 2251 to 1917 in anno
try replace 2252 to 1918 in anno
try replace 2253 to 1919 in anno
try replace 2254 to 1920 in anno
try replace 2255 to 1921 in anno
try replace 2256 to 1922 in anno
try replace 2257 to 1923 in anno
try replace 2258 to 1924 in anno
try replace 2261 to 1925 in anno
try replace 2262 to 1926 in anno
try replace 2264 to 1927 in anno
try replace 2265 to 1928 in anno
try replace 2267 to 1929 in anno
try replace 2269 to 1930 in anno
try replace 2270 to 1931 in anno
try replace 2271 to 1932 in anno
try replace 2272 to 1933 in anno
try replace 2273 to 1934 in anno
try replace 2275 to 1935 in anno
try replace 2276 to 1936 in anno
try replace 2277 to 1937 in anno
try replace 2278 to 1938 in anno
try replace 2279 to 1939 in anno
try replace 2280 to 1940 in anno
try replace 2281 to 1941 in anno
try replace 2282 to 1942 in anno
try replace 2283 to 1943 in anno
try replace 2284 to 1944 in anno
try replace 2285 to 1945 in anno
try replace 2286 to 1946 in anno
try replace 2287 to 1947 in anno
try replace 2288 to 1948 in anno
try replace 2289 to 1949 in anno
try replace 2290 to 1950 in anno
try replace 2291 to 1951 in anno
try replace 2292 to 1952 in anno
try replace 2293 to 1953 in anno
try replace 2294 to 1954 in anno
try replace 2295 to 1955 in anno
try replace 2297 to 1956 in anno
try replace 2298 to 1957 in anno
try replace 2299 to 1958 in anno
try replace 2301 to 1959 in anno
try replace 2302 to 1960 in anno
try replace 2303 to 1961 in anno
try replace 2304 to 1962 in anno
try replace 2306 to 1963 in anno
try replace 2307 to 1964 in anno
try replace 2308 to 1965 in anno
try replace 2309 to 1966 in anno
try replace 2310 to 1967 in anno
try replace 2311 to 1968 in anno
try replace 2312 to 1969 in anno
try replace 2313 to 1970 in anno
try replace 2314 to 1971 in anno
try replace 2315 to 1972 in anno
try replace 2316 to 1973 in anno
try replace 2317 to 1974 in anno
try replace 2318 to 1975 in anno
try replace 2319 to 1976 in anno
try replace 2321 to 1977 in anno
try replace 2322 to 1978 in anno
try replace 2325 to 1979 in anno
try replace 2326 to 1980 in anno
try replace 2327 to 1981 in anno
try replace 2329 to 1982 in anno
try replace 2330 to 1983 in anno
try replace 2332 to 1984 in anno
try replace 2334 to 1985 in anno
try replace 2335 to 1986 in anno
try replace 2336 to 1987 in anno
try replace 2337 to 1988 in anno
try replace 2339 to 1989 in anno
try replace 2341 to 1990 in anno
try replace 2342 to 1991 in anno
try replace 2343 to 1992 in anno
try replace 2344 to 1993 in anno
try replace 2345 to 1994 in anno
try replace 2346 to 1995 in anno
try replace 2347 to 1996 in anno
try replace 2348 to 1997 in anno
try replace 2349 to 1998 in anno
try replace 2350 to 1999 in anno
try replace 2351 to 2000 in anno
try replace 2352 to 2001 in anno
try replace 2353 to 2002 in anno
try replace 2354 to 2003 in anno
try replace 2355 to 2004 in anno
try replace 2356 to 2005 in anno
try replace 2357 to 2006 in anno
try replace 2358 to 2007 in anno
try replace 2359 to 2008 in anno
try replace 2360 to 2009 in anno
try replace 2361 to 2010 in anno
try replace 2362 to 2011 in anno
try replace 2363 to 2012 in anno
try replace 2364 to 2013 in anno
try replace 2365 to 2014 in anno
try replace 2366 to 2015 in anno
try replace 2367 to 2016 in anno
try replace 2368 to 2017 in anno
try replace 2369 to 2018 in anno
try replace 2370 to 2019 in anno
try replace 2371 to 2020 in anno
try replace 2372 to 2021 in anno
try replace 2373 to 2022 in anno
try replace 2374 to 2023 in anno
try replace 2376 to 2024 in anno
try replace 2377 to 2025 in anno
try replace 2378 to 2026 in anno
try replace 2379 to 2027 in anno
try replace 2380 to 2028 in anno
try replace 2382 to 2029 in anno
try replace 2383 to 2030 in anno
try replace 2384 to 2031 in anno
try replace 2386 to 2032 in anno
try replace 2388 to 2033 in anno
try replace 2389 to 2034 in anno
try replace 2390 to 2035 in anno
try replace 2391 to 2036 in anno
try replace 2393 to 2037 in anno
try replace 2394 to 2038 in anno
try replace 2396 to 2039 in anno
try replace 2397 to 2040 in anno
try replace 2399 to 2041 in anno
try replace 2400 to 2042 in anno
try replace 2401 to 2043 in anno
try replace 2403 to 2044 in anno
try replace 2404 to 2045 in anno
try replace 2405 to 2046 in anno
try replace 2406 to 2047 in anno
try replace 2407 to 2048 in anno
try replace 2408 to 2049 in anno
try replace 2409 to 2050 in anno
try replace 2411 to 2051 in anno
try replace 2413 to 2052 in anno
try replace 2414 to 2053 in anno
try replace 2415 to 2054 in anno
try replace 2416 to 2055 in anno
try replace 2417 to 2056 in anno
try replace 2418 to 2057 in anno
try replace 2419 to 2058 in anno
try replace 2420 to 2059 in anno
try replace 2422 to 2060 in anno
try replace 2423 to 2061 in anno
try replace 2424 to 2062 in anno
try replace 2426 to 2063 in anno
try replace 2427 to 2064 in anno

try replace 2428 to 2065 in anno
try replace 2429 to 2066 in anno
try replace 2431 to 2067 in anno
try replace 2432 to 2068 in anno
try replace 2434 to 2069 in anno
try replace 2435 to 2070 in anno
try replace 2436 to 2071 in anno
try replace 2437 to 2072 in anno
try replace 2438 to 2073 in anno
try replace 2439 to 2074 in anno
try replace 2440 to 2075 in anno
try replace 2441 to 2076 in anno
try replace 2442 to 2077 in anno
try replace 2443 to 2078 in anno
try replace 2444 to 2079 in anno
try replace 2445 to 2080 in anno
try replace 2446 to 2081 in anno
try replace 2447 to 2082 in anno
try replace 2448 to 2083 in anno
try replace 2449 to 2084 in anno
try replace 2450 to 2085 in anno
try replace 2451 to 2086 in anno
try replace 2452 to 2087 in anno
try replace 2453 to 2088 in anno
try replace 2454 to 2089 in anno
try replace 2455 to 2090 in anno
try replace 2457 to 2091 in anno
try replace 2459 to 2092 in anno
try replace 2461 to 2093 in anno
try replace 2465 to 2094 in anno
try replace 2466 to 2095 in anno
try replace 2468 to 2096 in anno
try replace 2469 to 2097 in anno
try replace 2471 to 2098 in anno
try replace 2472 to 2099 in anno
try replace 2473 to 2100 in anno
try replace 2474 to 2101 in anno
try replace 2475 to 2102 in anno
try replace 2476 to 2103 in anno
try replace 2477 to 2104 in anno
try replace 2479 to 2105 in anno
try replace 2480 to 2106 in anno
try replace 2482 to 2107 in anno
try replace 2483 to 2108 in anno
try replace 2484 to 2109 in anno
try replace 2485 to 2110 in anno
try replace 2487 to 2111 in anno
try replace 2489 to 2112 in anno
try replace 2490 to 2113 in anno
try replace 2491 to 2114 in anno
try replace 2492 to 2115 in anno
try replace 2493 to 2116 in anno
try replace 2494 to 2117 in anno
try replace 2495 to 2118 in anno
try replace 2496 to 2119 in anno
try replace 2497 to 2120 in anno
try replace 2498 to 2121 in anno
try replace 2499 to 2122 in anno
try replace 2500 to 2123 in anno
try replace 2503 to 2124 in anno
try replace 2504 to 2125 in anno
try replace 2505 to 2126 in anno
try replace 2506 to 2127 in anno
try replace 2507 to 2128 in anno
try replace 2508 to 2129 in anno
try replace 2509 to 2130 in anno
try replace 2510 to 2131 in anno
try replace 2511 to 2132 in anno
try replace 2513 to 2133 in anno
try replace 2514 to 2134 in anno
try replace 2515 to 2135 in anno
try replace 2516 to 2136 in anno
try replace 2517 to 2137 in anno
try replace 2519 to 2138 in anno
try replace 2520 to 2139 in anno
try replace 2521 to 2140 in anno
try replace 2522 to 2141 in anno
try replace 2523 to 2142 in anno
try replace 2524 to 2143 in anno
try replace 2525 to 2144 in anno
try replace 2526 to 2145 in anno
try replace 2527 to 2146 in anno
try replace 2528 to 2147 in anno
try replace 2529 to 2148 in anno
try replace 2531 to 2149 in anno
try replace 2532 to 2150 in anno
try replace 2533 to 2151 in anno
try replace 2534 to 2152 in anno
try replace 2535 to 2153 in anno
try replace 2536 to 2154 in anno
try replace 2537 to 2155 in anno
try replace 2538 to 2156 in anno
try replace 2539 to 2157 in anno
try replace 2540 to 2158 in anno
try replace 2542 to 2159 in anno
try replace 2543 to 2160 in anno
try replace 2544 to 2161 in anno
try replace 2545 to 2162 in anno
try replace 2546 to 2163 in anno
try replace 2547 to 2164 in anno
try replace 2549 to 2165 in anno
try replace 2550 to 2166 in anno
try replace 2551 to 2167 in anno
try replace 2552 to 2168 in anno
try replace 2553 to 2169 in anno
try replace 2554 to 2170 in anno
try replace 2555 to 2171 in anno
try replace 2557 to 2172 in anno
try replace 2558 to 2173 in anno
try replace 2559 to 2174 in anno
try replace 2560 to 2175 in anno
try replace 2561 to 2176 in anno
try replace 2562 to 2177 in anno
try replace 2565 to 2178 in anno
try replace 2566 to 2179 in anno
try replace 2567 to 2180 in anno
try replace 2568 to 2181 in anno
try replace 2569 to 2182 in anno
try replace 2570 to 2183 in anno
try replace 2571 to 2184 in anno
try replace 2572 to 2185 in anno
try replace 2573 to 2186 in anno
try replace 2574 to 2187 in anno
try replace 2575 to 2188 in anno
try replace 2576 to 2189 in anno
try replace 2577 to 2190 in anno
try replace 2578 to 2191 in anno
try replace 2579 to 2192 in anno
try replace 2580 to 2193 in anno
try replace 2581 to 2194 in anno
try replace 2582 to 2195 in anno
try replace 2583 to 2196 in anno
try replace 2584 to 2197 in anno
try replace 2585 to 2198 in anno
try replace 2586 to 2199 in anno
try replace 2587 to 2200 in anno
try replace 2589 to 2201 in anno
try replace 2590 to 2202 in anno
try replace 2591 to 2203 in anno
try replace 2593 to 2204 in anno
try replace 2594 to 2205 in anno
try replace 2595 to 2206 in anno
try replace 2596 to 2207 in anno
try replace 2597 to 2208 in anno
try replace 2598 to 2209 in anno
try replace 2599 to 2210 in anno
try replace 2600 to 2211 in anno
try replace 2601 to 2212 in anno
try replace 2603 to 2213 in anno
try replace 2604 to 2214 in anno
try replace 2605 to 2215 in anno
try replace 2606 to 2216 in anno
try replace 2609 to 2217 in anno
try replace 2611 to 2218 in anno
try replace 2612 to 2219 in anno
try replace 2613 to 2220 in anno
try replace 2614 to 2221 in anno
try replace 2615 to 2222 in anno
try replace 2616 to 2223 in anno
try replace 2617 to 2224 in anno
try replace 2618 to 2225 in anno
try replace 2619 to 2226 in anno
try replace 2620 to 2227 in anno
try replace 2621 to 2228 in anno
try replace 2622 to 2229 in anno
try replace 2623 to 2230 in anno
try replace 2624 to 2231 in anno
try replace 2625 to 2232 in anno
try replace 2626 to 2233 in anno
try replace 2627 to 2234 in anno
try replace 2629 to 2235 in anno
try replace 2630 to 2236 in anno
try replace 2632 to 2237 in anno
try replace 2633 to 2238 in anno
try replace 2634 to 2239 in anno
try replace 2635 to 2240 in anno
try replace 2638 to 2241 in anno
try replace 2640 to 2242 in anno
try replace 2641 to 2243 in anno
try replace 2642 to 2244 in anno
try replace 2643 to 2245 in anno
try replace 2644 to 2246 in anno
try replace 2645 to 2247 in anno
try replace 2647 to 2248 in anno
try replace 2648 to 2249 in anno
try replace 2649 to 2250 in anno
try replace 2650 to 2251 in anno
try replace 2651 to 2252 in anno
try replace 2652 to 2253 in anno
try replace 2653 to 2254 in anno
try replace 2654 to 2255 in anno
try replace 2655 to 2256 in anno
try replace 2658 to 2257 in anno
try replace 2659 to 2258 in anno
try replace 2660 to 2259 in anno
try replace 2661 to 2260 in anno
try replace 2662 to 2261 in anno
try replace 2663 to 2262 in anno
try replace 2665 to 2263 in anno
try replace 2666 to 2264 in anno
try replace 2667 to 2265 in anno
try replace 2668 to 2266 in anno
try replace 2669 to 2267 in anno
try replace 2670 to 2268 in anno
try replace 2672 to 2269 in anno
try replace 2673 to 2270 in anno
try replace 2674 to 2271 in anno
try replace 2675 to 2272 in anno
try replace 2676 to 2273 in anno
try replace 2677 to 2274 in anno
try replace 2678 to 2275 in anno
try replace 2679 to 2276 in anno
try replace 2681 to 2277 in anno
try replace 2682 to 2278 in anno
try replace 2683 to 2279 in anno
try replace 2684 to 2280 in anno
try replace 2685 to 2281 in anno
try replace 2687 to 2282 in anno
try replace 2688 to 2283 in anno
try replace 2690 to 2284 in anno
try replace 2691 to 2285 in anno
try replace 2692 to 2286 in anno
try replace 2693 to 2287 in anno
try replace 2694 to 2288 in anno
try replace 2695 to 2289 in anno
try replace 2696 to 2290 in anno
try replace 2697 to 2291 in anno
try replace 2698 to 2292 in anno
try replace 2699 to 2293 in anno
try replace 2700 to 2294 in anno
try replace 2701 to 2295 in anno
try replace 2702 to 2296 in anno
try replace 2703 to 2297 in anno
try replace 2704 to 2298 in anno
try replace 2705 to 2299 in anno
try replace 2707 to 2300 in anno
try replace 2708 to 2301 in anno
try replace 2709 to 2302 in anno
try replace 2710 to 2303 in anno
try replace 2711 to 2304 in anno
try replace 2712 to 2305 in anno
try replace 2714 to 2306 in anno
try replace 2715 to 2307 in anno
try replace 2716 to 2308 in anno
try replace 2717 to 2309 in anno
try replace 2718 to 2310 in anno
try replace 2719 to 2311 in anno
try replace 2720 to 2312 in anno
try replace 2721 to 2313 in anno
try replace 2724 to 2314 in anno
try replace 2726 to 2315 in anno
try replace 2727 to 2316 in anno
try replace 2730 to 2317 in anno
try replace 2732 to 2318 in anno
try replace 2733 to 2319 in anno
try replace 2734 to 2320 in anno
try replace 2735 to 2321 in anno
try replace 2736 to 2322 in anno
try replace 2737 to 2323 in anno
try replace 2738 to 2324 in anno
try replace 2739 to 2325 in anno
try replace 2740 to 2326 in anno
try replace 2741 to 2327 in anno
try replace 2742 to 2328 in anno
try replace 2743 to 2329 in anno
try replace 2744 to 2330 in anno
try replace 2745 to 2331 in anno
try replace 2746 to 2332 in anno
try replace 2747 to 2333 in anno
try replace 2748 to 2334 in anno
try replace 2749 to 2335 in anno
try replace 2750 to 2336 in anno
try replace 2752 to 2337 in anno
try replace 2753 to 2338 in anno
try replace 2754 to 2339 in anno
try replace 2755 to 2340 in anno
try replace 2756 to 2341 in anno
try replace 2757 to 2342 in anno
try replace 2758 to 2343 in anno
try replace 2759 to 2344 in anno
try replace 2760 to 2345 in anno
try replace 2763 to 2346 in anno
try replace 2764 to 2347 in anno
try replace 2765 to 2348 in anno
try replace 2766 to 2349 in anno
try replace 2767 to 2350 in anno
try replace 2769 to 2351 in anno
try replace 2770 to 2352 in anno
try replace 2771 to 2353 in anno
try replace 2772 to 2354 in anno
try replace 2773 to 2355 in anno
try replace 2775 to 2356 in anno
try replace 2776 to 2357 in anno
try replace 2778 to 2358 in anno
try replace 2779 to 2359 in anno
try replace 2780 to 2360 in anno
try replace 2781 to 2361 in anno
try replace 2782 to 2362 in anno
try replace 2783 to 2363 in anno
try replace 2784 to 2364 in anno
try replace 2786 to 2365 in anno
try replace 2787 to 2366 in anno
try replace 2788 to 2367 in anno
try replace 2789 to 2368 in anno
try replace 2790 to 2369 in anno
try replace 2791 to 2370 in anno
try replace 2792 to 2371 in anno
try replace 2793 to 2372 in anno
try replace 2794 to 2373 in anno
try replace 2795 to 2374 in anno
try replace 2796 to 2375 in anno
try replace 2797 to 2376 in anno
try replace 2798 to 2377 in anno
try replace 2799 to 2378 in anno
try replace 2800 to 2379 in anno
try replace 2801 to 2380 in anno
try replace 2802 to 2381 in anno
try replace 2805 to 2382 in anno
try replace 2806 to 2383 in anno
try replace 2808 to 2384 in anno
try replace 2809 to 2385 in anno
try replace 2810 to 2386 in anno
try replace 2811 to 2387 in anno
try replace 2813 to 2388 in anno
try replace 2814 to 2389 in anno
try replace 2815 to 2390 in anno
try replace 2816 to 2391 in anno
try replace 2817 to 2392 in anno
try replace 2818 to 2393 in anno
try replace 2819 to 2394 in anno
try replace 2820 to 2395 in anno
try replace 2821 to 2396 in anno
try replace 2822 to 2397 in anno
try replace 2825 to 2398 in anno
try replace 2827 to 2399 in anno
try replace 2828 to 2400 in anno
try replace 2829 to 2401 in anno
try replace 2830 to 2402 in anno
try replace 2831 to 2403 in anno
try replace 2833 to 2404 in anno
try replace 2834 to 2405 in anno
try replace 2835 to 2406 in anno
try replace 2836 to 2407 in anno
try replace 2837 to 2408 in anno
try replace 2838 to 2409 in anno
try replace 2841 to 2410 in anno
try replace 2842 to 2411 in anno
try replace 2843 to 2412 in anno
try replace 2844 to 2413 in anno
try replace 2845 to 2414 in anno
try replace 2846 to 2415 in anno
try replace 2847 to 2416 in anno
try replace 2848 to 2417 in anno
try replace 2850 to 2418 in anno
try replace 2851 to 2419 in anno
try replace 2853 to 2420 in anno
try replace 2854 to 2421 in anno
try replace 2855 to 2422 in anno
try replace 2857 to 2423 in anno
try replace 2858 to 2424 in anno
try replace 2859 to 2425 in anno
try replace 2861 to 2426 in anno
try replace 2862 to 2427 in anno
try replace 2864 to 2428 in anno
try replace 2865 to 2429 in anno
try replace 2866 to 2430 in anno
try replace 2867 to 2431 in anno
try replace 2868 to 2432 in anno
try replace 2869 to 2433 in anno
try replace 2870 to 2434 in anno
try replace 2871 to 2435 in anno
try replace 2872 to 2436 in anno
try replace 2873 to 2437 in anno
try replace 2874 to 2438 in anno
try replace 2875 to 2439 in anno
try replace 2876 to 2440 in anno
try replace 2877 to 2441 in anno
try replace 2879 to 2442 in anno
try replace 2883 to 2443 in anno

try replace 2884 to 2444 in anno
try replace 2885 to 2445 in anno
try replace 2886 to 2446 in anno
try replace 2887 to 2447 in anno
try replace 2888 to 2448 in anno
try replace 2889 to 2449 in anno
try replace 2891 to 2450 in anno
try replace 2892 to 2451 in anno
try replace 2893 to 2452 in anno
try replace 2894 to 2453 in anno
try replace 2895 to 2454 in anno
try replace 2896 to 2455 in anno
try replace 2898 to 2456 in anno
try replace 2899 to 2457 in anno
try replace 2900 to 2458 in anno
try replace 2901 to 2459 in anno
try replace 2902 to 2460 in anno
try replace 2903 to 2461 in anno
try replace 2904 to 2462 in anno
try replace 2905 to 2463 in anno
try replace 2906 to 2464 in anno
try replace 2907 to 2465 in anno
try replace 2908 to 2466 in anno
try replace 2909 to 2467 in anno
try replace 2910 to 2468 in anno
try replace 2913 to 2469 in anno
try replace 2914 to 2470 in anno
try replace 2915 to 2471 in anno
try replace 2916 to 2472 in anno
try replace 2917 to 2473 in anno
try replace 2918 to 2474 in anno
try replace 2919 to 2475 in anno
try replace 2921 to 2476 in anno
try replace 2922 to 2477 in anno
try replace 2923 to 2478 in anno
try replace 2924 to 2479 in anno
try replace 2925 to 2480 in anno
try replace 2926 to 2481 in anno
try replace 2927 to 2482 in anno
try replace 2928 to 2483 in anno
try replace 2929 to 2484 in anno
try replace 2930 to 2485 in anno
try replace 2931 to 2486 in anno
try replace 2932 to 2487 in anno
try replace 2933 to 2488 in anno
try replace 2934 to 2489 in anno
try replace 2935 to 2490 in anno
try replace 2936 to 2491 in anno
try replace 2937 to 2492 in anno
try replace 2938 to 2493 in anno
try replace 2939 to 2494 in anno
try replace 2940 to 2495 in anno
try replace 2941 to 2496 in anno
try replace 2942 to 2497 in anno
try replace 2943 to 2498 in anno
try replace 2944 to 2499 in anno
try replace 2945 to 2500 in anno
try replace 2946 to 2501 in anno
try replace 2947 to 2502 in anno
try replace 2948 to 2503 in anno
try replace 2949 to 2504 in anno
try replace 2950 to 2505 in anno
try replace 2951 to 2506 in anno
try replace 2952 to 2507 in anno
try replace 2953 to 2508 in anno
try replace 2954 to 2509 in anno
try replace 2955 to 2510 in anno
try replace 2956 to 2511 in anno
try replace 2957 to 2512 in anno
try replace 2958 to 2513 in anno
try replace 2959 to 2514 in anno
try replace 2960 to 2515 in anno
try replace 2961 to 2516 in anno
try replace 2962 to 2517 in anno
try replace 2963 to 2518 in anno
try replace 2964 to 2519 in anno
try replace 2965 to 2520 in anno
try replace 2966 to 2521 in anno
try replace 2967 to 2522 in anno
try replace 2968 to 2523 in anno
try replace 2969 to 2524 in anno
try replace 2971 to 2525 in anno
try replace 2972 to 2526 in anno
try replace 2973 to 2527 in anno
try replace 2974 to 2528 in anno
try replace 2975 to 2529 in anno

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
1,2,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2,3,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
3,4,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
4,5,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
...,...,...,...,...,...,...,...,...
2524,2525,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2525,2526,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2526,2527,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2527,2528,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2528,2529,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,

In [457]:
ann_df = ann_df.sort_values('image_id')
ann_df.reset_index(drop=True, inplace=True)
ann_df

,id,image_id,category_id,iscrowd,bbox,width,height,area
0,3,1,1,True,"[1137.0, 307.0, 8.0, 9.0]",2048,1024,72
1,2,1,1,True,"[1911.0, 359.0, 10.0, 54.0]",2048,1024,540
2,1,1,1,True,"[1034.0, 366.0, 31.0, 75.0]",2048,1024,2325
3,6,2,1,False,"[281.0, 381.0, 89.0, 216.0]",2048,1024,19224
4,4,2,1,False,"[602.0, 413.0, 60.0, 146.0]",2048,1024,8760
...,...,...,...,...,...,...,...,...
23651,27755,2529,1,False,"[1662.0, 366.0, 26.0, 63.0]",2048,1024,1638
23652,27754,2529,1,False,"[1642.0, 370.0, 25.0, 61.0]",2048,1024,1525
23653,27753,2529,1,False,"[1633.0, 369.0, 21.0, 51.0]",2048,1024,1071
23654,27769,2529,1,True,"[446.0, 351.0, 8.0, 65.0]",2048,1024,520
23655,27765,2529,1,True,"[1570.0, 376.0, 20.0, 48.0]",2048,1024,960

In [458]:
for idx, row in ann_df.iterrows():
    ann_df.at[ann_df.index[idx], 'id'] = idx + 1
ann_df

,id,image_id,category_id,iscrowd,bbox,width,height,area
0,1,1,1,True,"[1137.0, 307.0, 8.0, 9.0]",2048,1024,72
1,2,1,1,True,"[1911.0, 359.0, 10.0, 54.0]",2048,1024,540
2,3,1,1,True,"[1034.0, 366.0, 31.0, 75.0]",2048,1024,2325
3,4,2,1,False,"[281.0, 381.0, 89.0, 216.0]",2048,1024,19224
4,5,2,1,False,"[602.0, 413.0, 60.0, 146.0]",2048,1024,8760
...,...,...,...,...,...,...,...,...
23651,23652,2529,1,False,"[1662.0, 366.0, 26.0, 63.0]",2048,1024,1638
23652,23653,2529,1,False,"[1642.0, 370.0, 25.0, 61.0]",2048,1024,1525
23653,23654,2529,1,False,"[1633.0, 369.0, 21.0, 51.0]",2048,1024,1071
23654,23655,2529,1,True,"[446.0, 351.0, 8.0, 65.0]",2048,1024,520
23655,23656,2529,1,True,"[1570.0, 376.0, 20.0, 48.0]",2048,1024,960

In [459]:
for i in range(2529):
    if ann_df.loc[ann_df['image_id'] == i].empty:
        print(f'{i} is empty')

0 is empty
8 is empty
20 is empty
33 is empty
37 is empty
59 is empty
93 is empty
95 is empty
117 is empty
170 is empty
188 is empty
222 is empty
226 is empty
235 is empty
255 is empty
258 is empty
264 is empty
356 is empty
357 is empty
362 is empty
370 is empty
374 is empty
397 is empty
398 is empty
404 is empty
411 is empty
416 is empty
423 is empty
430 is empty
466 is empty
475 is empty
485 is empty
490 is empty
513 is empty
533 is empty
538 is empty
539 is empty
555 is empty
556 is empty
571 is empty
575 is empty
579 is empty
591 is empty
609 is empty
662 is empty
673 is empty
708 is empty
753 is empty
755 is empty
756 is empty
760 is empty
762 is empty
763 is empty
767 is empty
793 is empty
808 is empty
814 is empty
827 is empty
834 is empty
845 is empty
849 is empty
863 is empty
870 is empty
940 is empty
948 is empty
967 is empty
996 is empty
1002 is empty
1010 is empty
1058 is empty
1078 is empty
1085 is empty
1118 is empty
1145 is empty
1154 is empty
1178 is empty
1181 is empty
1186 is empty
1197 is empty
1210 is empty
1222 is empty
1224 is empty
1225 is empty
1233 is empty
1248 is empty
1250 is empty
1276 is empty
1291 is empty
1336 is empty
1358 is empty
1367 is empty
1372 is empty
1408 is empty
1414 is empty
1445 is empty
1456 is empty
1458 is empty
1461 is empty
1469 is empty
1486 is empty
1496 is empty
1556 is empty
1563 is empty
1605 is empty
1612 is empty
1615 is empty
1627 is empty
1644 is empty
1652 is empty
1657 is empty
1664 is empty
1683 is empty
1685 is empty
1694 is empty
1710 is empty
1739 is empty
1789 is empty
1793 is empty
1798 is empty
1810 is empty
1812 is empty
1828 is empty
1845 is empty
1846 is empty
1848 is empty
1858 is empty
1862 is empty
1864 is empty
2099 is empty
2141 is empty
2161 is empty
2178 is empty
2182 is empty
2194 is empty
2195 is empty
2214 is empty
2222 is empty
2224 is empty
2228 is empty
2229 is empty
2235 is empty
2238 is empty
2284 is empty
2307 is empty
2327 is empty
2413 is empty
2415 is empty
2420 is empty
2431 is empty
2436 is empty
2444 is empty
2449 is empty
2454 is empty
2456 is empty
2457 is empty
2463 is empty
2486 is empty
2496 is empty
2498 is empty
2500 is empty
2503 is empty
2507 is empty
2520 is empty
2521 is empty

In [460]:
cp_info = copy.deepcopy(cp_data['info'])
cp_cat = copy.deepcopy(cp_data['categories'])
cp_data['categories']

[{'id': 1, 'name': 'pedestrain', 'supercategory': 'pedestrain'}]

In [461]:
aug_img_df = copy.deepcopy(im_df)
ann_df_c = copy.deepcopy(ann_df)

In [462]:
print(aug_img_df.shape[0])
print(ann_df_c.shape[0])

2529
23656

### base dataset

In [463]:
aug_data_train = dict()
aug_data_train['info'] = cp_info
aug_data_train['categories'] = cp_cat
aug_data_train['images'] = aug_img_df.to_dict('records')
aug_data_train['annotations'] = ann_df_c.to_dict('records')
with open('datasets/cityperson_train.json', 'w') as fp:
    json.dump(aug_data_train, fp)

### test anno

In [588]:
_img_df, _ann_df = create_test_dfs(cp_img_df, cp_ann_df, test_img_cp_from_train)
_img_df

try replace 4 to 1 in anno
try replace 9 to 2 in anno
try replace 12 to 3 in anno
try replace 21 to 4 in anno
try replace 23 to 5 in anno
try replace 34 to 6 in anno
try replace 38 to 7 in anno
try replace 39 to 8 in anno
try replace 43 to 9 in anno
try replace 45 to 10 in anno
try replace 54 to 11 in anno
try replace 93 to 12 in anno
try replace 94 to 13 in anno
try replace 96 to 14 in anno
try replace 114 to 15 in anno
try replace 122 to 16 in anno
try replace 138 to 17 in anno
try replace 139 to 18 in anno
try replace 144 to 19 in anno
try replace 151 to 20 in anno
try replace 165 to 21 in anno
try replace 167 to 22 in anno
try replace 168 to 23 in anno
try replace 175 to 24 in anno
try replace 178 to 25 in anno
try replace 187 to 26 in anno
try replace 189 to 27 in anno
try replace 192 to 28 in anno
try replace 200 to 29 in anno
try replace 205 to 30 in anno
try replace 220 to 31 in anno
try replace 225 to 32 in anno
try replace 228 to 33 in anno
try replace 233 to 34 in anno
try replace 242 to 35 in anno
try replace 243 to 36 in anno
try replace 244 to 37 in anno
try replace 257 to 38 in anno
try replace 280 to 39 in anno
try replace 282 to 40 in anno
try replace 286 to 41 in anno
try replace 288 to 42 in anno
try replace 305 to 43 in anno
try replace 312 to 44 in anno
try replace 315 to 45 in anno
try replace 323 to 46 in anno
try replace 333 to 47 in anno
try replace 338 to 48 in anno
try replace 347 to 49 in anno
try replace 349 to 50 in anno
try replace 363 to 51 in anno
try replace 378 to 52 in anno
try replace 379 to 53 in anno
try replace 381 to 54 in anno
try replace 393 to 55 in anno
try replace 400 to 56 in anno
try replace 408 to 57 in anno
try replace 418 to 58 in anno
try replace 420 to 59 in anno
try replace 421 to 60 in anno
try replace 428 to 61 in anno
try replace 456 to 62 in anno
try replace 457 to 63 in anno
try replace 459 to 64 in anno
try replace 460 to 65 in anno
try replace 488 to 66 in anno
try replace 497 to 67 in anno
try replace 519 to 68 in anno
try replace 520 to 69 in anno
try replace 529 to 70 in anno
try replace 534 to 71 in anno
try replace 552 to 72 in anno
try replace 553 to 73 in anno
try replace 559 to 74 in anno
try replace 562 to 75 in anno
try replace 569 to 76 in anno
try replace 572 to 77 in anno
try replace 579 to 78 in anno
try replace 582 to 79 in anno
try replace 586 to 80 in anno
try replace 594 to 81 in anno
try replace 595 to 82 in anno
try replace 598 to 83 in anno
try replace 600 to 84 in anno
try replace 601 to 85 in anno
try replace 613 to 86 in anno
try replace 619 to 87 in anno
try replace 625 to 88 in anno
try replace 636 to 89 in anno
try replace 637 to 90 in anno
try replace 638 to 91 in anno
try replace 644 to 92 in anno
try replace 645 to 93 in anno
try replace 663 to 94 in anno
try replace 670 to 95 in anno
try replace 674 to 96 in anno
try replace 677 to 97 in anno
try replace 681 to 98 in anno
try replace 685 to 99 in anno
try replace 687 to 100 in anno
try replace 698 to 101 in anno
try replace 704 to 102 in anno
try replace 710 to 103 in anno
try replace 717 to 104 in anno
try replace 719 to 105 in anno
try replace 741 to 106 in anno
try replace 744 to 107 in anno
try replace 746 to 108 in anno
try replace 747 to 109 in anno
try replace 751 to 110 in anno
try replace 758 to 111 in anno
try replace 767 to 112 in anno
try replace 769 to 113 in anno
try replace 770 to 114 in anno
try replace 779 to 115 in anno
try replace 781 to 116 in anno
try replace 783 to 117 in anno
try replace 790 to 118 in anno
try replace 798 to 119 in anno
try replace 811 to 120 in anno
try replace 820 to 121 in anno
try replace 828 to 122 in anno
try replace 834 to 123 in anno
try replace 851 to 124 in anno
try replace 856 to 125 in anno
try replace 869 to 126 in anno
try replace 881 to 127 in anno
try replace 882 to 128 in anno
try replace 888 to 129 in anno
try replace 894 to 130 in anno
try replace 895 to 131 in anno
try replace 903 to 132 in anno
try replace 932 to 133 in anno
try replace 937 to 134 in anno
try replace 941 to 135 in anno
try replace 947 to 136 in anno
try replace 950 to 137 in anno
try replace 969 to 138 in anno
try replace 980 to 139 in anno
try replace 990 to 140 in anno
try replace 994 to 141 in anno
try replace 1000 to 142 in anno
try replace 1001 to 143 in anno
try replace 1004 to 144 in anno
try replace 1007 to 145 in anno
try replace 1010 to 146 in anno
try replace 1020 to 147 in anno
try replace 1030 to 148 in anno
try replace 1035 to 149 in anno
try replace 1045 to 150 in anno
try replace 1062 to 151 in anno
try replace 1064 to 152 in anno
try replace 1069 to 153 in anno
try replace 1076 to 154 in anno
try replace 1091 to 155 in anno
try replace 1098 to 156 in anno
try replace 1105 to 157 in anno
try replace 1139 to 158 in anno
try replace 1143 to 159 in anno
try replace 1151 to 160 in anno
try replace 1160 to 161 in anno
try replace 1166 to 162 in anno
try replace 1168 to 163 in anno
try replace 1171 to 164 in anno
try replace 1173 to 165 in anno
try replace 1174 to 166 in anno
try replace 1179 to 167 in anno
try replace 1185 to 168 in anno
try replace 1190 to 169 in anno
try replace 1193 to 170 in anno
try replace 1198 to 171 in anno
try replace 1208 to 172 in anno
try replace 1232 to 173 in anno
try replace 1233 to 174 in anno
try replace 1241 to 175 in anno
try replace 1243 to 176 in anno
try replace 1250 to 177 in anno
try replace 1257 to 178 in anno
try replace 1265 to 179 in anno
try replace 1266 to 180 in anno
try replace 1268 to 181 in anno
try replace 1272 to 182 in anno
try replace 1273 to 183 in anno
try replace 1287 to 184 in anno
try replace 1298 to 185 in anno
try replace 1300 to 186 in anno
try replace 1304 to 187 in anno
try replace 1312 to 188 in anno
try replace 1313 to 189 in anno
try replace 1322 to 190 in anno
try replace 1324 to 191 in anno
try replace 1349 to 192 in anno
try replace 1352 to 193 in anno
try replace 1355 to 194 in anno
try replace 1360 to 195 in anno
try replace 1371 to 196 in anno
try replace 1377 to 197 in anno
try replace 1378 to 198 in anno
try replace 1380 to 199 in anno
try replace 1395 to 200 in anno
try replace 1404 to 201 in anno
try replace 1405 to 202 in anno
try replace 1413 to 203 in anno
try replace 1416 to 204 in anno
try replace 1430 to 205 in anno
try replace 1441 to 206 in anno
try replace 1446 to 207 in anno
try replace 1450 to 208 in anno
try replace 1451 to 209 in anno
try replace 1452 to 210 in anno
try replace 1455 to 211 in anno
try replace 1456 to 212 in anno
try replace 1460 to 213 in anno
try replace 1461 to 214 in anno
try replace 1471 to 215 in anno
try replace 1473 to 216 in anno
try replace 1487 to 217 in anno
try replace 1492 to 218 in anno
try replace 1495 to 219 in anno
try replace 1517 to 220 in anno
try replace 1528 to 221 in anno
try replace 1544 to 222 in anno
try replace 1545 to 223 in anno
try replace 1546 to 224 in anno
try replace 1551 to 225 in anno
try replace 1553 to 226 in anno
try replace 1554 to 227 in anno
try replace 1558 to 228 in anno
try replace 1581 to 229 in anno
try replace 1584 to 230 in anno
try replace 1607 to 231 in anno
try replace 1623 to 232 in anno
try replace 1624 to 233 in anno
try replace 1628 to 234 in anno
try replace 1638 to 235 in anno
try replace 1643 to 236 in anno
try replace 1644 to 237 in anno
try replace 1651 to 238 in anno
try replace 1654 to 239 in anno
try replace 1666 to 240 in anno
try replace 1669 to 241 in anno
try replace 1693 to 242 in anno
try replace 1694 to 243 in anno
try replace 1698 to 244 in anno
try replace 1702 to 245 in anno
try replace 1704 to 246 in anno
try replace 1707 to 247 in anno
try replace 1710 to 248 in anno
try replace 1720 to 249 in anno
try replace 1727 to 250 in anno
try replace 1730 to 251 in anno
try replace 1731 to 252 in anno
try replace 1739 to 253 in anno
try replace 1741 to 254 in anno
try replace 1743 to 255 in anno
try replace 1747 to 256 in anno
try replace 1752 to 257 in anno
try replace 1753 to 258 in anno
try replace 1760 to 259 in anno
try replace 1762 to 260 in anno
try replace 1763 to 261 in anno
try replace 1778 to 262 in anno
try replace 1779 to 263 in anno
try replace 1793 to 264 in anno
try replace 1794 to 265 in anno
try replace 1796 to 266 in anno
try replace 1799 to 267 in anno
try replace 1810 to 268 in anno
try replace 1815 to 269 in anno
try replace 1821 to 270 in anno
try replace 1822 to 271 in anno
try replace 1826 to 272 in anno
try replace 1836 to 273 in anno
try replace 1839 to 274 in anno
try replace 1843 to 275 in anno
try replace 1853 to 276 in anno
try replace 1860 to 277 in anno
try replace 1874 to 278 in anno
try replace 1879 to 279 in anno
try replace 1883 to 280 in anno
try replace 1891 to 281 in anno
try replace 1896 to 282 in anno
try replace 1899 to 283 in anno
try replace 1900 to 284 in anno
try replace 1902 to 285 in anno
try replace 1906 to 286 in anno
try replace 1907 to 287 in anno
try replace 1909 to 288 in anno
try replace 1910 to 289 in anno
try replace 1917 to 290 in anno
try replace 1934 to 291 in anno
try replace 1938 to 292 in anno
try replace 1944 to 293 in anno
try replace 1945 to 294 in anno
try replace 1966 to 295 in anno
try replace 1972 to 296 in anno
try replace 1979 to 297 in anno
try replace 1990 to 298 in anno
try replace 1992 to 299 in anno
try replace 1994 to 300 in anno
try replace 2002 to 301 in anno
try replace 2016 to 302 in anno
try replace 2033 to 303 in anno
try replace 2041 to 304 in anno
try replace 2048 to 305 in anno
try replace 2049 to 306 in anno
try replace 2051 to 307 in anno
try replace 2054 to 308 in anno
try replace 2069 to 309 in anno
try replace 2080 to 310 in anno
try replace 2085 to 311 in anno
try replace 2090 to 312 in anno
try replace 2091 to 313 in anno
try replace 2092 to 314 in anno
try replace 2093 to 315 in anno
try replace 2099 to 316 in anno
try replace 2101 to 317 in anno
try replace 2110 to 318 in anno
try replace 2124 to 319 in anno
try replace 2129 to 320 in anno
try replace 2151 to 321 in anno
try replace 2156 to 322 in anno
try replace 2160 to 323 in anno
try replace 2170 to 324 in anno
try replace 2179 to 325 in anno
try replace 2182 to 326 in anno
try replace 2187 to 327 in anno
try replace 2203 to 328 in anno
try replace 2210 to 329 in anno
try replace 2214 to 330 in anno
try replace 2223 to 331 in anno
try replace 2229 to 332 in anno
try replace 2236 to 333 in anno
try replace 2249 to 334 in anno
try replace 2259 to 335 in anno
try replace 2260 to 336 in anno
try replace 2263 to 337 in anno
try replace 2266 to 338 in anno
try replace 2268 to 339 in anno
try replace 2274 to 340 in anno
try replace 2296 to 341 in anno
try replace 2300 to 342 in anno
try replace 2305 to 343 in anno
try replace 2320 to 344 in anno
try replace 2323 to 345 in anno
try replace 2324 to 346 in anno
try replace 2328 to 347 in anno
try replace 2331 to 348 in anno
try replace 2333 to 349 in anno
try replace 2338 to 350 in anno
try replace 2340 to 351 in anno
try replace 2375 to 352 in anno
try replace 2381 to 353 in anno
try replace 2385 to 354 in anno
try replace 2387 to 355 in anno
try replace 2392 to 356 in anno
try replace 2395 to 357 in anno
try replace 2398 to 358 in anno
try replace 2402 to 359 in anno
try replace 2410 to 360 in anno
try replace 2412 to 361 in anno
try replace 2421 to 362 in anno
try replace 2425 to 363 in anno
try replace 2430 to 364 in anno
try replace 2433 to 365 in anno
try replace 2456 to 366 in anno
try replace 2458 to 367 in anno
try replace 2460 to 368 in anno
try replace 2462 to 369 in anno
try replace 2463 to 370 in anno
try replace 2464 to 371 in anno
try replace 2467 to 372 in anno
try replace 2470 to 373 in anno
try replace 2478 to 374 in anno
try replace 2481 to 375 in anno
try replace 2486 to 376 in anno
try replace 2488 to 377 in anno
try replace 2501 to 378 in anno
try replace 2502 to 379 in anno
try replace 2512 to 380 in anno
try replace 2518 to 381 in anno
try replace 2530 to 382 in anno
try replace 2541 to 383 in anno
try replace 2548 to 384 in anno
try replace 2556 to 385 in anno
try replace 2563 to 386 in anno
try replace 2564 to 387 in anno
try replace 2588 to 388 in anno
try replace 2592 to 389 in anno

try replace 2602 to 390 in anno
try replace 2607 to 391 in anno
try replace 2608 to 392 in anno
try replace 2610 to 393 in anno
try replace 2628 to 394 in anno
try replace 2631 to 395 in anno
try replace 2636 to 396 in anno
try replace 2637 to 397 in anno
try replace 2639 to 398 in anno
try replace 2646 to 399 in anno
try replace 2656 to 400 in anno
try replace 2657 to 401 in anno
try replace 2664 to 402 in anno
try replace 2671 to 403 in anno
try replace 2680 to 404 in anno
try replace 2686 to 405 in anno
try replace 2689 to 406 in anno
try replace 2706 to 407 in anno
try replace 2713 to 408 in anno
try replace 2722 to 409 in anno
try replace 2723 to 410 in anno
try replace 2725 to 411 in anno
try replace 2728 to 412 in anno
try replace 2729 to 413 in anno
try replace 2731 to 414 in anno
try replace 2751 to 415 in anno
try replace 2761 to 416 in anno
try replace 2762 to 417 in anno
try replace 2768 to 418 in anno
try replace 2774 to 419 in anno
try replace 2777 to 420 in anno
try replace 2785 to 421 in anno
try replace 2803 to 422 in anno
try replace 2804 to 423 in anno
try replace 2807 to 424 in anno
try replace 2812 to 425 in anno
try replace 2823 to 426 in anno
try replace 2824 to 427 in anno
try replace 2826 to 428 in anno
try replace 2832 to 429 in anno
try replace 2839 to 430 in anno
try replace 2840 to 431 in anno
try replace 2849 to 432 in anno
try replace 2852 to 433 in anno
try replace 2856 to 434 in anno
try replace 2860 to 435 in anno
try replace 2863 to 436 in anno
try replace 2878 to 437 in anno
try replace 2880 to 438 in anno
try replace 2881 to 439 in anno
try replace 2882 to 440 in anno
try replace 2890 to 441 in anno
try replace 2897 to 442 in anno
try replace 2911 to 443 in anno
try replace 2912 to 444 in anno
try replace 2920 to 445 in anno
try replace 2970 to 446 in anno

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
1,2,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2,3,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
3,4,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
4,5,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
...,...,...,...,...,...,...,...,...
441,442,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
442,443,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
443,444,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
444,445,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
445,446,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,

In [662]:
_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
1,2,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
2,3,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
3,4,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
4,5,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
...,...,...,...,...,...,...,...,...
441,442,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
442,443,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
443,444,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
444,445,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,
445,446,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1,,

In [663]:
_ann_df

,id,image_id,category_id,iscrowd,bbox,width,height,area
0,1,1,1,False,"[1183.0, 404.0, 31.0, 75.0]",2048,1024,2325
1,2,1,1,False,"[425.0, 345.0, 71.0, 172.0]",2048,1024,12212
2,3,1,1,False,"[484.0, 338.0, 76.0, 185.0]",2048,1024,14060
3,4,2,1,True,"[1746.0, 340.0, 134.0, 327.0]",2048,1024,43818
4,5,2,1,True,"[1011.0, 428.0, 23.0, 55.0]",2048,1024,1265
...,...,...,...,...,...,...,...,...
4109,4110,446,1,False,"[1651.0, 397.0, 35.0, 83.0]",2048,1024,2905
4110,4111,446,1,False,"[1620.0, 393.0, 35.0, 87.0]",2048,1024,3045
4111,4112,446,1,True,"[1803.0, 344.0, 9.0, 13.0]",2048,1024,117
4112,4113,446,1,False,"[1567.0, 385.0, 37.0, 91.0]",2048,1024,3367
4113,4114,446,1,True,"[1835.0, 394.0, 19.0, 51.0]",2048,1024,969

In [667]:
base_data_test = dict()
base_data_test['info'] = cp_info
base_data_test['categories'] = cp_cat
base_data_test['images'] = _img_df.to_dict('records')
base_data_test['annotations'] = _ann_df.to_dict('records')
with open('datasets/cityperson_test.json', 'w') as fp:
    json.dump(base_data_test, fp)

In [601]:
t_aug_img_df = copy.deepcopy(_img_df)
t_ann_df_c = copy.deepcopy(_ann_df)

In [602]:
t_aug_img_df.shape[0]

446

In [603]:
t_ann_df_c.shape[0]

4114

## ECP

In [464]:
ecp_file = 'json_files/EuroCity/day_train_all.json'
f = open(ecp_file)
ecp_data = json.load(f)
ecp_licenses = ecp_data['licenses']
ecp_categories = ecp_data['categories']
ecp_images = ecp_data['images']
ecp_annotations = ecp_data['annotations']
ecp_img_df = pd.DataFrame(ecp_images)
ecp_ann_df = pd.DataFrame(ecp_annotations)
ecp_img_df.shape[0]

23892

In [465]:
print(ecp_data['categories'])

[{'id': 1, 'name': 'pedestrain', 'supercategory': 'pedestrain'}]

In [466]:
for idx, row in ecp_img_df.iterrows():
    ecp_img_df.at[ecp_img_df.index[idx], 'file_name'] = 'EuroCity/' + ecp_img_df.at[ecp_img_df.index[idx], 'file_name']
ecp_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,EuroCity/ECP/day/img/train/wuerzburg/wuerzburg...,1920,1024,2019-11-03 07:44:18.143034,1,,
1,2,EuroCity/ECP/day/img/train/wuerzburg/wuerzburg...,1920,1024,2019-11-03 07:44:18.143034,1,,
2,3,EuroCity/ECP/day/img/train/wuerzburg/wuerzburg...,1920,1024,2019-11-03 07:44:18.143034,1,,
3,4,EuroCity/ECP/day/img/train/wuerzburg/wuerzburg...,1920,1024,2019-11-03 07:44:18.143034,1,,
4,5,EuroCity/ECP/day/img/train/wuerzburg/wuerzburg...,1920,1024,2019-11-03 07:44:18.143034,1,,
...,...,...,...,...,...,...,...,...
23887,23888,EuroCity/ECP/day/img/train/potsdam/potsdam_004...,1920,1024,2019-11-03 07:44:18.143034,1,,
23888,23889,EuroCity/ECP/day/img/train/potsdam/potsdam_000...,1920,1024,2019-11-03 07:44:18.143034,1,,
23889,23890,EuroCity/ECP/day/img/train/potsdam/potsdam_005...,1920,1024,2019-11-03 07:44:18.143034,1,,
23890,23891,EuroCity/ECP/day/img/train/potsdam/potsdam_003...,1920,1024,2019-11-03 07:44:18.143034,1,,
23891,23892,EuroCity/ECP/day/img/train/potsdam/potsdam_000...,1920,1024,2019-11-03 07:44:18.143034,1,,

In [620]:
im_list = list(set([item + '.png' for sublist in ecp_quantile_95['images'].to_list() for item in sublist]))
len(im_list)

567

In [467]:
train_img_ecp, val_img_ecp, test_img_ecp = splite_data(ecp_quantile_95, train_size=0.7, val_size=0.15, test_size=0.15)
index_id_list = find_index_of_images(ecp_img_df, image_name_list=train_img_ecp)

selected_ecp_img_df = create_img_df(ecp_img_df, index_id_list)
selected_ecp_ann_df = create_ann_df(ecp_ann_df, index_id_list)
print(selected_ecp_ann_df.shape[0])
print(selected_ecp_img_df.shape[0])

2870
396

In [468]:
print(len(train_img_ecp))
len(val_img_ecp)

396

86

In [554]:
len(test_img_ecp)

85

In [469]:
print(aug_img_df.shape[0])
aug_img_df, selected_ecp_ann_df = uodate_id_in_image_ann(selected_ecp_img_df, aug_img_df, selected_ecp_ann_df)
print(aug_img_df.shape[0])

2529
2925

In [470]:
selected_ecp_ann_df = add_area(selected_ecp_ann_df)
print(selected_ecp_ann_df.shape[0])
ann_df_c = concat_ann_df(ann_df_c, selected_ecp_ann_df)
for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']
ann_df_c

2870

,id,image_id,category_id,iscrowd,bbox,width,height,area
0,1,1,1,True,"[1137.0, 307.0, 8.0, 9.0]",2048,1024,72
1,2,1,1,True,"[1911.0, 359.0, 10.0, 54.0]",2048,1024,540
2,3,1,1,True,"[1034.0, 366.0, 31.0, 75.0]",2048,1024,2325
3,4,2,1,False,"[281.0, 381.0, 89.0, 216.0]",2048,1024,19224
4,5,2,1,False,"[602.0, 413.0, 60.0, 146.0]",2048,1024,8760
...,...,...,...,...,...,...,...,...
26521,26522,2882,1,True,"[1105.0, 541.0, 31.0, 51.0]",1920,1024,1581
26522,26523,2882,1,True,"[1107.0, 509.0, 29.0, 75.0]",1920,1024,2175
26523,26524,2882,1,True,"[1325.0, 539.0, 80.0, 59.0]",1920,1024,4720
26524,26525,2882,1,True,"[1344.0, 506.0, 43.0, 92.0]",1920,1024,3956
26525,26526,2882,1,True,"[1425.0, 522.0, 44.0, 43.0]",1920,1024,1892

In [473]:
print(ann_df.shape[0])

23656

In [575]:
def _ugment_df(in_img_df, in_ann_df, test_img_list, _aug_img_df, _ann_df_c):   
    
    index_id_list = find_index_of_images(in_img_df, image_name_list=test_img_list)
    s_ecp_img_df = create_img_df(in_img_df, index_id_list)
    print(f"you will add {s_ecp_img_df.shape[0]} to images")
    
    s_ecp_ann_df = create_ann_df(in_ann_df, index_id_list)
    print(f"you will add {s_ecp_ann_df.shape[0]} to anno")

    _aug_img_df, s_ecp_ann_df = uodate_id_in_image_ann(s_ecp_img_df, _aug_img_df, s_ecp_ann_df)
    s_ecp_ann_df = add_area(s_ecp_ann_df)

    _ann_df_c = concat_ann_df(_ann_df_c, s_ecp_ann_df)
    for idx, row in t_ann_df_c.iterrows():
        assert idx + 1 == row['id']
    return _aug_img_df, _ann_df_c

#### test anno

In [604]:
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])
t_aug_img_df, t_ann_df_c = _ugment_df(ecp_img_df, ecp_ann_df, test_img_ecp, t_aug_img_df, t_ann_df_c)
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])

446
4114
you will add 85 to images
you will add 612 to anno
531
4726

### crowdHuman

In [474]:
ch_file = 'json_files/CrowdHuman/train.json'

f = open(ch_file)
ch_data = json.load(f)
# ch_licenses = ch_data['licenses']
ch_categories = ch_data['categories']
ch_images = ch_data['images']
ch_annotations = ch_data['annotations']
ch_img_df = pd.DataFrame(ch_images)
ch_ann_df = pd.DataFrame(ch_annotations)

In [475]:
print(ch_data['categories'])

[{'supercategory': 'none', 'id': 1, 'name': 'person'}, {'supercategory': 'none', 'id': 2, 'name': 'mask'}]

In [476]:
bb_df = copy.deepcopy(ch_ann_df[ch_ann_df.category_id == 1])
ch_ann_df = bb_df.copy()
ch_ann_df

,area,iscrowd,image_id,bbox,hbox,vbox,category_id,id,ignore
0,86523,0,1,"[61, 123, 191, 453]","[123, 129, 63, 64]","[62, 126, 154, 446]",1,1,0
1,92378,0,1,"[165, 95, 187, 494]","[214, 97, 58, 74]","[175, 95, 140, 487]",1,2,0
2,96135,0,1,"[236, 104, 195, 493]","[318, 109, 58, 68]","[260, 106, 170, 487]",1,3,0
3,85852,0,1,"[452, 110, 169, 508]","[486, 119, 61, 74]","[455, 113, 141, 501]",1,4,0
4,62103,0,1,"[520, 95, 163, 381]","[559, 105, 53, 57]","[553, 98, 70, 118]",1,5,0
...,...,...,...,...,...,...,...,...,...
438781,286612,0,15000,"[3393, 590, 316, 907]","[3518, 595, 114, 133]","[3393, 590, 316, 907]",1,438782,0
438782,81890,0,15000,"[3448, 607, 190, 431]","[3511, 610, 93, 104]","[3452, 608, 184, 430]",1,438783,0
438783,240570,0,15000,"[3684, 554, 297, 810]","[3824, 559, 96, 105]","[3795, 559, 156, 794]",1,438784,0
438784,234855,0,15000,"[3797, 536, 255, 921]","[3909, 539, 89, 113]","[3889, 535, 112, 169]",1,438785,0
438785,241056,0,15000,"[3863, 544, 248, 972]","[3954, 561, 98, 126]","[3863, 544, 137, 972]",1,438786,0

In [477]:
for idx, row in ch_img_df.iterrows():
    ch_img_df.at[ch_img_df.index[idx], 'file_name'] = 'CrowdHuman/Images/' + ch_img_df.at[ch_img_df.index[idx], 'file_name']
ch_img_df

                                            file_name  height  width     id
0        CrowdHuman/Images/284193,faa9000f2678b5e.jpg     683   1024      1
1       CrowdHuman/Images/273275,cd061000af95f691.jpg     480    600      2
2       CrowdHuman/Images/273278,8d231000e09fc133.jpg    1017   1300      3
3       CrowdHuman/Images/283554,2cd4d0007833968d.jpg     954   1300      4
4       CrowdHuman/Images/283554,37ba1000a6ca8c4d.jpg     533    800      5
...                                               ...     ...    ...    ...
14995   CrowdHuman/Images/273275,874d9000417e16ed.jpg    1192   1800  14996
14996   CrowdHuman/Images/273278,d329e000260a8cc2.jpg     600   1800  14997
14997   CrowdHuman/Images/282555,c5fd20007faf5f84.jpg     575   1024  14998
14998  CrowdHuman/Images/273275,10b78d0006d7d7b9c.jpg     462   1838  14999
14999   CrowdHuman/Images/284193,2e02d0003abd1bb1.jpg    1912   4000  15000

[15000 rows x 4 columns]

In [478]:
ch_selected_df = copy.deepcopy(ch_q_ecp_q)

In [479]:
ch_img_df

                                            file_name  height  width     id
0        CrowdHuman/Images/284193,faa9000f2678b5e.jpg     683   1024      1
1       CrowdHuman/Images/273275,cd061000af95f691.jpg     480    600      2
2       CrowdHuman/Images/273278,8d231000e09fc133.jpg    1017   1300      3
3       CrowdHuman/Images/283554,2cd4d0007833968d.jpg     954   1300      4
4       CrowdHuman/Images/283554,37ba1000a6ca8c4d.jpg     533    800      5
...                                               ...     ...    ...    ...
14995   CrowdHuman/Images/273275,874d9000417e16ed.jpg    1192   1800  14996
14996   CrowdHuman/Images/273278,d329e000260a8cc2.jpg     600   1800  14997
14997   CrowdHuman/Images/282555,c5fd20007faf5f84.jpg     575   1024  14998
14998  CrowdHuman/Images/273275,10b78d0006d7d7b9c.jpg     462   1838  14999
14999   CrowdHuman/Images/284193,2e02d0003abd1bb1.jpg    1912   4000  15000

[15000 rows x 4 columns]

In [480]:
train_img_ch, val_img_ch, test_img_ch = splite_data(ch_selected_df, train_size=0.7, val_size=0.15, test_size=0.15)
index_id_list = find_index_of_images(ch_img_df, image_name_list=train_img_ch)
selected_ch_img_df = create_img_df(ch_img_df, index_id_list)
selected_ch_ann_df = create_ann_df(ch_ann_df, index_id_list)
print(selected_ch_img_df.shape[0])
selected_ch_ann_df.shape[0]

566

8903

In [555]:
len(test_img_ch)

121

In [481]:
print(len(train_img_ch))
len(val_img_ch)

566

122

In [482]:
print(aug_img_df.shape[0])
aug_img_df, selected_ch_ann_df = uodate_id_in_image_ann(selected_ch_img_df, aug_img_df, selected_ch_ann_df, dt='ch')
aug_img_df.shape[0]

2925

3491

In [558]:
selected_ch_ann_df.shape[0]

8903

In [483]:
selected_ch_ann_df = add_area(selected_ch_ann_df)
print(ann_df_c.shape[0])
ann_df_c = concat_ann_df(ann_df_c, selected_ch_ann_df)
ann_df_c = ann_df_c.drop(['hbox', 'vbox'], axis = 1)
ann_df_c

26526

,id,image_id,category_id,iscrowd,bbox,width,height,area,ignore
0,1,1,1,1,"[1137.0, 307.0, 8.0, 9.0]",2048,1024,72,NaN
1,2,1,1,1,"[1911.0, 359.0, 10.0, 54.0]",2048,1024,540,NaN
2,3,1,1,1,"[1034.0, 366.0, 31.0, 75.0]",2048,1024,2325,NaN
3,4,2,1,0,"[281.0, 381.0, 89.0, 216.0]",2048,1024,19224,NaN
4,5,2,1,0,"[602.0, 413.0, 60.0, 146.0]",2048,1024,8760,NaN
...,...,...,...,...,...,...,...,...,...
35424,35425,3063,1,0,"[3583, 1407, 521, 969]",4800,3200,504849,0.0
35425,35426,3063,1,0,"[3806, 1510, 727, 1421]",4800,3200,1033067,0.0
35426,35427,3063,1,0,"[4421, 1410, 396, 1077]",4800,3200,426492,0.0
35427,35428,3063,1,0,"[4522, 1522, 379, 970]",4800,3200,367630,0.0
35428,35429,3063,1,0,"[2643, 1475, 471, 804]",4800,3200,378684,0.0

#### test anno

In [605]:
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])
t_aug_img_df, t_ann_df_c = _ugment_df(ch_img_df, ch_ann_df, test_img_ch, t_aug_img_df, t_ann_df_c)
t_ann_df_c = t_ann_df_c.drop(['hbox', 'vbox'], axis = 1)
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])

531
4726
you will add 121 to images
you will add 1571 to anno
652
6297

### wheelchair

In [484]:
wheel_file = 'json_files/wheelchair/train.json'

f = open(wheel_file)
wheel_data = json.load(f)
wheel_categories = wheel_data['categories']
wheel_images = wheel_data['images']
wheel_annotations = wheel_data['annotations']
wheel_img_df = pd.DataFrame(wheel_images)
wheel_ann_df = pd.DataFrame(wheel_annotations)
print(wheel_img_df.shape[0])

11

In [485]:
wheel_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,wheelchair/images/train/14b2ccfde47a3703.jpg,1024,683,2021-04-14 21:13:32.226876,1,,
1,2,wheelchair/images/train/b4df8bd4569e2bb5.jpg,683,1024,2021-04-14 21:13:32.226876,1,,
2,3,wheelchair/images/train/465e2e0e681f9ddc.jpg,678,1024,2021-04-14 21:13:32.226876,1,,
3,4,wheelchair/images/train/04607b0bacc2be8c.jpg,1024,654,2021-04-14 21:13:32.226876,1,,
4,5,wheelchair/images/train/64833b8b7f1404e8.jpg,1024,768,2021-04-14 21:13:32.226876,1,,
5,6,wheelchair/images/train/81fe77bf2f6d5cf6.jpg,1024,810,2021-04-14 21:13:32.226876,1,,
6,7,wheelchair/images/train/b8ebcca85d76eaa1.jpg,1024,683,2021-04-14 21:13:32.226876,1,,
7,8,wheelchair/images/train/108d5a62ba569a28.jpg,1024,683,2021-04-14 21:13:32.226876,1,,
8,9,wheelchair/images/train/cc0815f73df3586a.jpg,1024,768,2021-04-14 21:13:32.226876,1,,
9,10,wheelchair/images/train/712694559f078391.jpg,1024,1014,2021-04-14 21:13:32.226876,1,,
10,11,wheelchair/images/train/0161250d84934144.jpg,1024,681,2021-04-14 21:13:32.226876,1,,

In [486]:
print(wheel_data['categories'])

[{'id': 1, 'name': 'pedestrain', 'supercategory': 'pedestrain'}]

In [487]:
wheel_ann_df = add_area(wheel_ann_df)

print(wheel_ann_df.shape[0])

12

In [488]:
selected_img_df = copy.deepcopy(wheel_img_df)
selected_ann_df = copy.deepcopy(wheel_ann_df)

In [489]:
print(aug_img_df.shape[0])
aug_img_df, selected_ann_df = uodate_id_in_image_ann(selected_img_df, aug_img_df, selected_ann_df)
print(aug_img_df.shape[0])
# aug_img_df = copy.deepcopy(wheel_img_df)

3491
3502

In [490]:
print(ann_df_c.shape[0])
print(selected_ann_df.shape[0])
ann_df_c = concat_ann_df(ann_df_c, selected_ann_df)
# ann_df_c = copy.deepcopy(wheel_ann_df)
ann_df_c
print(ann_df_c.shape[0])

35429
12
35441

In [491]:
for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']

#### test anno

In [606]:
wheel_file = 'json_files/wheelchair/test.json'

f = open(wheel_file)
wt_data = json.load(f)
wt_categories = wheel_data['categories']
wt_images = wt_data['images']
wt_annotations = wt_data['annotations']
wt_img_df = pd.DataFrame(wt_images)
wt_ann_df = pd.DataFrame(wt_annotations)
print(wt_img_df.shape[0])
print(wt_ann_df.shape[0])

5
6

In [607]:
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])
s_img_df = copy.deepcopy(wt_img_df)
s_ann_df = copy.deepcopy(wt_ann_df)
t_aug_img_df, s_ann_df = uodate_id_in_image_ann(s_img_df, t_aug_img_df, s_ann_df)
t_ann_df_c = concat_ann_df(t_ann_df_c, s_ann_df)
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])

652
6297
657
6303

### WP

In [492]:
wp1_file = 'json_files/WiderPerson/train.json'

f = open(wp1_file)
wp_data = json.load(f)
wp_categories = wp_data['categories']
wp_images = wp_data['images']
wp_annotations = wp_data['annotations']
wp_img_df = pd.DataFrame(wp_images)
wp_ann_df = pd.DataFrame(wp_annotations)
wp_img_df.shape[0]

8000

In [493]:
wp_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,WiderPerson/Images/000040.jpg,550,413,2021-03-16 23:06:50.130304,1,,
1,2,WiderPerson/Images/000042.jpg,551,350,2021-03-16 23:06:50.130304,1,,
2,3,WiderPerson/Images/000051.jpg,450,800,2021-03-16 23:06:50.130304,1,,
3,4,WiderPerson/Images/000081.jpg,600,395,2021-03-16 23:06:50.130304,1,,
4,5,WiderPerson/Images/000089.jpg,600,400,2021-03-16 23:06:50.130304,1,,
...,...,...,...,...,...,...,...,...
7995,7996,WiderPerson/Images/020544.jpg,397,255,2021-03-16 23:06:50.130304,1,,
7996,7997,WiderPerson/Images/020545.jpg,700,476,2021-03-16 23:06:50.130304,1,,
7997,7998,WiderPerson/Images/020547.jpg,1272,784,2021-03-16 23:06:50.130304,1,,
7998,7999,WiderPerson/Images/020548.jpg,4208,2368,2021-03-16 23:06:50.130304,1,,
7999,8000,WiderPerson/Images/020549.jpg,385,257,2021-03-16 23:06:50.130304,1,,

In [494]:
print(wp_data['categories'])

[{'id': 1, 'name': 'pedestrain', 'supercategory': 'pedestrain'}]

In [495]:
train_img_wp, val_img_wp, test_img_wp = splite_data(wp_q_con, train_size=0.7, val_size=0.15, test_size=0.15)
index_id_list = find_index_of_images(wp_img_df, image_name_list=train_img_wp)

In [496]:
len(set(train_img_wp))

55

In [497]:
len(set(val_img_wp))

12

In [556]:
len(set(test_img_wp))

12

In [498]:
selected_wp_img_df = create_img_df(wp_img_df, index_id_list)
selected_wp_img_df.shape[0]

55

In [499]:
selected_wp_ann_df = create_ann_df(wp_ann_df, index_id_list)
selected_wp_ann_df = add_area(selected_wp_ann_df)
selected_wp_ann_df.shape[0]

1934

In [500]:
print(aug_img_df.shape[0])
aug_img_df, selected_wp_ann_df = uodate_id_in_image_ann(selected_wp_img_df, aug_img_df, selected_wp_ann_df)

print(aug_img_df.shape[0])

3502
3557

In [501]:
selected_wp_ann_df.shape[0]

1934

In [502]:
ann_df_c = concat_ann_df(ann_df_c, selected_wp_ann_df)
# ann_df_c

for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']

In [503]:
ann_df_c.shape[0]

37375

#### test anno

In [608]:
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])
t_aug_img_df, t_ann_df_c = _ugment_df(wp_img_df, wp_ann_df, test_img_wp, t_aug_img_df, t_ann_df_c)
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])

657
6303
you will add 12 to images
you will add 441 to anno
669
6744

In [609]:
im_list = [item + '.png' for sublist in clt_q_con['images'].to_list() for item in sublist]
im_list

['set00_V014_158.png',
 'set00_V009_43.png',
 'set00_V012_1200.png',
 'set00_V007_1485.png',
 'set00_V007_285.png',
 'set00_V005_1768.png',
 'set00_V009_133.png',
 'set00_V014_488.png',
 'set00_V008_816.png',
 'set00_V007_255.png',
 'set00_V010_1641.png',
 'set00_V008_246.png',
 'set00_V013_1489.png',
 'set00_V014_248.png',
 'set00_V008_216.png',
 'set00_V007_1575.png',
 'set00_V008_6.png',
 'set00_V014_128.png',
 'set00_V014_1538.png',
 'set00_V013_1429.png',
 'set00_V014_458.png',
 'set00_V007_465.png',
 'set00_V009_613.png',
 'set00_V008_846.png',
 'set00_V007_495.png',
 'set00_V013_589.png',
 'set00_V009_1573.png',
 'set05_V000_1140.png',
 'set00_V010_171.png',
 'set00_V013_1219.png',
 'set00_V008_306.png',
 'set00_V009_673.png',
 'set00_V007_1785.png',
 'set00_V008_756.png',
 'set02_V009_1256.png',
 'set03_V009_17.png',
 'set02_V009_56.png',
 'set00_V014_1058.png',
 'set00_V006_865.png',
 'set02_V009_1196.png',
 'set00_V014_1328.png',
 'set00_V014_998.png',
 'set04_V003_475.png',
 'set00_V013_829.png',
 'set00_V014_1238.png',
 'set02_V009_176.png',
 'set00_V012_1200.png',
 'set00_V007_1275.png',
 'set00_V014_248.png',
 'set00_V007_1575.png',
 'set00_V014_218.png',
 'set00_V013_1189.png',
 'set00_V008_396.png',
 'set00_V010_1521.png',
 'set00_V007_1275.png',
 'set00_V013_1489.png',
 'set00_V014_218.png',
 'set00_V014_248.png',
 'set00_V007_1575.png',
 'set00_V007_1275.png']

#### selected caltech

In [129]:
clt_q_con

,Object_1,Relation,Object_2,Count,images,count_down
2,window,behind,people,26,"[set00_V014_158, set00_V009_43, set00_V012_120...",0
4,man,watching,letter,16,"[set00_V014_458, set00_V007_465, set00_V009_61...",6
6,windshield,of,person,12,"[set02_V009_1256, set03_V009_17, set02_V009_56...",8
7,people,sitting on,table,10,"[set00_V012_1200, set00_V007_1275, set00_V014_...",15
8,people,under,light,10,"[set00_V013_1189, set00_V008_396, set00_V010_1...",15
10,person,sitting on,table,8,"[set00_V014_218, set00_V014_248, set00_V007_15...",16

In [141]:
ca_file = 'json_files/Caltech/train.json'

f = open(ca_file)
cl_data = json.load(f)
cl_categories = cl_data['categories']
cl_images = cl_data['images']
cl_annotations = cl_data['annotations']
cl_img_df = pd.DataFrame(cl_images)
cl_ann_df = pd.DataFrame(cl_annotations)
cl_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,set00_V000_I00002.jpg,640,480,2019-09-04 07:22:27.077839,1,,
1,2,set00_V000_I00005.jpg,640,480,2019-09-04 07:22:27.077839,1,,
2,3,set00_V000_I00008.jpg,640,480,2019-09-04 07:22:27.077839,1,,
3,4,set00_V000_I00011.jpg,640,480,2019-09-04 07:22:27.077839,1,,
4,5,set00_V000_I00014.jpg,640,480,2019-09-04 07:22:27.077839,1,,
...,...,...,...,...,...,...,...,...
42777,42778,set05_V012_I01694.jpg,640,480,2019-09-04 07:22:27.077839,1,,
42778,42779,set05_V012_I01697.jpg,640,480,2019-09-04 07:22:27.077839,1,,
42779,42780,set05_V012_I01700.jpg,640,480,2019-09-04 07:22:27.077839,1,,
42780,42781,set05_V012_I01703.jpg,640,480,2019-09-04 07:22:27.077839,1,,
42781,42782,set05_V012_I01706.jpg,640,480,2019-09-04 07:22:27.077839,1,,

In [143]:
from pathlib import Path
cal_im_path = 'datasets/Caltech/images/'
for el in cl_img_df['file_name'].to_list():
    im_name, _ = el.rsplit('.', 1)
    l, r = im_name.rsplit('_', 1)
    name_in_my_pc = l + '_' + str(int(r[1:])) + '.png'
    if not Path(f"{cal_im_path}{name_in_my_pc}").is_file():
        print(f"{name_in_my_pc} does not exist")

In [144]:
im_list = [item + '.png' for sublist in clt_q_con['images'].to_list() for item in sublist]
for im in im_list:
    if not Path(f"{cal_im_path}{im}").is_file():
        print(f"{im} does not exist")

In [145]:
for idx, row in cl_img_df.iterrows():
    file_name = cl_img_df.at[cl_img_df.index[idx], 'file_name']
    im_name, _ = file_name.rsplit('.', 1)
    l, r = im_name.rsplit('_', 1)
    cl_img_df.at[cl_img_df.index[idx], 'file_name'] =  l + '_' + str(int(r[1:])) + '.png'

for idx, row in cl_img_df.iterrows():
    cl_img_df.at[cl_img_df.index[idx], 'file_name'] = 'Caltech/images/' + cl_img_df.at[cl_img_df.index[idx], 'file_name']

cl_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,Caltech/images/set00_V000_2.png,640,480,2019-09-04 07:22:27.077839,1,,
1,2,Caltech/images/set00_V000_5.png,640,480,2019-09-04 07:22:27.077839,1,,
2,3,Caltech/images/set00_V000_8.png,640,480,2019-09-04 07:22:27.077839,1,,
3,4,Caltech/images/set00_V000_11.png,640,480,2019-09-04 07:22:27.077839,1,,
4,5,Caltech/images/set00_V000_14.png,640,480,2019-09-04 07:22:27.077839,1,,
...,...,...,...,...,...,...,...,...
42777,42778,Caltech/images/set05_V012_1694.png,640,480,2019-09-04 07:22:27.077839,1,,
42778,42779,Caltech/images/set05_V012_1697.png,640,480,2019-09-04 07:22:27.077839,1,,
42779,42780,Caltech/images/set05_V012_1700.png,640,480,2019-09-04 07:22:27.077839,1,,
42780,42781,Caltech/images/set05_V012_1703.png,640,480,2019-09-04 07:22:27.077839,1,,
42781,42782,Caltech/images/set05_V012_1706.png,640,480,2019-09-04 07:22:27.077839,1,,

In [119]:
cl_ann_df

,id,image_id,category_id,iscrowd,bbox,width,height
0,1,23,1,True,"[213, 141, 5, 9]",640,480
1,2,24,1,True,"[216, 140, 5, 10]",640,480
2,3,25,1,True,"[220, 139, 5, 12]",640,480
3,4,26,1,True,"[221, 138, 5, 12]",640,480
4,5,27,1,True,"[223, 138, 5, 12]",640,480
...,...,...,...,...,...,...,...
64058,64059,42625,1,True,"[293, 203, 13, 19]",640,480
64059,64060,42626,1,True,"[294, 203, 13, 19]",640,480
64060,64061,42627,1,True,"[294, 203, 13, 19]",640,480
64061,64062,42628,1,True,"[295, 203, 13, 19]",640,480
64062,64063,42629,1,True,"[295, 203, 13, 19]",640,480

In [147]:
train_img_cl, val_img_cl, test_img_cl = splite_data(clt_q_con, train_size=0.7, val_size=0.15, test_size=0.15)
train_img_cl

['set00_V006_865',
 'set00_V007_1275',
 'set00_V007_255',
 'set00_V008_396',
 'set00_V014_248',
 'set00_V010_1641',
 'set00_V009_613',
 'set00_V008_846',
 'set00_V008_216',
 'set00_V007_1575',
 'set00_V009_43',
 'set00_V014_1058',
 'set00_V012_1200',
 'set00_V014_488',
 'set00_V008_6',
 'set00_V009_673',
 'set02_V009_176',
 'set00_V010_1521',
 'set02_V009_56',
 'set00_V008_816',
 'set00_V009_1573',
 'set00_V005_1768',
 'set03_V009_17',
 'set00_V008_306',
 'set00_V013_1219',
 'set02_V009_1196',
 'set00_V013_1489',
 'set00_V009_133',
 'set00_V014_1238',
 'set00_V014_1538',
 'set00_V014_1328',
 'set00_V013_1189',
 'set00_V014_158',
 'set00_V008_246',
 'set04_V003_475']

In [ ]:
index_id_list = find_index_of_images(cl_img_df, image_name_list=train_img_cl)

selected_cl_img_df = create_img_df(cl_img_df, index_id_list)
print(selected_cl_img_df.shape[0])
selected_cl_ann_df = create_ann_df(cl_ann_df, index_id_list)
selected_cl_ann_df = add_area(selected_cl_ann_df)
selected_cl_ann_df.shape[0]

In [505]:
ca_file = 'json_files/selected_caltech/train.json'

f = open(ca_file)
cl_data = json.load(f)
cl_categories = cl_data['categories']
cl_images = cl_data['images']
cl_annotations = cl_data['annotations']
cl_img_df = pd.DataFrame(cl_images)
cl_ann_df = pd.DataFrame(cl_annotations)
cl_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,selected_caltech/images/train/set00_V013_1429.png,640,480,2021-04-03 12:21:50.728982,1,,
1,2,selected_caltech/images/train/set00_V009_43.png,640,480,2021-04-03 12:21:50.728982,1,,
2,3,selected_caltech/images/train/set03_V009_17.png,640,480,2021-04-03 12:21:50.728982,1,,
3,4,selected_caltech/images/train/set00_V013_829.png,640,480,2021-04-03 12:21:50.728982,1,,
4,5,selected_caltech/images/train/set00_V010_171.png,640,480,2021-04-03 12:21:50.728982,1,,
5,6,selected_caltech/images/train/set00_V010_1521.png,640,480,2021-04-03 12:21:50.728982,1,,
6,7,selected_caltech/images/train/set00_V013_1189.png,640,480,2021-04-03 12:21:50.728982,1,,
7,8,selected_caltech/images/train/set00_V007_1485.png,640,480,2021-04-03 12:21:50.728982,1,,
8,9,selected_caltech/images/train/set00_V013_1219.png,640,480,2021-04-03 12:21:50.728982,1,,
9,10,selected_caltech/images/train/set00_V009_673.png,640,480,2021-04-03 12:21:50.728982,1,,
10,11,selected_caltech/images/train/set00_V007_465.png,640,480,2021-04-03 12:21:50.728982,1,,
11,12,selected_caltech/images/train/set00_V007_1275.png,640,480,2021-04-03 12:21:50.728982,1,,
12,13,selected_caltech/images/train/set00_V008_216.png,640,480,2021-04-03 12:21:50.728982,1,,
13,14,selected_caltech/images/train/set00_V007_285.png,640,480,2021-04-03 12:21:50.728982,1,,
14,15,selected_caltech/images/train/set00_V007_495.png,640,480,2021-04-03 12:21:50.728982,1,,
15,16,selected_caltech/images/train/set00_V009_133.png,640,480,2021-04-03 12:21:50.728982,1,,
16,17,selected_caltech/images/train/set00_V014_458.png,640,480,2021-04-03 12:21:50.728982,1,,
17,18,selected_caltech/images/train/set00_V008_6.png,640,480,2021-04-03 12:21:50.728982,1,,
18,19,selected_caltech/images/train/set00_V014_488.png,640,480,2021-04-03 12:21:50.728982,1,,
19,20,selected_caltech/images/train/set00_V014_158.png,640,480,2021-04-03 12:21:50.728982,1,,
20,21,selected_caltech/images/train/set00_V007_1785.png,640,480,2021-04-03 12:21:50.728982,1,,
21,22,selected_caltech/images/train/set00_V009_1573.png,640,480,2021-04-03 12:21:50.728982,1,,
22,23,selected_caltech/images/train/set00_V008_306.png,640,480,2021-04-03 12:21:50.728982,1,,
23,24,selected_caltech/images/train/set00_V009_613.png,640,480,2021-04-03 12:21:50.728982,1,,

In [506]:
cl_ann_df = add_area(cl_ann_df)

In [507]:
selected_img_df = copy.deepcopy(cl_img_df)
selected_ann_df = copy.deepcopy(cl_ann_df)
aug_img_df.shape[0] + selected_img_df.shape[0]

3581

In [508]:
aug_img_df, selected_ann_df = uodate_id_in_image_ann(selected_img_df, aug_img_df, selected_ann_df)

aug_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
1,2,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
2,3,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
3,4,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
4,5,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
...,...,...,...,...,...,...,...,...
3576,3577,selected_caltech/images/train/set00_V014_158.png,640,480,2021-04-03 12:21:50.728982,1.0,,
3577,3578,selected_caltech/images/train/set00_V007_1785.png,640,480,2021-04-03 12:21:50.728982,1.0,,
3578,3579,selected_caltech/images/train/set00_V009_1573.png,640,480,2021-04-03 12:21:50.728982,1.0,,
3579,3580,selected_caltech/images/train/set00_V008_306.png,640,480,2021-04-03 12:21:50.728982,1.0,,
3580,3581,selected_caltech/images/train/set00_V009_613.png,640,480,2021-04-03 12:21:50.728982,1.0,,

In [509]:
aug_img_df.shape[0]

3581

In [510]:
selected_ann_df.shape[0] + ann_df_c.shape[0]

37441

In [511]:
ann_df_c = concat_ann_df(ann_df_c, selected_ann_df)

for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']

ann_df_c

,id,image_id,category_id,iscrowd,bbox,width,height,area,ignore
0,1,1,1,1,"[1137.0, 307.0, 8.0, 9.0]",2048,1024,72,NaN
1,2,1,1,1,"[1911.0, 359.0, 10.0, 54.0]",2048,1024,540,NaN
2,3,1,1,1,"[1034.0, 366.0, 31.0, 75.0]",2048,1024,2325,NaN
3,4,2,1,0,"[281.0, 381.0, 89.0, 216.0]",2048,1024,19224,NaN
4,5,2,1,0,"[602.0, 413.0, 60.0, 146.0]",2048,1024,8760,NaN
...,...,...,...,...,...,...,...,...,...
37436,37437,3579,1,0,"[382, 136, 38, 78]",640,480,2964,NaN
37437,37438,3580,1,0,"[16, 161, 62, 80]",640,480,4960,NaN
37438,37439,3580,1,0,"[103, 167, 37, 56]",640,480,2072,NaN
37439,37440,3580,1,0,"[398, 159, 47, 32]",640,480,1504,NaN
37440,37441,3581,1,0,"[41, 173, 45, 72]",640,480,3240,NaN

In [512]:
ann_df_c["iscrowd"].replace({1: True, 0:False}, inplace=True)
ann_df_c['ignore'] = ann_df_c['ignore'].fillna(0)
# ann_df_c = ann_df_c.drop(['hbox', 'vbox'], axis = 1)
ann_df_c

,id,image_id,category_id,iscrowd,bbox,width,height,area,ignore
0,1,1,1,True,"[1137.0, 307.0, 8.0, 9.0]",2048,1024,72,0.0
1,2,1,1,True,"[1911.0, 359.0, 10.0, 54.0]",2048,1024,540,0.0
2,3,1,1,True,"[1034.0, 366.0, 31.0, 75.0]",2048,1024,2325,0.0
3,4,2,1,False,"[281.0, 381.0, 89.0, 216.0]",2048,1024,19224,0.0
4,5,2,1,False,"[602.0, 413.0, 60.0, 146.0]",2048,1024,8760,0.0
...,...,...,...,...,...,...,...,...,...
37436,37437,3579,1,False,"[382, 136, 38, 78]",640,480,2964,0.0
37437,37438,3580,1,False,"[16, 161, 62, 80]",640,480,4960,0.0
37438,37439,3580,1,False,"[103, 167, 37, 56]",640,480,2072,0.0
37439,37440,3580,1,False,"[398, 159, 47, 32]",640,480,1504,0.0
37440,37441,3581,1,False,"[41, 173, 45, 72]",640,480,3240,0.0

In [513]:
ann_df_c[ann_df_c.category_id != 1]

Empty DataFrame
Columns: [id, image_id, category_id, iscrowd, bbox, width, height, area, ignore]
Index: []

In [514]:
wheel_data['categories']

[{'id': 1, 'name': 'pedestrain', 'supercategory': 'pedestrain'}]

#### test anno

In [610]:
ct_file = 'json_files/selected_caltech/test.json'

f = open(ct_file)
ct_data = json.load(f)
ct_categories = ct_data['categories']
ct_images = ct_data['images']
ct_annotations = ct_data['annotations']

ct_img_df = pd.DataFrame(ct_images)
ct_ann_df = pd.DataFrame(ct_annotations)

print(ct_img_df.shape[0])
print(ct_ann_df.shape[0])

print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])
s_img_df = copy.deepcopy(ct_img_df)
s_ann_df = copy.deepcopy(ct_ann_df)

t_aug_img_df, s_ann_df = uodate_id_in_image_ann(s_img_df, t_aug_img_df, s_ann_df)
t_ann_df_c = concat_ann_df(t_ann_df_c, s_ann_df)
print(t_aug_img_df.shape[0])
print(t_ann_df_c.shape[0])

6
21
669
6744
675
6765

In [613]:
t_ann_df_c

,id,image_id,category_id,iscrowd,bbox,width,height,area,ignore
0,1,1,1,0,"[1183.0, 404.0, 31.0, 75.0]",2048.0,1024.0,2325,NaN
1,2,1,1,0,"[425.0, 345.0, 71.0, 172.0]",2048.0,1024.0,12212,NaN
2,3,1,1,0,"[484.0, 338.0, 76.0, 185.0]",2048.0,1024.0,14060,NaN
3,4,2,1,1,"[1746.0, 340.0, 134.0, 327.0]",2048.0,1024.0,43818,NaN
4,5,2,1,1,"[1011.0, 428.0, 23.0, 55.0]",2048.0,1024.0,1265,NaN
...,...,...,...,...,...,...,...,...,...
6760,6761,673,1,0,"[184, 169, 20, 35]",640.0,480.0,NaN,NaN
6761,6762,673,1,0,"[175, 153, 21, 51]",640.0,480.0,NaN,NaN
6762,6763,674,1,0,"[480, 153, 36, 98]",640.0,480.0,NaN,NaN
6763,6764,674,1,0,"[45, 172, 13, 50]",640.0,480.0,NaN,NaN
6764,6765,674,1,0,"[25, 174, 18, 54]",640.0,480.0,NaN,NaN

In [612]:
t_aug_img_df

,id,file_name,width,height,date_captured,license,coco_url,flickr_url
0,1,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
1,2,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
2,3,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
3,4,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
4,5,CityPersons/leftImg8bit_trainvaltest//leftImg8...,2048,1024,2019-07-25 11:20:43.195846,1.0,,
...,...,...,...,...,...,...,...,...
670,671,selected_caltech/images/test/set00_V012_1200.png,640,480,2021-04-15 13:32:40.736571,1.0,,
671,672,selected_caltech/images/test/set00_V014_218.png,640,480,2021-04-15 13:32:40.736571,1.0,,
672,673,selected_caltech/images/test/set00_V013_1489.png,640,480,2021-04-15 13:32:40.736571,1.0,,
673,674,selected_caltech/images/test/set00_V013_589.png,640,480,2021-04-15 13:32:40.736571,1.0,,
674,675,selected_caltech/images/test/set02_V009_1196.png,640,480,2021-04-15 13:32:40.736571,1.0,,

In [617]:
aug_data_test = dict()
aug_data_test['info'] = cp_data['info']
aug_data_test['licenses'] = wheel_data['licenses']
aug_data_test['categories'] = wheel_data['categories']

aug_data_test['images'] = t_aug_img_df.to_dict('records')
aug_data_test['annotations'] = t_ann_df_c.to_dict('records')

with open('datasets/aug_test.json', 'w') as fp:
    json.dump(aug_data_test, fp)

### Save to Json

In [515]:
aug_data_train = dict()
aug_data_train['info'] = cp_data['info']
aug_data_train['licenses'] = wheel_data['licenses']
aug_data_train['categories'] = wheel_data['categories']

aug_data_train['images'] = aug_img_df.to_dict('records')
aug_data_train['annotations'] = ann_df_c.to_dict('records')

In [516]:
with open('datasets/cp_train.json', 'w') as fp:
    json.dump(aug_data_train, fp)

## Validation

In [517]:
cp_file = 'json_files/CityPersons/val_gt_for_mmdetction.json'
f = open(cp_file)
cp_data = json.load(f)
# cp_licenses = cp_data['licenses']
cp_categories = cp_data['categories']
cp_images = cp_data['images']
cp_annotations = cp_data['annotations']
cp_img_df = pd.DataFrame(cp_images)
cp_ann_df = pd.DataFrame(cp_annotations)

In [518]:
for idx, row in cp_img_df.iterrows():
    cp_img_df.at[cp_img_df.index[idx], 'file_name'] = 'CityPersons/leftImg8bit_trainvaltest/leftImg8bit/val_all_in_folder/' + cp_img_df.at[cp_img_df.index[idx], 'file_name']
cp_img_df

      id                                          file_name  height  width
0      1  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
1      2  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
2      3  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
3      4  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
4      5  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
..   ...                                                ...     ...    ...
495  496  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
496  497  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
497  498  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
498  499  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
499  500  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048

[500 rows x 4 columns]

In [519]:
cp_ann_df['height'] = ""
cp_ann_df['width'] = ""
for idx, row in cp_img_df.iterrows():            
    cp_ann_df.loc[cp_ann_df['image_id'] == idx + 1, 'height'] = cp_img_df.at[idx, 'height']
    cp_ann_df.loc[cp_ann_df['image_id'] == idx + 1, 'width'] = cp_img_df.at[idx, 'width']

In [520]:
cp_ann_df = cp_ann_df.drop(['vis_bbox', 'vis_ratio'], axis = 1)
cp_ann_df = add_area(cp_ann_df)
cp_ann_df

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
0,1,1,1,0,0,"[947, 406, 17, 40]",1024,2048,680
1,2,1,1,0,0,"[1157, 375, 41, 99]",1024,2048,4059
2,3,1,1,0,0,"[1195, 381, 35, 84]",1024,2048,2940
3,4,1,1,0,0,"[1223, 379, 38, 91]",1024,2048,3458
4,5,1,1,0,1,"[1839, 382, 31, 71]",1024,2048,2201
...,...,...,...,...,...,...,...,...,...
5790,5791,498,1,0,1,"[1351, 402, 28, 68]",1024,2048,1904
5791,5792,499,1,0,1,"[1370, 391, 26, 18]",1024,2048,468
5792,5793,499,1,0,1,"[1468, 338, 11, 13]",1024,2048,143
5793,5794,499,1,0,1,"[925, 434, 27, 18]",1024,2048,486
5794,5795,499,1,0,1,"[877, 435, 28, 17]",1024,2048,476

In [521]:
val_img_cp, test_img_cp_from_val = splite_dataset(cp_img_df, train_size=425, test_size=75)
index_id_list = find_index_of_images(cp_img_df, image_name_list=val_img_cp)

val_cp_img_df = create_img_df(cp_img_df, index_id_list)
val_cp_ann_df = create_ann_df(cp_ann_df, index_id_list)

val_cp_img_df

      id                                          file_name  height  width
240  241  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
493  494  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
368  369  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
223  224  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
390  391  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
..   ...                                                ...     ...    ...
243  244  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
346  347  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
174  175  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
435  436  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
161  162  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048

[425 rows x 4 columns]

In [522]:
val_cp_ann_df

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
3583,3584,241,1,0,0,"[810, 416, 10, 22]",1024,2048,220
3584,3585,241,1,0,0,"[821, 411, 11, 26]",1024,2048,286
3585,3586,241,1,0,0,"[1357, 316, 75, 182]",1024,2048,13650
3586,3587,241,1,0,0,"[1313, 333, 72, 177]",1024,2048,12744
3587,3588,241,1,0,1,"[928, 408, 11, 25]",1024,2048,275
...,...,...,...,...,...,...,...,...,...
2252,2253,162,1,0,1,"[825, 380, 13, 32]",1024,2048,416
2253,2254,162,1,0,1,"[1417, 353, 23, 29]",1024,2048,667
2254,2255,162,1,0,1,"[1456, 351, 14, 29]",1024,2048,406
2255,2256,162,1,0,1,"[768, 385, 16, 19]",1024,2048,304
2256,2257,162,1,1,1,"[276, 395, 72, 31]",1024,2048,2232

In [523]:
im_df = copy.deepcopy(val_cp_img_df)
ann_df = copy.deepcopy(val_cp_ann_df)

In [524]:
ann_df

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
3583,3584,241,1,0,0,"[810, 416, 10, 22]",1024,2048,220
3584,3585,241,1,0,0,"[821, 411, 11, 26]",1024,2048,286
3585,3586,241,1,0,0,"[1357, 316, 75, 182]",1024,2048,13650
3586,3587,241,1,0,0,"[1313, 333, 72, 177]",1024,2048,12744
3587,3588,241,1,0,1,"[928, 408, 11, 25]",1024,2048,275
...,...,...,...,...,...,...,...,...,...
2252,2253,162,1,0,1,"[825, 380, 13, 32]",1024,2048,416
2253,2254,162,1,0,1,"[1417, 353, 23, 29]",1024,2048,667
2254,2255,162,1,0,1,"[1456, 351, 14, 29]",1024,2048,406
2255,2256,162,1,0,1,"[768, 385, 16, 19]",1024,2048,304
2256,2257,162,1,1,1,"[276, 395, 72, 31]",1024,2048,2232

In [525]:
im_df = im_df.sort_values('id')
im_df

      id                                          file_name  height  width
0      1  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
1      2  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
4      5  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
5      6  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
6      7  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
..   ...                                                ...     ...    ...
493  494  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
494  495  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
495  496  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
496  497  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
497  498  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048

[425 rows x 4 columns]

In [526]:
val_cp_ann_df.loc[val_cp_ann_df['image_id'] == 294]

Empty DataFrame
Columns: [id, image_id, category_id, iscrowd, ignore, bbox, height, width, area]
Index: []

In [527]:
im_df.reset_index(drop=True, inplace=True)
for idx, row in im_df.iterrows():
    img_id = im_df.at[im_df.index[idx], 'id']
    im_df.at[im_df.index[idx], 'id'] = idx + 1
    print(f"try replace {img_id} to {idx + 1} in anno")
    ann_df.loc[ann_df.image_id == img_id, 'image_id'] = idx + 1

im_df

try replace 1 to 1 in anno
try replace 2 to 2 in anno
try replace 5 to 3 in anno
try replace 6 to 4 in anno
try replace 7 to 5 in anno
try replace 8 to 6 in anno
try replace 9 to 7 in anno
try replace 11 to 8 in anno
try replace 12 to 9 in anno
try replace 13 to 10 in anno
try replace 15 to 11 in anno
try replace 17 to 12 in anno
try replace 19 to 13 in anno
try replace 20 to 14 in anno
try replace 21 to 15 in anno
try replace 23 to 16 in anno
try replace 24 to 17 in anno
try replace 25 to 18 in anno
try replace 26 to 19 in anno
try replace 27 to 20 in anno
try replace 28 to 21 in anno
try replace 29 to 22 in anno
try replace 30 to 23 in anno
try replace 31 to 24 in anno
try replace 32 to 25 in anno
try replace 33 to 26 in anno
try replace 34 to 27 in anno
try replace 35 to 28 in anno
try replace 36 to 29 in anno
try replace 37 to 30 in anno
try replace 39 to 31 in anno
try replace 40 to 32 in anno
try replace 42 to 33 in anno
try replace 43 to 34 in anno
try replace 44 to 35 in anno
try replace 45 to 36 in anno
try replace 46 to 37 in anno
try replace 47 to 38 in anno
try replace 48 to 39 in anno
try replace 50 to 40 in anno
try replace 51 to 41 in anno
try replace 52 to 42 in anno
try replace 53 to 43 in anno
try replace 54 to 44 in anno
try replace 55 to 45 in anno
try replace 56 to 46 in anno
try replace 57 to 47 in anno
try replace 58 to 48 in anno
try replace 60 to 49 in anno
try replace 61 to 50 in anno
try replace 62 to 51 in anno
try replace 63 to 52 in anno
try replace 64 to 53 in anno
try replace 65 to 54 in anno
try replace 66 to 55 in anno
try replace 68 to 56 in anno
try replace 69 to 57 in anno
try replace 70 to 58 in anno
try replace 71 to 59 in anno
try replace 72 to 60 in anno
try replace 73 to 61 in anno
try replace 74 to 62 in anno
try replace 75 to 63 in anno
try replace 76 to 64 in anno
try replace 77 to 65 in anno
try replace 78 to 66 in anno
try replace 79 to 67 in anno
try replace 80 to 68 in anno
try replace 81 to 69 in anno
try replace 82 to 70 in anno
try replace 83 to 71 in anno
try replace 84 to 72 in anno
try replace 85 to 73 in anno
try replace 86 to 74 in anno
try replace 87 to 75 in anno
try replace 88 to 76 in anno
try replace 89 to 77 in anno
try replace 90 to 78 in anno
try replace 91 to 79 in anno
try replace 92 to 80 in anno
try replace 94 to 81 in anno
try replace 95 to 82 in anno
try replace 97 to 83 in anno
try replace 99 to 84 in anno
try replace 100 to 85 in anno
try replace 101 to 86 in anno
try replace 102 to 87 in anno
try replace 103 to 88 in anno
try replace 105 to 89 in anno
try replace 106 to 90 in anno
try replace 108 to 91 in anno
try replace 109 to 92 in anno
try replace 110 to 93 in anno
try replace 112 to 94 in anno
try replace 113 to 95 in anno
try replace 114 to 96 in anno
try replace 116 to 97 in anno
try replace 117 to 98 in anno
try replace 118 to 99 in anno
try replace 119 to 100 in anno
try replace 120 to 101 in anno
try replace 121 to 102 in anno
try replace 122 to 103 in anno
try replace 123 to 104 in anno
try replace 124 to 105 in anno
try replace 125 to 106 in anno
try replace 126 to 107 in anno
try replace 127 to 108 in anno
try replace 128 to 109 in anno
try replace 129 to 110 in anno
try replace 130 to 111 in anno
try replace 131 to 112 in anno
try replace 132 to 113 in anno
try replace 133 to 114 in anno
try replace 134 to 115 in anno
try replace 137 to 116 in anno
try replace 138 to 117 in anno
try replace 139 to 118 in anno
try replace 140 to 119 in anno
try replace 141 to 120 in anno
try replace 142 to 121 in anno
try replace 143 to 122 in anno
try replace 144 to 123 in anno
try replace 145 to 124 in anno
try replace 146 to 125 in anno
try replace 147 to 126 in anno
try replace 148 to 127 in anno
try replace 149 to 128 in anno
try replace 150 to 129 in anno
try replace 151 to 130 in anno
try replace 153 to 131 in anno
try replace 155 to 132 in anno
try replace 157 to 133 in anno
try replace 158 to 134 in anno
try replace 159 to 135 in anno
try replace 160 to 136 in anno
try replace 161 to 137 in anno
try replace 162 to 138 in anno
try replace 163 to 139 in anno
try replace 164 to 140 in anno
try replace 165 to 141 in anno
try replace 166 to 142 in anno
try replace 167 to 143 in anno
try replace 168 to 144 in anno
try replace 169 to 145 in anno
try replace 170 to 146 in anno
try replace 171 to 147 in anno
try replace 172 to 148 in anno
try replace 173 to 149 in anno
try replace 174 to 150 in anno
try replace 175 to 151 in anno
try replace 176 to 152 in anno
try replace 178 to 153 in anno
try replace 179 to 154 in anno
try replace 180 to 155 in anno
try replace 181 to 156 in anno
try replace 182 to 157 in anno
try replace 183 to 158 in anno
try replace 184 to 159 in anno
try replace 185 to 160 in anno
try replace 186 to 161 in anno
try replace 187 to 162 in anno
try replace 188 to 163 in anno
try replace 189 to 164 in anno
try replace 190 to 165 in anno
try replace 191 to 166 in anno
try replace 192 to 167 in anno
try replace 193 to 168 in anno
try replace 194 to 169 in anno
try replace 195 to 170 in anno
try replace 196 to 171 in anno
try replace 198 to 172 in anno
try replace 199 to 173 in anno
try replace 200 to 174 in anno
try replace 201 to 175 in anno
try replace 202 to 176 in anno
try replace 203 to 177 in anno
try replace 204 to 178 in anno
try replace 205 to 179 in anno
try replace 206 to 180 in anno
try replace 207 to 181 in anno
try replace 208 to 182 in anno
try replace 209 to 183 in anno
try replace 211 to 184 in anno
try replace 212 to 185 in anno
try replace 213 to 186 in anno
try replace 214 to 187 in anno
try replace 215 to 188 in anno
try replace 216 to 189 in anno
try replace 217 to 190 in anno
try replace 218 to 191 in anno
try replace 219 to 192 in anno
try replace 223 to 193 in anno
try replace 224 to 194 in anno
try replace 225 to 195 in anno
try replace 226 to 196 in anno
try replace 227 to 197 in anno
try replace 228 to 198 in anno
try replace 229 to 199 in anno
try replace 230 to 200 in anno
try replace 231 to 201 in anno
try replace 232 to 202 in anno
try replace 233 to 203 in anno
try replace 234 to 204 in anno
try replace 235 to 205 in anno
try replace 236 to 206 in anno
try replace 237 to 207 in anno
try replace 238 to 208 in anno
try replace 239 to 209 in anno
try replace 240 to 210 in anno
try replace 241 to 211 in anno
try replace 242 to 212 in anno
try replace 243 to 213 in anno
try replace 244 to 214 in anno
try replace 247 to 215 in anno
try replace 248 to 216 in anno
try replace 249 to 217 in anno
try replace 250 to 218 in anno
try replace 251 to 219 in anno
try replace 253 to 220 in anno
try replace 254 to 221 in anno
try replace 255 to 222 in anno
try replace 256 to 223 in anno
try replace 257 to 224 in anno
try replace 258 to 225 in anno
try replace 260 to 226 in anno
try replace 261 to 227 in anno
try replace 262 to 228 in anno
try replace 263 to 229 in anno
try replace 264 to 230 in anno
try replace 265 to 231 in anno
try replace 266 to 232 in anno
try replace 267 to 233 in anno
try replace 268 to 234 in anno
try replace 269 to 235 in anno
try replace 270 to 236 in anno
try replace 271 to 237 in anno
try replace 273 to 238 in anno
try replace 274 to 239 in anno
try replace 275 to 240 in anno
try replace 277 to 241 in anno
try replace 278 to 242 in anno
try replace 279 to 243 in anno
try replace 280 to 244 in anno
try replace 282 to 245 in anno
try replace 284 to 246 in anno
try replace 285 to 247 in anno
try replace 286 to 248 in anno
try replace 287 to 249 in anno
try replace 288 to 250 in anno
try replace 289 to 251 in anno
try replace 291 to 252 in anno
try replace 292 to 253 in anno
try replace 293 to 254 in anno
try replace 294 to 255 in anno
try replace 295 to 256 in anno
try replace 296 to 257 in anno
try replace 297 to 258 in anno
try replace 298 to 259 in anno
try replace 299 to 260 in anno
try replace 301 to 261 in anno
try replace 302 to 262 in anno
try replace 304 to 263 in anno
try replace 305 to 264 in anno
try replace 306 to 265 in anno
try replace 308 to 266 in anno
try replace 310 to 267 in anno
try replace 311 to 268 in anno
try replace 312 to 269 in anno
try replace 313 to 270 in anno
try replace 314 to 271 in anno
try replace 315 to 272 in anno
try replace 316 to 273 in anno
try replace 317 to 274 in anno
try replace 318 to 275 in anno
try replace 319 to 276 in anno
try replace 320 to 277 in anno
try replace 322 to 278 in anno
try replace 323 to 279 in anno
try replace 324 to 280 in anno
try replace 325 to 281 in anno
try replace 327 to 282 in anno
try replace 328 to 283 in anno
try replace 329 to 284 in anno
try replace 330 to 285 in anno
try replace 331 to 286 in anno
try replace 332 to 287 in anno
try replace 333 to 288 in anno
try replace 334 to 289 in anno
try replace 335 to 290 in anno
try replace 336 to 291 in anno
try replace 337 to 292 in anno
try replace 338 to 293 in anno
try replace 339 to 294 in anno
try replace 340 to 295 in anno
try replace 341 to 296 in anno
try replace 342 to 297 in anno
try replace 344 to 298 in anno
try replace 345 to 299 in anno
try replace 346 to 300 in anno
try replace 347 to 301 in anno
try replace 348 to 302 in anno
try replace 349 to 303 in anno
try replace 350 to 304 in anno
try replace 352 to 305 in anno
try replace 354 to 306 in anno
try replace 356 to 307 in anno
try replace 357 to 308 in anno
try replace 358 to 309 in anno
try replace 359 to 310 in anno
try replace 360 to 311 in anno
try replace 361 to 312 in anno
try replace 362 to 313 in anno
try replace 363 to 314 in anno
try replace 364 to 315 in anno
try replace 365 to 316 in anno
try replace 366 to 317 in anno
try replace 367 to 318 in anno
try replace 368 to 319 in anno
try replace 369 to 320 in anno
try replace 370 to 321 in anno
try replace 371 to 322 in anno
try replace 373 to 323 in anno
try replace 376 to 324 in anno
try replace 378 to 325 in anno
try replace 379 to 326 in anno
try replace 380 to 327 in anno
try replace 382 to 328 in anno
try replace 383 to 329 in anno
try replace 385 to 330 in anno
try replace 387 to 331 in anno
try replace 388 to 332 in anno
try replace 390 to 333 in anno
try replace 391 to 334 in anno
try replace 392 to 335 in anno
try replace 393 to 336 in anno
try replace 394 to 337 in anno
try replace 395 to 338 in anno
try replace 396 to 339 in anno
try replace 397 to 340 in anno
try replace 398 to 341 in anno
try replace 399 to 342 in anno
try replace 400 to 343 in anno
try replace 401 to 344 in anno
try replace 403 to 345 in anno
try replace 404 to 346 in anno
try replace 405 to 347 in anno
try replace 406 to 348 in anno
try replace 407 to 349 in anno
try replace 408 to 350 in anno
try replace 409 to 351 in anno
try replace 410 to 352 in anno
try replace 411 to 353 in anno
try replace 412 to 354 in anno
try replace 414 to 355 in anno
try replace 415 to 356 in anno
try replace 416 to 357 in anno
try replace 417 to 358 in anno
try replace 418 to 359 in anno
try replace 419 to 360 in anno
try replace 420 to 361 in anno
try replace 421 to 362 in anno
try replace 422 to 363 in anno
try replace 423 to 364 in anno
try replace 424 to 365 in anno
try replace 425 to 366 in anno
try replace 426 to 367 in anno
try replace 427 to 368 in anno
try replace 428 to 369 in anno
try replace 430 to 370 in anno
try replace 431 to 371 in anno
try replace 432 to 372 in anno

try replace 434 to 373 in anno
try replace 435 to 374 in anno
try replace 436 to 375 in anno
try replace 437 to 376 in anno
try replace 438 to 377 in anno
try replace 439 to 378 in anno
try replace 440 to 379 in anno
try replace 442 to 380 in anno
try replace 443 to 381 in anno
try replace 444 to 382 in anno
try replace 446 to 383 in anno
try replace 447 to 384 in anno
try replace 448 to 385 in anno
try replace 449 to 386 in anno
try replace 450 to 387 in anno
try replace 451 to 388 in anno
try replace 453 to 389 in anno
try replace 454 to 390 in anno
try replace 455 to 391 in anno
try replace 456 to 392 in anno
try replace 458 to 393 in anno
try replace 459 to 394 in anno
try replace 460 to 395 in anno
try replace 462 to 396 in anno
try replace 463 to 397 in anno
try replace 466 to 398 in anno
try replace 467 to 399 in anno
try replace 468 to 400 in anno
try replace 469 to 401 in anno
try replace 470 to 402 in anno
try replace 471 to 403 in anno
try replace 473 to 404 in anno
try replace 474 to 405 in anno
try replace 476 to 406 in anno
try replace 477 to 407 in anno
try replace 478 to 408 in anno
try replace 479 to 409 in anno
try replace 480 to 410 in anno
try replace 482 to 411 in anno
try replace 483 to 412 in anno
try replace 484 to 413 in anno
try replace 486 to 414 in anno
try replace 488 to 415 in anno
try replace 489 to 416 in anno
try replace 490 to 417 in anno
try replace 491 to 418 in anno
try replace 492 to 419 in anno
try replace 493 to 420 in anno
try replace 494 to 421 in anno
try replace 495 to 422 in anno
try replace 496 to 423 in anno
try replace 497 to 424 in anno
try replace 498 to 425 in anno

      id                                          file_name  height  width
0      1  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
1      2  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
2      3  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
3      4  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
4      5  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
..   ...                                                ...     ...    ...
420  421  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
421  422  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
422  423  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
423  424  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048
424  425  CityPersons/leftImg8bit_trainvaltest/leftImg8b...    1024   2048

[425 rows x 4 columns]

In [528]:
ann_df = ann_df.sort_values('image_id')
ann_df

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
8,9,1,1,0,1,"[963, 378, 6, 8]",1024,2048,48
5,6,1,1,0,1,"[1617, 354, 24, 31]",1024,2048,744
6,7,1,1,0,1,"[1940, 455, 30, 54]",1024,2048,1620
7,8,1,1,0,1,"[1150, 347, 11, 14]",1024,2048,154
9,10,1,1,0,1,"[1834, 101, 65, 58]",1024,2048,3770
...,...,...,...,...,...,...,...,...,...
5782,5783,424,1,0,0,"[818, 410, 13, 32]",1024,2048,416
5787,5788,425,1,0,0,"[1029, 423, 16, 41]",1024,2048,656
5788,5789,425,1,0,0,"[1386, 418, 22, 53]",1024,2048,1166
5789,5790,425,1,0,1,"[1000, 424, 14, 34]",1024,2048,476
5790,5791,425,1,0,1,"[1351, 402, 28, 68]",1024,2048,1904

In [529]:
for i in range(425):
    if ann_df.loc[ann_df['image_id'] == i].empty:
        print(f'{i} is empty')

0 is empty
7 is empty
255 is empty
256 is empty
257 is empty
259 is empty
262 is empty
268 is empty
335 is empty
350 is empty
368 is empty

In [530]:
ann_df.reset_index(drop=True, inplace=True)
ann_df

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
0,9,1,1,0,1,"[963, 378, 6, 8]",1024,2048,48
1,6,1,1,0,1,"[1617, 354, 24, 31]",1024,2048,744
2,7,1,1,0,1,"[1940, 455, 30, 54]",1024,2048,1620
3,8,1,1,0,1,"[1150, 347, 11, 14]",1024,2048,154
4,10,1,1,0,1,"[1834, 101, 65, 58]",1024,2048,3770
...,...,...,...,...,...,...,...,...,...
4968,5783,424,1,0,0,"[818, 410, 13, 32]",1024,2048,416
4969,5788,425,1,0,0,"[1029, 423, 16, 41]",1024,2048,656
4970,5789,425,1,0,0,"[1386, 418, 22, 53]",1024,2048,1166
4971,5790,425,1,0,1,"[1000, 424, 14, 34]",1024,2048,476
4972,5791,425,1,0,1,"[1351, 402, 28, 68]",1024,2048,1904

In [531]:
for idx, row in ann_df.iterrows():
    ann_df.at[ann_df.index[idx], 'id'] = idx + 1

In [532]:
ann_df

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
0,1,1,1,0,1,"[963, 378, 6, 8]",1024,2048,48
1,2,1,1,0,1,"[1617, 354, 24, 31]",1024,2048,744
2,3,1,1,0,1,"[1940, 455, 30, 54]",1024,2048,1620
3,4,1,1,0,1,"[1150, 347, 11, 14]",1024,2048,154
4,5,1,1,0,1,"[1834, 101, 65, 58]",1024,2048,3770
...,...,...,...,...,...,...,...,...,...
4968,4969,424,1,0,0,"[818, 410, 13, 32]",1024,2048,416
4969,4970,425,1,0,0,"[1029, 423, 16, 41]",1024,2048,656
4970,4971,425,1,0,0,"[1386, 418, 22, 53]",1024,2048,1166
4971,4972,425,1,0,1,"[1000, 424, 14, 34]",1024,2048,476
4972,4973,425,1,0,1,"[1351, 402, 28, 68]",1024,2048,1904

In [533]:
aug_img_df = copy.deepcopy(im_df)
ann_df_c = copy.deepcopy(ann_df)

In [534]:
## Base validation
aug_data_val = dict()
aug_data_val['info'] = cp_info
aug_data_val['categories'] = cp_cat
aug_data_val['images'] = aug_img_df.to_dict('records')
aug_data_val['annotations'] = ann_df_c.to_dict('records')
with open('datasets/cityperson_val.json', 'w') as fp:
    json.dump(aug_data_val, fp)

### ECP

In [535]:
index_id_list = find_index_of_images(ecp_img_df, image_name_list=val_img_ecp)

selected_img_df = create_img_df(ecp_img_df, index_id_list)

selected_ann_df = create_ann_df(ecp_ann_df, index_id_list)
selected_ann_df = add_area(selected_ann_df)
selected_ann_df

,id,image_id,category_id,iscrowd,bbox,width,height,area
13275,13276,1947,1,False,"[1260.0, 525.0, 25.0, 79.0]",1920,1024,1975
13276,13277,1947,1,False,"[1469.0, 536.0, 15.0, 37.0]",1920,1024,555
13277,13278,1947,1,True,"[1694.0, 535.0, 22.0, 20.0]",1920,1024,440
133239,133240,16893,1,False,"[1058.0, 545.0, 10.0, 34.0]",1920,1024,340
133240,133241,16893,1,False,"[1075.0, 542.0, 11.0, 36.0]",1920,1024,396
...,...,...,...,...,...,...,...,...
19916,19917,3145,1,False,"[926.0, 562.0, 27.0, 76.0]",1920,1024,2052
19917,19918,3145,1,False,"[1052.0, 579.0, 23.0, 61.0]",1920,1024,1403
19918,19919,3145,1,False,"[1072.0, 562.0, 30.0, 77.0]",1920,1024,2310
19919,19920,3145,1,False,"[1470.0, 537.0, 23.0, 69.0]",1920,1024,1587
19920,19921,3145,1,True,"[1700.0, 516.0, 45.0, 107.0]",1920,1024,4815

In [536]:
print(aug_img_df.shape[0])
aug_img_df, selected_ann_df = uodate_id_in_image_ann(selected_img_df, aug_img_df, selected_ann_df)
aug_img_df.shape[0]

425

511

In [537]:
print(ann_df_c.shape[0])
ann_df_c = concat_ann_df(ann_df_c, selected_ann_df)
print(ann_df_c.shape[0])
for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']

ann_df_c

4973
5712

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
0,1,1,1,0,1.0,"[963, 378, 6, 8]",1024,2048,48
1,2,1,1,0,1.0,"[1617, 354, 24, 31]",1024,2048,744
2,3,1,1,0,1.0,"[1940, 455, 30, 54]",1024,2048,1620
3,4,1,1,0,1.0,"[1150, 347, 11, 14]",1024,2048,154
4,5,1,1,0,1.0,"[1834, 101, 65, 58]",1024,2048,3770
...,...,...,...,...,...,...,...,...,...
5707,5708,438,1,0,NaN,"[926.0, 562.0, 27.0, 76.0]",1024,1920,2052
5708,5709,438,1,0,NaN,"[1052.0, 579.0, 23.0, 61.0]",1024,1920,1403
5709,5710,438,1,0,NaN,"[1072.0, 562.0, 30.0, 77.0]",1024,1920,2310
5710,5711,438,1,0,NaN,"[1470.0, 537.0, 23.0, 69.0]",1024,1920,1587
5711,5712,438,1,1,NaN,"[1700.0, 516.0, 45.0, 107.0]",1024,1920,4815

### CH

In [538]:
index_id_list = find_index_of_images(ch_img_df, image_name_list=val_img_ch)

selected_img_df = create_img_df(ch_img_df, index_id_list)
selected_ann_df = create_ann_df(ch_ann_df, index_id_list)
print(selected_img_df.shape[0])
print(selected_ann_df.shape[0])

selected_ann_df = add_area(selected_ann_df)

aug_img_df, selected_ann_df = uodate_id_in_image_ann(selected_img_df, aug_img_df, selected_ann_df, dt='ch')

print(ann_df_c.shape[0])
ann_df_c = concat_ann_df(ann_df_c, selected_ann_df)
print(ann_df_c.shape[0])

for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']
ann_df_c

122
2259
5712
7971

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area,hbox,vbox
0,1,1,1,0,1.0,"[963, 378, 6, 8]",1024,2048,48,NaN,NaN
1,2,1,1,0,1.0,"[1617, 354, 24, 31]",1024,2048,744,NaN,NaN
2,3,1,1,0,1.0,"[1940, 455, 30, 54]",1024,2048,1620,NaN,NaN
3,4,1,1,0,1.0,"[1150, 347, 11, 14]",1024,2048,154,NaN,NaN
4,5,1,1,0,1.0,"[1834, 101, 65, 58]",1024,2048,3770,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7966,7967,594,1,0,0.0,"[334, 113, 111, 391]",600,769,43401,"[361, 118, 48, 65]","[334, 113, 111, 391]"
7967,7968,594,1,0,0.0,"[255, 220, 100, 275]",600,769,27500,"[281, 225, 41, 51]","[255, 220, 100, 275]"
7968,7969,594,1,0,0.0,"[229, 88, 133, 391]",600,769,52003,"[266, 91, 46, 63]","[229, 88, 133, 391]"
7969,7970,594,1,0,0.0,"[90, 92, 153, 442]",600,769,67626,"[132, 95, 56, 67]","[90, 92, 153, 442]"
7970,7971,594,1,0,0.0,"[107, 246, 109, 310]",600,769,33790,"[124, 251, 57, 59]","[107, 246, 109, 310]"

In [539]:
ann_df_c = ann_df_c.drop(['hbox', 'vbox'], axis = 1)
ann_df_c

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
0,1,1,1,0,1.0,"[963, 378, 6, 8]",1024,2048,48
1,2,1,1,0,1.0,"[1617, 354, 24, 31]",1024,2048,744
2,3,1,1,0,1.0,"[1940, 455, 30, 54]",1024,2048,1620
3,4,1,1,0,1.0,"[1150, 347, 11, 14]",1024,2048,154
4,5,1,1,0,1.0,"[1834, 101, 65, 58]",1024,2048,3770
...,...,...,...,...,...,...,...,...,...
7966,7967,594,1,0,0.0,"[334, 113, 111, 391]",600,769,43401
7967,7968,594,1,0,0.0,"[255, 220, 100, 275]",600,769,27500
7968,7969,594,1,0,0.0,"[229, 88, 133, 391]",600,769,52003
7969,7970,594,1,0,0.0,"[90, 92, 153, 442]",600,769,67626
7970,7971,594,1,0,0.0,"[107, 246, 109, 310]",600,769,33790

### wheelchair

In [540]:
wheel_file = 'json_files/wheelchair/val.json'

f = open(wheel_file)
wheel_data = json.load(f)
wheel_categories = wheel_data['categories']
wheel_images = wheel_data['images']
wheel_annotations = wheel_data['annotations']
wheel_img_df = pd.DataFrame(wheel_images)
wheel_ann_df = pd.DataFrame(wheel_annotations)
wheel_img_df.shape[0]

4

In [541]:
wheel_ann_df = add_area(wheel_ann_df)
selected_img_df = copy.deepcopy(wheel_img_df)
selected_ann_df = copy.deepcopy(wheel_ann_df)
print(aug_img_df.shape[0])
aug_img_df, selected_ann_df = uodate_id_in_image_ann(selected_img_df, aug_img_df, selected_ann_df)

aug_img_df.shape[0]

633

637

In [542]:
print(ann_df_c.shape[0])

ann_df_c = concat_ann_df(ann_df_c, selected_ann_df)

for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']

ann_df_c.shape[0]

7971

7975

## WP

In [543]:
index_id_list = find_index_of_images(wp_img_df, image_name_list=val_img_wp)

In [544]:
selected_wp_img_df = create_img_df(wp_img_df, index_id_list)
selected_wp_ann_df = create_ann_df(wp_ann_df, index_id_list)
selected_wp_ann_df = add_area(selected_wp_ann_df)
print(selected_wp_img_df.shape[0])
selected_wp_ann_df.shape[0]

12

494

In [545]:
print(aug_img_df.shape[0])
aug_img_df, selected_wp_ann_df = uodate_id_in_image_ann(selected_wp_img_df, aug_img_df, selected_wp_ann_df)
print(aug_img_df.shape[0])

637
649

In [546]:
print(ann_df_c.shape[0])
ann_df_c = concat_ann_df(ann_df_c, selected_wp_ann_df)

for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']
print(ann_df_c.shape[0])
ann_df_c

7975
8469

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
0,1,1,1,0,1.0,"[963, 378, 6, 8]",1024,2048,48
1,2,1,1,0,1.0,"[1617, 354, 24, 31]",1024,2048,744
2,3,1,1,0,1.0,"[1940, 455, 30, 54]",1024,2048,1620
3,4,1,1,0,1.0,"[1150, 347, 11, 14]",1024,2048,154
4,5,1,1,0,1.0,"[1834, 101, 65, 58]",1024,2048,3770
...,...,...,...,...,...,...,...,...,...
8464,8465,642,1,0,NaN,"[479.0, 83.0, 59.0, 147.0]",365,550,8673
8465,8466,642,1,0,NaN,"[485.0, 38.0, 54.0, 131.0]",365,550,7074
8466,8467,642,1,0,NaN,"[439.0, 22.0, 52.0, 126.0]",365,550,6552
8467,8468,642,1,0,NaN,"[513.0, 9.0, 37.0, 112.0]",365,550,4144
8468,8469,642,1,0,NaN,"[402.0, 39.0, 29.0, 42.0]",365,550,1218

### selected_caltech

In [547]:
ca_file = 'json_files/selected_caltech/val.json'

f = open(ca_file)
cl_data = json.load(f)
cl_categories = cl_data['categories']
cl_images = cl_data['images']
cl_annotations = cl_data['annotations']
cl_img_df = pd.DataFrame(cl_images)
cl_ann_df = pd.DataFrame(cl_annotations)
print(cl_img_df.shape[0])
cl_ann_df = add_area(cl_ann_df)

print(cl_ann_df.shape[0])

6
18

In [548]:
print(aug_img_df.shape[0])
selected_img_df = copy.deepcopy(cl_img_df)
selected_ann_df = copy.deepcopy(cl_ann_df)

aug_img_df, selected_ann_df = uodate_id_in_image_ann(selected_img_df, aug_img_df, selected_ann_df)

aug_img_df.shape[0]

649

655

In [549]:
print(selected_ann_df.shape[0])
ann_df_c = concat_ann_df(ann_df_c, selected_ann_df)

for idx, row in ann_df_c.iterrows():
    assert idx + 1 == row['id']

ann_df_c["iscrowd"].replace({1: True, 0:False}, inplace=True)
ann_df_c['ignore'] = ann_df_c['ignore'].fillna(0)
ann_df_c

18

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
0,1,1,1,False,1.0,"[963, 378, 6, 8]",1024,2048,48
1,2,1,1,False,1.0,"[1617, 354, 24, 31]",1024,2048,744
2,3,1,1,False,1.0,"[1940, 455, 30, 54]",1024,2048,1620
3,4,1,1,False,1.0,"[1150, 347, 11, 14]",1024,2048,154
4,5,1,1,False,1.0,"[1834, 101, 65, 58]",1024,2048,3770
...,...,...,...,...,...,...,...,...,...
8482,8483,654,1,False,0.0,"[577, 144, 21, 57]",480,640,1197
8483,8484,654,1,False,0.0,"[406, 157, 18, 38]",480,640,684
8484,8485,654,1,False,0.0,"[482, 154, 16, 41]",480,640,656
8485,8486,655,1,False,0.0,"[287, 159, 26, 45]",480,640,1170
8486,8487,655,1,False,0.0,"[508, 148, 28, 77]",480,640,2156

In [550]:
aug_img_df['date_captured'] = ""
aug_img_df['license'] = ""
aug_img_df['coco_url'] = ""
aug_img_df['flickr_url'] = ""
aug_img_df

,id,file_name,height,width,date_captured,license,coco_url,flickr_url
0,1,CityPersons/leftImg8bit_trainvaltest/leftImg8b...,1024,2048,,,,
1,2,CityPersons/leftImg8bit_trainvaltest/leftImg8b...,1024,2048,,,,
2,3,CityPersons/leftImg8bit_trainvaltest/leftImg8b...,1024,2048,,,,
3,4,CityPersons/leftImg8bit_trainvaltest/leftImg8b...,1024,2048,,,,
4,5,CityPersons/leftImg8bit_trainvaltest/leftImg8b...,1024,2048,,,,
...,...,...,...,...,...,...,...,...
650,651,selected_caltech/images/val/set00_V007_255.png,480,640,,,,
651,652,selected_caltech/images/val/set00_V014_128.png,480,640,,,,
652,653,selected_caltech/images/val/set00_V014_998.png,480,640,,,,
653,654,selected_caltech/images/val/set00_V007_1575.png,480,640,,,,
654,655,selected_caltech/images/val/set00_V008_756.png,480,640,,,,

In [551]:
ann_df_c[ann_df_c.category_id != 1]

Empty DataFrame
Columns: [id, image_id, category_id, iscrowd, ignore, bbox, height, width, area]
Index: []

In [614]:
ann_df_c

,id,image_id,category_id,iscrowd,ignore,bbox,height,width,area
0,1,1,1,False,1.0,"[963, 378, 6, 8]",1024,2048,48
1,2,1,1,False,1.0,"[1617, 354, 24, 31]",1024,2048,744
2,3,1,1,False,1.0,"[1940, 455, 30, 54]",1024,2048,1620
3,4,1,1,False,1.0,"[1150, 347, 11, 14]",1024,2048,154
4,5,1,1,False,1.0,"[1834, 101, 65, 58]",1024,2048,3770
...,...,...,...,...,...,...,...,...,...
8482,8483,654,1,False,0.0,"[577, 144, 21, 57]",480,640,1197
8483,8484,654,1,False,0.0,"[406, 157, 18, 38]",480,640,684
8484,8485,654,1,False,0.0,"[482, 154, 16, 41]",480,640,656
8485,8486,655,1,False,0.0,"[287, 159, 26, 45]",480,640,1170
8486,8487,655,1,False,0.0,"[508, 148, 28, 77]",480,640,2156

In [552]:
cl_data['categories']

[{'id': 1, 'name': 'pedestrain', 'supercategory': 'pedestrain'}]

### Save json file

In [553]:
aug_data_train = dict()
aug_data_train['info'] = cp_info
aug_data_train['categories'] = cl_data['categories']
aug_data_train['images'] = aug_img_df.to_dict('records')
aug_data_train['annotations'] = ann_df_c.to_dict('records')
with open('datasets/cp_val.json', 'w') as fp:
    json.dump(aug_data_train, fp)